= button_bar(back: {path: admin_dashboard_scores_path})
= form_for [:admin, @performance_alert] do |f|

  %br/
  = f.label :performance_alert_reason, 'Performance Alert Reason:'
  %br/
  %br/
  = f.label :return_rate, 'Return Rate :'
  = f.check_box :return_rate
  %br/
  %br/
  = f.label :purchase_quality, 'Purchase Quality :'
  = f.check_box :lpc
  %br/
  %br/
  = f.label :relationship_managers, 'Relationship Manager :'
  = f.select :relationship_manager_id, RelationshipManager.all.map { |ic| [ ic.name, ic.id ]  }
  %br/
  %br/
  %br/
  = f.label :follow_up_date, 'Follow-up Date'
  = f.text_field :follow_up_date, value: follow_up_date, class: 'js-datetimepicker'
  %br/
  = f.hidden_field :agreement_no, value: @agreement_no

  = f.hidden_field :emails, value: @emails

  = f.submit 'Submit'
