= button_bar
%br/

= form_for [:admin, @flat_rate_offer_batch] do |f|
  = f.label :pawn_access_no
  = f.number_field :pawn_access_no

  = fields_for :buyer_information do |f|
    = f.label :emails
    %input{ id: "buyer_information_emails", name: "buyer_information[emails]", size: 30, type: "email", multiple: true, value: buyer_information.emails }

  = f.label :sales_rep_email, "Sales Rep Email *"
  = f.text_field :sales_rep_email

  = f.label :expiration_date, "Expiration Date"
  = f.date_select :expiration_date
  %br
  .print
    %table
      %thead
        %tr
          %th{colspan: 4} Offers in this batch
      %tr.offer_group_heading
        %td 5m#
        %td Price
        %td Miles
        %td PSI
      %tbody
        - @flat_rate_offer_batch.flat_rate_offers.each do |offer|
          %tr
            %td= offer.agreement_no
            %td= offer.price
            %td= offer.miles_selected
            %td= offer.psi_text
  %br
  = f.submit t('forms.update'), id: 'js-flat-rate-batch-submit'
