= button_bar(back: {path: admin_index_path})
%br/

= form_for :filters, url: admin_flat_rate_offer_batches_path, method: :get do |f|
  = f.label :pawn_access_no do
    Pawn Access#:
    = f.text_field :pawn_access_no, value: pawn_access_no_filter
  = f.label :agreement_no do
    Agreement#:
    = f.text_field :agreement_no, value: agreement_no_filter

  = f.submit(I18n.t('forms.filter'))
%br/
%h1 Flat Rate Offer Batches
= link_to 'Edit individual offers', admin_flat_rate_offers_path

= paginate @flat_rate_offer_batches
%table.data-table
  %thead
    %th Date Offered
    %th Initiating User(s)
    %th Accepted?
    %th State
    %th Pawn Access #
    %th Agreement Name
    %th Agreement Email
    %th Agreement 5m#s
    %th Sales Rep Email
    %th Expiration Date
    - if admin_policy.authorized_to_edit_flat_rate_admin_section?
      %th
      %th
      %th
      %th
      %th
  %tbody
    - @flat_rate_offer_batches.each do |flat_rate_offer_batch|
      %tr.flat_rate_offer_batch
        %td= flat_rate_offer_batch.created_at
        %td= flat_rate_offer_batch.offering_users_emails.join(', ')
        %td= flat_rate_offer_batch.approved?
        %td= flat_rate_offer_batch.state
        %td= flat_rate_offer_batch.pawn_access_no
        %td= flat_rate_offer_batch.buyer_information.name
        %td= flat_rate_offer_batch.buyer_information.emails
        %td= flat_rate_offer_batch.offered_agreement_numbers.join(', ')
        %td= flat_rate_offer_batch.sales_rep_email
        %td= flat_rate_offer_batch.expiration_date.strftime('%Y-%m-%d') unless flat_rate_offer_batch.expiration_date.blank?
        - if admin_policy.authorized_to_edit_flat_rate_admin_section?
          %td= link_to I18n.t('admin.flat_rate_offer_batches.reset'), admin_flat_rate_offer_batch_resets_path(flat_rate_offer_batch), method: :post
          %td= link_to I18n.t('admin.flat_rate_offer_batches.confirm'), admin_flat_rate_offer_batch_confirmation_path(flat_rate_offer_batch), method: :post
          %td= link_to I18n.t('admin.flat_rate_offer_batches.add_offer'), new_admin_flat_rate_offer_batch_flat_rate_offer_path(flat_rate_offer_batch)
          %td= link_to I18n.t('forms.edit'), edit_admin_flat_rate_offer_batch_path(flat_rate_offer_batch)
          %td= link_to I18n.t('forms.delete'), admin_flat_rate_offer_batch_path(flat_rate_offer_batch), method: :delete, data: { confirm: 'Are you sure?' }
