#admin_recent_promise_offers_view
= button_bar
%br/

= form_for :filters, url: admin_pending_offers_path, method: :get do |f|
  = f.label :vnum do
    VNUM:
    = f.text_field :vnum, value: vnum_filter
  = f.label :agreement_no do
    Agreement#:
    = f.text_field :agreement, value: agreement_filter
  = f.label :location_initials do
    Location Initials:
    = f.text_field :location_initials, value: location_initials_filter
  = f.submit(I18n.t('forms.filter'))
%br/

= render partial: 'paginated_data_table', locals: { fields: fields, rows: @promise_offers }
