%ul
  %li Price: #{@promise_offer.promise_purchase.decorate.price}
  %li Location: #{@promise_offer.location_initials}
  %li Lane-Run: #{@promise_offer.lane_no} - #{@promise_offer.run_no}
  %li Vehicle Purchase Price: #{@promise_offer.purchase_price}
  %li Vehicle: #{@promise_offer.vehicle_description}

- if @external_vehicle_batch
  %p
    This belongs to the Network+ Batch ##{@external_vehicle_batch.id}
    = link_to 'View Batch', admin_external_vehicles_batch_path(@external_vehicle_batch.id)

= button_to 'Invalidate', admin_pending_offer_path(@promise_offer), method: :delete
= button_to 'Allow', admin_pending_offer_path(@promise_offer), method: :put
