= button_bar(back: {path: admin_dashboard_scores_path})
%div
  = label_tag :agreementship_name, @agreementship_name + "-"
  = label_tag :agreement_no, @agreement_no
%br
%br

= form_tag admin_manage_dashboard_actions_path, method: :post do
  %div
    = label_tag :emails, 'Email Address(es):'
    = text_field_tag :emails
  %div
    = label_tag :action_type, "Action Type: "
  %br
  %div
    = radio_button_tag "action_type", "performance_alert"
    = label_tag :performance_alert, "Performance Alert"
  %br
  %div
    = radio_button_tag "action_type", "rate_change"
    = label_tag :rate_change, "Rate Change"
  %br
  %div
    = radio_button_tag "action_type", "network_plus_addition"
    = label_tag :network_plus_addition, "Network Plus Addition"
  %br
  %div
    = radio_button_tag "action_type", "parameter_change"
    = label_tag :parameter_change, "Parameter Change"
  %br
  %div
    = hidden_field_tag :agreement_no, @agreement_no
    = submit_tag 'Submit'

  %br/
  %h3.txt-center.txt-underline Agreement Actions
  %table.data-table{'data-paginate' => 'true', 'data-sort-column' => 0, 'data-sort-direction' => 'desc', 'data-number_of_rows' => 10 }
    %thead
      %tr
        %th Email Sent Date
        %th Emails
        %th Action Type Name
        %th Status
        %th Parameters
        %th Email Viewed at
    %tbody
      - @decorated_action_types.each do |data|
        %tr
          %td= data.email_sent_date
          %td= data.emails
          %td= data.action_type_name
          %td= data.status
          %td= data.parameters
          %td= data.email_viewed_date
