= button_bar
%br/

%h1.centered Close Audit - Problem

%h3 Vehicle Information
%ul
  %li Agreementship : #{return_certificate.agreementship_name} / #{return_certificate.agreement_no}
  %li Full VNUM : #{return_certificate.vnum}
  %li Year, Make, Model : #{return_certificate.vehicle_full_description}
  %li Odometer : #{return_certificate.odometer_reading}
  %li Price : #{return_certificate.vehicle_purchase_price}

= form_for @audit, url: admin_return_invoice_audit_flag_path(return_certificate.return_invoice), method: 'post' do |f|
  = render 'admin/audits/reasons', form: f

  %label
    Send Confirmation Email
    = check_box_tag :send_email
    %input{ id: "audit_emails", name: "audit[emails]", size: 30, type: "email", multiple: true, value:  @audit.emails, required: true }

  = f.submit "Close Audit With Problem"
