= form_for @sold_vehicle, html: { class: "js-sold-vehicle-form" }, remote: true do |f|
  %p= t('sold_vehicles.form.prompt')
  .purchased_at
    = f.label t('sold_vehicles.form.labels.purchased_at')
    \*
    = f.text_field :purchased_at, id: :purchased_at, value: Time.current, class: 'js-datetimepicker', required: true
  .must_be_promised_at
    = f.label t('sold_vehicles.form.labels.must_be_promised_at')
    = f.text_field :must_be_promised_at, id: :must_be_promised_at, value: Time.current.tomorrow, class: 'js-datetimepicker'
  .pawn_access_no
    = f.label t('sold_vehicles.form.labels.pawn_access_no')
    = f.text_field :pawn_access_no, id: :pawn_access_no
  .agreement_no
    = f.label t('sold_vehicles.form.labels.agreement_no')
    = f.text_field :agreement_no, id: :agreement_no
  .location_initials
    = f.label t('sold_vehicles.form.labels.location_initials')
    \*
    = f.select :location_initials, options_for_select(PawnLocation.pluck(:initials).sort), { :include_blank => true, id: :location_initials }, required: true
  .automatic_purchase_email
    = f.label t('sold_vehicles.form.labels.automatic_purchase_email')
    = f.text_field :automatic_purchase_email, id: :automatic_purchase_email
  .promise_250
    = f.label t('sold_vehicles.form.labels.promise_250')
    = f.number_field :promise_250, id: :promise_250
  .additional_day
    = f.label t('sold_vehicles.form.labels.additional_day')
    = f.number_field :additional_day, id: :additional_day
  .promise_500
    = f.label t('sold_vehicles.form.labels.promise_500')
    = f.number_field :promise_500, id: :promise_500
  .preselected_promise_kind
    = f.label t('sold_vehicles.form.labels.preselected_promise_kind')
    = f.select :preselected_promise_kind, PromisePurchase::KINDS, selected: "purchase_protect"
  .limited_volume
  .preselected_promise_days
    = f.label t('sold_vehicles.form.labels.preselected_promise_days')
    = f.select :preselected_promise_days, PromiseOffer::DAYS
  .preselected_promise_miles
    = f.label t('sold_vehicles.form.labels.preselected_promise_miles')
    = f.number_field :preselected_promise_miles

  = f.label t('sold_vehicles.form.labels.automatic_purchase')
  = f.check_box :automatic_purchase, checked: true
  %br
  %hr
  .vnum
    = f.label t('sold_vehicles.form.labels.vnum')
    \*
    = f.text_field :vnum, id: :vnum, class: "js-clear-after-submission", required: true, style: 'display: inline;'
    %span#decode_vnum
      = image_tag 'loader.gif', class: 'loader', style: 'display:none;'
      %button.trigger Fetch Vehicle Details
      %span.error_message.alert_msg{style: 'display:none;'}
  .year
    = f.label t('sold_vehicles.form.labels.model_year')
    \*
    = select_year @sold_vehicle.year, { start_year: Time.current.year, end_year: 1996}, { name: 'sold_vehicle[year]', class: "js-clear-after-submission", required: true }
  .make
    = f.label t('sold_vehicles.form.labels.make')
    \*
    = f.text_field :make, id: :make, class: "js-clear-after-submission", required: true
  .model
    = f.label t('sold_vehicles.form.labels.model')
    = f.text_field :model, id: :model, class: "js-clear-after-submission"
  .odometer_reading
    = f.label t('sold_vehicles.form.labels.odometer_reading')
    = f.number_field :odometer_reading, id: :odometer_reading, class: "js-clear-after-submission"
  .vehicle_purchase_price
    = f.label t('sold_vehicles.form.labels.vehicle_purchase_price')
    \*
    = f.number_field :vehicle_purchase_price, class: "js-clear-after-submission", required: true
  .buy_fee
    = f.label t('sold_vehicles.form.labels.buy_fee')
    = f.number_field :buy_fee, id: :buy_fee, class: "js-clear-after-submission"
  .lane_no
    = f.label t('sold_vehicles.form.labels.lane_no')
    \*
    = f.text_field :lane_no, id: :lane_no, class: "js-clear-after-submission", required: true
  .run_no
    = f.label t('sold_vehicles.form.labels.run_no')
    \*
    = f.text_field :run_no, id: :run_no, class: "js-clear-after-submission", required: true
  .sale_no
    = f.label t('sold_vehicles.form.labels.sale_no')
    \*
    = f.text_field :sale_no, id: :sale_no, class: "js-clear-after-submission", value: Date.current.cweek, required: true
  .universal_no
    = f.label :universal_no
    = f.text_field :universal_no, id: :universal_no, class: "js-clear-after-submission", required: true
  .work_order_no
    = f.label :work_order_number
    = f.text_field :work_order_number, id: :work_order_number, class: "js-clear-after-submission", required: true
  .seller_no
    = f.label t('sold_vehicles.form.labels.seller_no')
    = f.text_field :seller_no, id: :seller_no, class: "js-clear-after-submission"
  .ineligibility_condition
    = f.label t('sold_vehicles.form.labels.ineligibility_condition')
    = f.number_field :ineligibility_condition, id: :ineligibility_condition, class: "js-clear-after-submission"
  .vehicle_code
    = f.label t('sold_vehicles.form.labels.vehicle_code')
    = f.number_field :vehicle_code, id: :vehicle_code, class: "js-clear-after-submission"
  .sblu
    = f.label :sblu
    = f.number_field :sblu, id: :sblu, class: "js-clear-after-submission", required: true
  .pending_reason_code
    = f.label t('sold_vehicles.form.labels.pending_reason_code')
    = f.number_field :pending_reason_code, id: :pending_reason_code, class: "js-clear-after-submission"
  %br
  = f.label t('sold_vehicles.form.labels.if_bid')
  = f.check_box :if_bid, class: "js-uncheck-after-submission"
  %br
  = f.label t('sold_vehicles.form.labels.ove')
  = f.check_box :ove, class: "js-uncheck-after-submission"
  %br
  = f.label t('sold_vehicles.form.labels.presale_inspection')
  = f.check_box :presale_inspection, class: "js-uncheck-after-submission"
  %br
  = f.label t('sold_vehicles.form.labels.promise_prepaid')
  = f.check_box :promise_prepaid, class: "js-uncheck-after-submission"
  %br
  = f.label t('sold_vehicles.form.labels.automatic_purchase_processed')
  = f.check_box :automatic_purchase_processed, class: "js-uncheck-after-submission"
  %br
  = f.submit t('sold_vehicles.form.labels.create_sold_vehicle'), class: 'green btn'
