= button_bar(back: {path: admin_dashboard_scores_path})
= form_for [:admin, @network_plus_offer] do |f|

  %br/
  = f.label :parameter_change, 'Parameter Change(s):'
  %br/
  %br/

  = f.label :existing_network_rate, 'Existing (Network) Rate :'
  = f.text_field :existing_network_rate

  = f.label :network_plus_surcharge, 'Network Plus Surcharge :'
  = f.text_field :network_plus_surcharge, value: NetworkPlusOffer::DEFAULT_NETWORK_PLUS_SURCHARGE

  = f.label :expiration_date, 'Expiration Date'
  = f.text_field :expiration_date, value: expiration_date, class: 'js-datetimepicker'
  %br/
  = f.hidden_field :agreement_no, value: @agreement_no

  = f.hidden_field :emails, value: @emails

  = f.submit 'Submit'
