= form_for [:admin, @agreement_floor_plan_branch] do |f|
  %fieldset
    = f.label :agreement_number do
      Agreement#
      = f.text_field :agreement_no, value: @agreement_floor_plan_branch.agreement_no, required: true, pattern: '^5[0-9]{1,6}$'
    = label_tag :floor_plan_company, t('agreement_floor_plan_branch_lock.select_floor_plan_company'), id: 'floor_plan_company_label'
    .select
      = f.select "company_code", options_for_select(floor_plan_companies, @selected_floor_plan_company), {prompt: 'Please select a company'}, {required: true}
    = label_tag :floor_plan_branch_id, t('agreement_floor_plan_branch_lock.select_branch'),id: 'floor_plan_branch_id_label'
    = f.select :site_no, options_for_select(@branches,@selected_floor_plan_branch), {},{required: true}
    .floor_plan_address_div
      - if @branch.present?
        .floor_plan_address{ data: { "branch-id" => @branch.id } }
        %p #{@branch.address_street} Ste. ##{@branch.address_suite}
        %p #{@branch.address_city}, #{@branch.address_state} #{@branch.address_zipcode}
  = f.submit 'Submit', class: 'green btn'
