#admin_users
= button_bar(back: {path: admin_index_path})
%br/
%h1= t('admin.agreement_floor_plan_branch_locks.index.header_copy')

= form_tag admin_agreement_floor_plan_branch_locks_path, method: :get do |f|
  = text_field_tag :agreement_number, agreement_number, placeholder: 'Search with Agreement #'
  = submit_tag "Search"

= link_to t('admin.agreement_floor_plan_branch_locks.create.link_copy'),new_admin_agreement_floor_plan_branch_lock_path(agreement_number: params[:agreement_number])

%br
= render partial: 'paginated_data_table', locals: { fields: fields, rows: @agreement_floor_plan_branches }
