= render layout: 'audit_email_layout', locals: { title: nil } do

  %p
    %strong Dear #{@return_certificate.agreementship_name} (#{@return_certificate.agreement_no}),
  %p
    Our Audit team has completed their review of the transaction for the vehicle below:
  %p
    %strong Vehicle Information:
    %ul
      %li
        Full VNUM: #{@return_certificate.vnum}
      %li
        Year, Make, Model: #{@return_certificate.vehicle_full_description}
      %li
        Odometer: #{@return_certificate.odometer_reading}
      %li
        Price: #{@return_certificate.vehicle_purchase_price}
  %p
    The Audit team investigation and review decision:
  %p
    %ul
      %li
        %strong Return has been approved
  %p
    We appreciate your business and hope you understand our need to conduct audit checks from time to time to ensure the integrity of certain transactions, as well as the AgreementShield product.
  %p
    If you have any questions or need assistance please contact AgreementShield Customer Support.
