= render layout: 'audit_email_layout', locals: { title: '' } do
  %p
    %strong Dear #{@return_certificate.agreementship_name}(#{@return_certificate.agreement_no}),
  %p
    Your vehicle return transaction was flagged by our Loss Prevention algorithm and forwarded to our Audit team for the following vehicle:
  %p
    %strong Vehicle Information
  %p
    %ul
      %li
        Full VNUM: #{@return_certificate.vnum}
      %li
        Year, Make, Model: #{@return_certificate.vehicle_full_description}
      %li
        Odometer: #{@return_certificate.odometer_reading}
  %p
    This transaction is under further investigation and review to ensure its compliance with AgreementShield Promise Click-Through Agreement(i.e., “Terms and Conditions”). This Agreement has been and always will be available on our website and kiosk stand as well.
  %p
    The Audit Team will specifically be looking at whether this transaction falls outside the expected parameters compared to similar transactions, focusing on, but not limited to:
    %ul
      - @audit_reasons.each do |reason|
        %li
          %strong= reason.description
  %p
    If we find that this transaction is in breach of this Agreement, AgreementShield will not accept this vehicle and the return will be invalidated.
  %p
    Until this audit is complete, we will not be able to process the refund on the vehicle. We expect to have the audit complete within 5 business days of this notice and will provide an update at that time as soon as possible. We also encourage you to review the terms and conditions specified in the AgreementShield Promise Click-Through Agreement.
  %p
    We appreciate your business and hope you understand our need to conduct audit checks from time to time to ensure the integrity of certain transactions, as well as the AgreementShield product.
