= render layout: 'audit_email_layout', locals: { title: nil } do

  %p
    %strong Dear #{@return_certificate.agreementship_name}(#{@return_certificate.agreement_no}),
  %p
    We appreciate your business and hope you understand our need to conduct audit checks to ensure the integrity of the AgreementShield Purchase Promise program. These audits cover a random selection of transactions, as well as transactions specifically flagged by our algorithms.
  %p
    The AgreementShield Audit Team has completed their review of the transaction for the vehicle below:
  %p
    %strong Vehicle Information:
    %ul
      %li
        Full VNUM: #{@return_certificate.vnum}
      %li
        Year, Make, Model: #{@return_certificate.vehicle_full_description}
      %li
        Odometer: #{@return_certificate.odometer_reading}
      %li
        Price: #{@return_certificate.vehicle_purchase_price}
  %p
    %strong Audit Finding:
  %p
    This transaction has been found to be non-compliant with AgreementShield Promise Click-Through Agreement (i.e., “Terms and Conditions”). This Agreement has been and always will be available on our website and kiosk stand as well.
  %p
    The Audit Team has noted the following areas of concern in completing their review:
    %ul
      - @audit_reasons.each do |reason|
        %li
          %strong= reason.description
  %p
    %u Therefore, AgreementShield cannot accept this vehicle and the return has been invalidated.
  %p
    Please contact the Astroheim Pawn location to make arrangements to pick up and pay for this vehicle at your convenience.
  %p
    Thank you,
  %p
    The AgreementShield Audit Team
  %p
    ************************************
  %p
    %strong Note 1: Audit Appeals Process
  %p
    In the event you believe there is additional information that should be considered and would like to request a reconsideration of this audit decision, please respond to this email with detailed reason(s) for review within 3 business days of the date above.
  %p
    Audit appeals
    %u will not
    be accepted over the phone. All requests for appeal must be made by reply to this email or by directly emailing
    %u Audit@AgreementShield.com.
  %p
    The audit team will respond back within 5 business days from receipt of appeal request with an appeal decision. This appeal decision is final and no additional requests for reconsideration may be made at that point in time.
  %p
    %strong Note 2: AgreementShield Purchase Promise Terms & Conditions Regarding Audits
  %p
    Please refer to Terms & Conditions located on our website at
    %u promise.agreementshield.com
  %p
    This audit is outlined in Section 1, Paragraph C: Agreement may purchase a Product for a Agreement Vehicle that Agreement is attempting to sell through an Authorized Sales Channel, and upon the sale of such Agreement Vehicle, the buyer shall be entitled to the benefits of the Product with respect to such Agreement Vehicle, provided that (i) such buyer and its use of the Product shall be subject to these Terms and Conditions, and (ii) AgreementShield reserves the right to refuse to allow such buyer to use the Product if such buyer has been prohibited by AgreementShield from purchasing or using the Product, or if AgreementShield otherwise determines, in its sole discretion, that Agreement or buyer has violated these Terms and Conditions or any other agreement with AgreementShield or its Affiliates, or that there has been fraud or collusion on the part of Agreement and/or such buyer. Additionally, Agreement acknowledges that AgreementShield is a private business and has the right to decline to do business with Agreement or any other person at any time, or to refuse to offer or make available any Product to Agreement or any other person (including any buyer of a Agreement Vehicle) at any time, in its sole discretion.
