Dear #{@return_certificate.agreementship_name} (#{@return_certificate.agreement_no}),
\
Our Audit team has completed their review of the transaction for the vehicle below:
\
Vehicle Information:
\
* Full VNUM: #{@return_certificate.vnum}
* Year, Make, Model: #{@return_certificate.vehicle_full_description}
* Odometer: #{@return_certificate.odometer_reading}
* Price: #{@return_certificate.vehicle_purchase_price}

The Audit team investigation and review decision:
\
Return has been approved
\
We appreciate your business and hope you understand our need to conduct audit checks from time to time to ensure the integrity of certain transactions, as well as the AgreementShield product.
\
If you have any questions or need assistance please contact AgreementShield Customer Support.
