#promise_estimates_view.page
  = button_bar home: { label: t('forms.done') } do
    = link_to t('forms.print'), '#', {id: 'print_button', class: 'print_btn btn'}

  = render @partial if @partial.present?

  = render partial: 'pagination'

  - @filtered_presale_vehicles.each do |presale_vehicle|
    = render partial: "vehicle_estimate", locals: {presale_vehicle: PresaleVehicleDecorator.decorate(presale_vehicle)}

  = render partial: 'pagination'
