.js-quote-container.quote-l-container
  .l-row{class: cycle('', 'skin-bg-light-gray')}
    .quote-l-car-detail
      .quote-t-item-title-large= presale_vehicle.full_description
      .l-row-space
        .odometer_reading
          = t('quotes.promise_estimates.vehicle_estimate.odometer')
          = presale_vehicle.odometer_reading
        .js-vnum.vnum{data: {vnum: presale_vehicle.vnum}}
          = t('quotes.promise_estimates.vehicle_estimate.vnum')
          = presale_vehicle.vnum
        .lane_number
          = t('quotes.promise_estimates.vehicle_estimate.lane_num')
          = presale_vehicle.lane_no
        .run_number
          = t('quotes.promise_estimates.vehicle_estimate.run_num')
          = presale_vehicle.run_no
        .vehicle_location
          = t('quotes.promise_estimates.vehicle_estimate.location')
          = presale_vehicle.location_name

    .js-amount-box.quote-l-quote-detail
      .quote-t-item-title-med.txt-center= t('presale_vehicle_filter.estimated_purchase')
      .quote-l-detail-box
        .l-row
          .quote-l-box-item.quote-t-item-label
            = t('quotes.promise_estimates.vehicle_estimate.low')
          .quote-l-box-item.quote-t-item-label
            = t('quotes.promise_estimates.vehicle_estimate.average')
          .quote-l-box-item.quote-t-item-label
            = t('quotes.promise_estimates.vehicle_estimate.high')
        .l-row
          =link_to("#{presale_vehicle.low_valuation}", "#", class:"js-quote-amount quote-l-box-item quote-s-price-box quote-t-price-label", data:{amount: presale_vehicle.low_valuation_value})
          =link_to("#{presale_vehicle.average_valuation}", "#", class:"js-quote-amount quote-l-box-item quote-s-price-box quote-t-price-label active", data:{amount: presale_vehicle.average_valuation_value})
          =link_to("#{presale_vehicle.high_valuation}", "#", class:"js-quote-amount quote-l-box-item quote-s-price-box quote-t-price-label", data:{amount: presale_vehicle.high_valuation_value})
        .l-row.l-row-space
          %form{class:"js-estimate-form"}
            .quote-l-box-input
              .form-l-group
                .form-l-prefix.form-s-prefix-yellow.form-t-prefix
                  %label= presale_vehicle.currency_format
                .form-l-input-prefix
                  %input.js-quote-input.form-s-input.form-t-input-prefix.txt-right{type:"number", step:'.01', value: presale_vehicle.average_valuation || ''}
            .quote-l-box-item.quote-t-box-label
              %label= t('quotes.promise_estimates.vehicle_estimate.custom')
            %input{type:"submit", class:"l-hidden"}
            %button{class: "js-request-quote-btn btn", type: "submit", name: "submit" , tabindex:9}
              %span= t('quotes.promise_estimates.vehicle_estimate.get_quote')

    -if presale_vehicle.eligible?
      .js-quote-el.quote-l-quote-prices.skin-bg-light-gray
        .quote-t-item-title-med.txt-center= t('presale_vehicle_filter.quote')
        / loader
        .js-loader.l-hidden.loader-l-container.loader-s-container
          .progress
          %div= t('quotes.promise_estimates.vehicle_estimate.loading')
        .quote-l-quote-box
          .js-quote-matrix
            .l-row.quote-s-quote-box-header
              .quote-l-quote-box-item.l-offset-3
                .quote-t-table-title-med.txt-center= t('quotes.promise_estimates.vehicle_estimate.7_days')
              .quote-l-quote-box-item
                .quote-t-table-title-med.txt-center= t('quotes.promise_estimates.vehicle_estimate.14_days')
              .quote-l-quote-box-item
                .quote-t-table-title-med.txt-center= t('quotes.promise_estimates.vehicle_estimate.21_days')
            .l-row.quote-s-quote-box-row
              .quote-l-quote-box-item
                .quote-t-table-title-med= distance1_label(presale_vehicle.country_code)
              .quote-l-quote-box-item
                .quote-t-item-text-med.txt-center
              .quote-l-quote-box-item
                .quote-t-item-text-med.txt-center
              .quote-l-quote-box-item
                .quote-t-item-text-med.txt-center
            .l-row
              .quote-l-quote-box-item
                .quote-t-table-title-med= distance2_label(presale_vehicle.country_code)
              .quote-l-quote-box-item
                .quote-t-item-text-med.txt-center
              .quote-l-quote-box-item
                .quote-t-item-text-med.txt-center
              .quote-l-quote-box-item
                .quote-t-item-text-med.txt-center
          = link_to '#', :title => 'Toggle Vehicle Factors', :class => "js-toggle-accordion quote-l-action-text quote-t-action-text" do
            = t('quotes.promise_estimates.vehicle_estimate.price_calculate_prompt')
            %i.fa.fa-plus.animated_icon
    - else
      .ineligibility_reason
        = presale_vehicle.ineligibility_reason
  .js-accordion.l-row-accordion.accordion_closed
    .quote-l-price-factors.skin-bg-light-gray
      %p= t('vehicles.ratings.description')
      .l-row
        .l-col-6
          %h4= t('quotes.promise_estimates.vehicle_estimate.vehicle_factors')
          %ul
            %li
              %span= t('quotes.promise_estimates.vehicle_estimate.make_model')
              .stars{class: "number#{presale_vehicle.mid_rating}"}
            %li
              %span= t('quotes.promise_estimates.vehicle_estimate.autocheck_history')
              .stars{class: "number#{presale_vehicle.autocheck_rating}"}
            %li
              %span= t('quotes.promise_estimates.vehicle_estimate.age')
              .stars{class: "number#{presale_vehicle.age_rating}"}
            %li
              %span= t('quotes.promise_estimates.vehicle_estimate.odometer')
              .stars{class: "number#{presale_vehicle.odometer_rating}"}
        .l-col-6
          %h4= t('quotes.promise_estimates.vehicle_estimate.other_factors')
          %ul
            %li
              %span= t('quotes.promise_estimates.vehicle_estimate.seller')
              .stars{class: "number#{presale_vehicle.seller_rating}"}
