- if @charge_code_mapping.errors.any?
  #error_explanation
    %ul
      - @charge_code_mapping.errors.full_messages.each do |msg|
        %li= msg
= form_for [:admin, @charge_code_mapping] do |f|
  %fieldset
    = f.label :product do
      Product
      = f.text_field :product
    = f.label :automatic_purchase do
      Automatic Purchase
      = f.check_box :automatic_purchase
    %br
    %br
    = f.label :seller_paid do
      Seller Paid
      = f.check_box :seller_paid
    %br
    %br
    = f.label :percent_coverage do
      Percent Coverage
      = f.check_box :percent_coverage
    %br
    %br
    = f.label :limited_volume do
      Limited Volume
      = f.check_box :limited_volume
    %br
    %br
    = f.label :charge_code do
      Charge Code
      = f.text_field :charge_code
    = f.label :call_id do
      Call Id
      = f.text_field :call_id
    = f.submit class: 'green btn'
