#admin_new_charge_code_mapping
= button_bar(back: {path: admin_index_path})
%br/
%h1
  = t('charge_code_mappings.index')

= link_to 'New Charge Code Mapping', new_admin_charge_code_mapping_path

%table#new_product_fees_table.data-table{'data-sort-column' => 1}
  %thead
    %tr
      %th Product
      %th Automatic Purchase
      %th Seller Paid
      %th Percent Coverage
      %th Limited Volume
      %th chargeCode
      %th Call Id
      %th
  %tbod
    -@charge_code_mappings.each do |charge_code_mapping|
      %tr
        %td= charge_code_mapping.product
        %td= charge_code_mapping.automatic_purchase
        %td= charge_code_mapping.seller_paid
        %td= charge_code_mapping.percent_coverage
        %td= charge_code_mapping.limited_volume
        %td= charge_code_mapping.charge_code
        %td= charge_code_mapping.call_id
        %td= link_to 'Edit', edit_admin_charge_code_mapping_path(charge_code_mapping)
= paginate @charge_code_mappings
= link_to t('charge_code_mappings.admin.index.export_csv_link_copy'), admin_charge_code_mappings_path(format: :csv)
