.audit_reason
  .audit_select
    = label_tag :description
    = select_tag :description, AuditDecorator.reason_options(nil), prompt: 'Please Select'
  .audit_text
    = f.text_area :description
    = link_to_remove_association 'remove reason', f, wrapper_class: 'audit_reason'
