%hr
  %fieldset
    = link_to_add_association 'add reason', form, :reasons, partial: 'admin/audits/reason_fields', 'data-association-insertion-method' => 'append'
    = form.fields_for :reasons do |reason_fields|
      = render 'admin/audits/reason_fields', f: reason_fields
