%h1
  Edit Audit

The current state of the audit is:
= @return_invoice.audit_human_state_name
%br/

= form_for @audit, url: admin_return_invoice_audit_path(@return_invoice) do |f|
  - if @return_invoice.audited?
    %label
      Audit resolution date
      = f.date_select :resolved_by
    %label
      Email Address
      %input{ id: "audit_emails", name: "audit[emails]", size: 30, type: "email", multiple: true, value:  @audit.emails, required: true }

  = render 'reasons', form: f

  = f.submit t('forms.update')
