= button_bar
%br/

%h1 New Audit

%h3 Vehicle Information
%ul
  %li Agreementship : #{return_certificate.agreementship_name} / #{return_certificate.agreement_no}
  %li Full VNUM : #{return_certificate.vnum}
  %li Year, Make, Model : #{return_certificate.vehicle_full_description}
  %li Odometer : #{return_certificate.odometer_reading}
  %li Price : #{return_certificate.vehicle_purchase_price}

%hr
= form_for @audit, url: admin_return_invoice_audit_path(return_certificate.return_invoice) do |f|
  = render 'reasons', form: f

  %label
    Send Confirmation Email
    = check_box_tag :send_email, "1", true
    %input{ id: "audit_emails", name: "audit[emails]", size: 30, type: "email", multiple: true, value:  @return_invoice.user_email }
  = f.label "Expected Resolution Date"
  = f.text_field :resolved_by
  = f.submit("Open Audit")
