%p= t('drop_notice_mailer.notify_last_failure.drop_notice_failed', rails_env: Rails.env)
%blockquote= @error_message

%p= t('drop_notice_mailer.notify_last_failure.return_info')
%ul
  %li= t('drop_notice_mailer.notify_last_failure.vnum', vnum: @vnum)
  %li= t('drop_notice_mailer.notify_last_failure.seller_number', seller_number: @seller_number)
  %li= t('drop_notice_mailer.notify_last_failure.returned_at', returned_at: @returned_at)
  %li= t('drop_notice_mailer.notify_last_failure.return_id', return_id: @return_id)
  %li= t('drop_notice_mailer.notify_last_failure.return_location', return_location: @return_location)
