=button_bar back: {path: return_funnel_filtered_purchases_path }

= form_for @cancellation, url: form_path do |f|
  - if cancellation_policy.may_make_ineligible?
    = select_tag "cancellation_reasons", options_for_select(cancellation_policy.cancellation_reason_options), prompt: I18n.t('cancellation.cancellation_reason_prompt')
    = f.label :reason
    = f.text_field :reason
    = f.label :ineligible_for_repurchase do
      = t('cancellations.new.ineligible_for_repurchase')
      = f.check_box :ineligible_for_repurchase
    = f.label :skip_applying_credit do
      = t('cancellations.new.skip_applying_credit')
      = f.check_box :skip_applying_credit, value: false
  - else
    = f.label :reason
    = f.select :reason, cancellation_policy.cancellation_reason_options
  = f.submit t('cancellations.new.submit')
