= form_tag vehicle_filter_path, class: "filterform", method: :put do
  = render partial: "shared/logo", locals: {logo_class: "left"}
  %fieldset
    %label.title
      = t('forms.agreement_number.input_label')
      = number_field_tag :agreement_number, nil, placeholder: t('forms.agreement_number.manual_entry'), autocomplete: "off", autofocus: true
    = submit_tag t('forms.enter'), class: "green btn"
