=button_bar back: { path: root_path }
=render partial: "shared/logo"

.filter
  - if show_badge_button?
    = link_to t('forms.badge_number.input_label'), edit_vehicle_filter_path(filter_type: :badge_number), class: 'btn'
  = link_to t('forms.pawn_access.input_label'), edit_vehicle_filter_path(filter_type: :pawn_access_number), class: 'btn'
  - if show_agreement_filter?
    = link_to t('forms.agreement_number.input_label'), edit_vehicle_filter_path(filter_type: :agreement_number), class: :btn
