= render layout: 'email_layout', locals: { title: I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.title') } do
  %p
    = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.note_1')
  %p
    = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.note_2')
  %p
    = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.note_3')
  %p
    = raw "#{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.terms_and_conditions', link_name: I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.terms') )}"
  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"}= I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.vehicle_information.heading')
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.vehicle_information.vehicle')
      %strong #{@promise_offer.full_description}
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.vehicle_information.vnum')
      %strong #{@promise_offer.vehicle_information.vnum}

  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"}= I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.heading')
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.location')
      %strong= @promise_purchase_details['pawn_location']
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.lane_no')
      %strong #{@promise_offer.pawn_information.lane_no}
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.run_no')
      %strong #{@promise_offer.pawn_information.run_no}
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.vehicle_purchase_price')
      %strong #{@promise_offer.purchase_price}
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.odometer')
      %strong #{@promise_offer.vehicle_information.odometer_reading} #{@promise_offer.distance_units}
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.date_promised')
      %strong= @promise_purchase_details['created_at']
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.promise_distance')
      %strong= @promise_purchase_details['distance']
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.days_selected')
      %strong= @promise_purchase_details['duration']
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.promise_expiration')
      %strong= @promise_purchase_details['expiration_date']
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.promise_price')
      %strong= @promise_purchase_details['price']
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.invalidated_on')
      %strong= Time.current.to_formatted_s(:dashed_with_tz)
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.reasons')
      %strong #{@reason}

  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"}= I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.agreement_information.heading')
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.agreement_information.agreement_no')
      %strong #{@promise_offer.pawn_information.agreement_no}
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.agreement_information.pawn_access_no')
      %strong #{@promise_offer.pawn_information.pawn_access_no}
    %li
      = I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.agreement_information.badge_no')
      %strong #{@promise_offer.pawn_information.badge_no}

  %p= I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.note_4')

  %p= raw "#{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.note_5', link_name: I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.terms_and_conditions_here'), link_url: 'http://promise.agreementshield.com/pages/terms', link_name_1: 'www.agreementshield.com', link_url_1: 'http://www.agreementshield.com' )}"

