= render layout: 'email_layout', locals: { title: I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.title') } do
  %p
    = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.cancellation_note')

  %p
    %strong{:style => "text-decoration: underline;"}= I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.heading')
    %ul
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.vehicle')
        %strong #{@promise_offer.full_description}
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.vnum')
        %strong #{@promise_offer.vehicle_information.vnum}
    %ul
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.location')
        %strong= @promise_purchase_details['pawn_location']
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.lane_no')
        %strong #{@promise_offer.pawn_information.lane_no}
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.run_no')
        %strong #{@promise_offer.pawn_information.run_no}
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.vehicle_purchase_price')
        %strong #{@promise_offer.purchase_price}
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.odometer')
        %strong #{@promise_offer.vehicle_information.odometer_reading} #{@promise_offer.distance_units}
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.date_promised')
        %strong= @promise_purchase_details['created_at']
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.promise_distance')
        %strong= @promise_purchase_details['distance']
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.days_selected')
        %strong= @promise_purchase_details['duration']
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.promise_expiration')
        %strong= @promise_purchase_details['expiration_date']
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.promise_price')
        %strong= @promise_purchase_details['price']
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.reasons')
        %strong #{@reason}

  %p
    %strong{:style => "text-decoration: underline;"}= I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.agreement_information.heading')
    %ul
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.agreement_information.agreement_no')
        %strong #{@promise_offer.pawn_information.agreement_no}
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.agreement_information.pawn_access_no')
        %strong #{@promise_offer.pawn_information.pawn_access_no}
      %li
        = I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.agreement_information.badge_no')
        %strong #{@promise_offer.pawn_information.badge_no}
