= I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.title')

= I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.cancellation_note')

= I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.heading')
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.vehicle')}: #{@promise_offer.full_description}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.vnum')}: #{@promise_offer.vehicle_information.vnum}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.location')}: #{@promise_purchase_details['pawn_location']}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.lane_no')} : #{@promise_offer.pawn_information.lane_no}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.run_no')}: #{@promise_offer.pawn_information.run_no}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.vehicle_purchase_price')}: #{@promise_offer.purchase_price}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.odometer')}: #{@promise_offer.vehicle_information.odometer_reading} #{@promise_offer.distance_units}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.date_promised')}: #{@promise_purchase_details['created_at']}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.promise_distance')}: #{@promise_purchase_details['distance']}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.days_selected')}: #{@promise_purchase_details['duration']}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.promise_expiration')}: #{@promise_purchase_details['expiration_date']}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.promise_price')}: #{@promise_purchase_details['price']}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.vehicle_information.reasons')}: #{@reason}
\
= I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.agreement_information.heading')
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.agreement_information.badge_no')}: #{@promise_offer.pawn_information.badge_no}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_eligible_for_repurchase.agreement_information.agreement_no')}: #{@promise_offer.pawn_information.agreement_no}

= raw "#{t('help.customer_service_contact', email: Astro::SUPPORT_EMAIL)} #{t('help.support_hours')}"
