= I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.title')
\
= I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.note_1')
\
= I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.note_2')
\
= I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.note_3')
\
= raw "#{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.terms_and_conditions', link_name: I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.terms') , link_url: 'http://promise.agreementshield.com/pages/terms' )}"
\
= I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.vehicle_information.heading')
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.vehicle_information.vehicle')} : #{@promise_offer.full_description}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.vehicle_information.vnum')} : #{@promise_offer.vehicle_information.vnum}
\
= I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.heading')
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.heading')} : #{@promise_purchase_details['pawn_location']}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.lane_no')} : #{@promise_offer.pawn_information.lane_no}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.run_no')}: #{@promise_offer.pawn_information.run_no}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.vehicle_purchase_price')}: #{@promise_offer.purchase_price}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.odometer')}: #{@promise_offer.vehicle_information.odometer_reading} #{@promise_offer.distance_units}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.date_promised')}: #{@promise_purchase_details['created_at']}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.promise_distance')}: #{@promise_purchase_details['distance']}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.days_selected')}: #{@promise_purchase_details['duration']}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.promise_expiration')}: #{@promise_purchase_details['expiration_date']}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.promise_price')}: #{@promise_purchase_details['price']}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.invalidated_on')}: #{Time.current}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.invalidation_information.reasons')}: #{@reason}
\
= I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.agreement_information.heading')
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.agreement_information.agreement_no')}: #{@promise_offer.pawn_information.badge_no}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.agreement_information.pawn_access_no')}: #{@promise_offer.pawn_information.agreement_no}
* #{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.agreement_information.badge_no')}: #{@promise_offer.pawn_information.pawn_access_no}
\
= I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.note_4')
\
= raw "#{I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.note_5', link_name: I18n.t('cancellation_mailer.cancellation_confirmation_ineligible_for_repurchase.terms_and_conditions_here'), link_url: 'http://promise.agreementshield.com/pages/terms', link_name_1: 'www.agreementshield.com', link_url_1: 'http://www.agreementshield.com' )}"
