= form_for [:admin, floor_plan_company, @floor_plan_branch] do |f|
  %fieldset
    = f.hidden_field :company_code, value: floor_plan_company.company_code
    = f.label :name do
      Name
      = f.text_field :name
    = f.label :address_street do
      Street Address
      = f.text_field :address_street
    = f.label :address_suite do
      Suite
      = f.text_field :address_suite
    = f.label :address_city do
      City
      = f.text_field :address_city
    = f.label :address_state do
      State
      = f.text_field :address_state
    = f.label :address_zipcode do
      Zip Code
      = f.text_field :address_zipcode
    = f.label :country_code do
      Country
      = f.country_select :country_code, ['us'], iso_codes: true
    = f.label :site_no do
      Site Number
      = f.text_field :site_no
    = f.label :phone_number do
      Phone Number
      = f.text_field :phone_number
    = f.label :shipment_name do
      Shipment Name
      = f.text_field :shipment_name
    = f.label :oracle_site do
      Oracle Site
      = f.text_field :oracle_site
    = f.label :active do
      Active
      = f.check_box :active
    = hidden_field_tag :verify, true if @floor_plan_branch.errors.full_messages.to_s.include? I18n.t('admin.floor_plan_branches.address.invalid')
    %br/
    = f.submit 'Submit', class: 'green btn'
