= button_bar(back: {path: admin_floor_plan_companies_path})
%br/

= link_to t('admin.floor_plan_branches.create'), new_admin_floor_plan_company_floor_plan_branch_path(floor_plan_company)

= render partial: 'paginated_data_table', locals: { rows: @floor_plan_branches, fields: fields }
