html {
  background: #43484a url(/assets/bg.png) repeat-y center;
  height: 100%;
  overflow: hidden;
}
body {
  background: $color-white;
  border: 3px solid #d59d30;
  border-width: 3px 0;
  color: #222;
  font-size: 16px;
  line-height: 1.4em;
  position: absolute;
  //top and bottom change in layout.js to accomodate different sticky bars
  top: 20px;
  bottom: 20px;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
}

a, a:active, a:visited { color: #bd8619; }
a:hover { color: #333; }

::-moz-selection{ background: #ccc; color: #222; text-shadow: none; }
::selection { background:#ccc; color: #222; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #d59d30; }



h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1.5em;
  + p.centered {
    margin-top: -2em;
  }
}
h3 {
  font-size: 1.17em;
}

img {
  max-width: 100%;
}

label {
  font-size: 16px;
  font-weight: bold;
  &.small {
    font-size: 14px;
    font-weight: normal;
  }
}
input[type="text"] {
  font-size: 16px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

// 1-form
form {
  margin-bottom: 20px; }
fieldset {
  margin-bottom: 20px; }
label{
  a {
    font-weight: normal;
  }
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 15px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff; }
select {
  padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
  min-height: 60px; }
legend {
  display: block;
  font-weight: bold;
  font-size: 1.33em;
  padding-bottom: 1em;  }
select {
  width: 220px; }
input[type="checkbox"] {
  display: inline; }

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

.header {font-weight: bold;}
.factor_color{
  float: left;
  margin-top: 4px;
  width: 25px;
  height: 25px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  border: 1px solid #ACACAC;
}
.half-width{ width: 50%; }
