// -------------------------------------
// - Layouts
// -------------------------------------
// ----- Styles for Layouts
// -------------------------------------

.l-top-adjustment {
  padding-top: 2.5em;
}
.l-row-space {
  margin-top: 12px;
}
.l-row-space-bottom {
  padding-bottom: 20px;
}
.l-row {
  @include row();
}
.l-offset-3 {
  @include shift(0);
  @include breakpoint(768px) {
    @include shift(3 of 12);
  }
}
.l-offset-2 {
  @include shift(0);
  @include breakpoint(768px) {
    @include shift(2 of 12);
  }
}
.l-row-accordion {
  @include row();
  max-height: 500px;
  overflow: hidden;
  @include transition (all 1.0s linear);
}
.l-hidden {
  display: none !important;
}
.l-col-8 {
  @include span-columns(12);
  @include breakpoint(768px) {
    @include span-columns(8);
  }
}
.l-col-6 {
  @include span-columns(12);
  @include breakpoint(768px) {
    @include span-columns(6);
  }
}
.l-col-5 {
  @include span-columns(12);
  @include breakpoint(768px) {
    @include span-columns(5);
  }
}
.l-col-4 {
  @include span-columns(12);
  @include breakpoint(768px) {
    @include span-columns(4);
  }
}
.l-col-2 {
  @include span-columns(12);
  @include breakpoint(768px) {
    @include span-columns(2);
  }
}
.offset-4 {
  @include shift(0);
  @include breakpoint(768px) {
    @include shift(4);
  }
}
.offset-3 {
  @include shift(0);
  @include breakpoint(768px) {
    @include shift(3);
  }
}
.offset-2 {
  @include shift(0);
  @include breakpoint(768px) {
    @include shift(2);
  }
}
// -------------------------------------
//   States
// -------------------------------------
.accordion_closed {
  max-height: 0;
}
