// -------------------------------------
//
//   Settings -
//   @Font-Face Declarations, Variables
//
// -------------------------------------


// -------------------------------------
//   @font-face
// -------------------------------------


// -------------------------------------
//   Variables
// -------------------------------------

// ----- Base Colors ----- //
$color-white: #fff;
$color-base-yellow: #DEBD59;
$color-yellow: #F5D161;
$color-yellow-trans-rgba: rgba(245,204,77, .3);
$color-light-yellow: #F5CC4D;
$color-green: #3a822f;

$color-gray: #4A4A4A;
$color-border-gray:#979797;
$color-light-gray: #F7F7F7;
$color-lighter1-gray: #F0F0F0;
$color-lighter-gray: #CACACA;

// ----- Base Borders & Box Shadows ----- //

// ----- Font Sizes ----- //
$font-size-30: 30px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-11: 11px;

// ----- Base Layout ----- //

// ----- Content ----- //

// ----- Layout ----- //
