// -------------------------------------
// - Skin
// -------------------------------------
// ----- Styles for Skins
// -------------------------------------
.skin-bg-lighter1-gray {
  background-color: $color-lighter1-gray;
}
.skin-bg-light-gray {
  background-color: $color-light-gray;
}
.skin-green {
  color: $color-green;
}
