// -------------------------------------
// - Typography
// -------------------------------------
// ----- Styles for Typography
// -------------------------------------
.t-title-lg {
  font-size:$font-size-30;
  font-weight: bold;
}
.t-title-med {
  font-size:$font-size-18;
  font-weight: normal;
}
.t-title-sm {
  font-size:$font-size-16;
  font-weight: normal;
}
.txt-left {
  text-align:left;
}
.txt-center {
  text-align:center;
}
.txt-right {
  text-align:right;
}
.txt-underline {
  text-decoration:underline;
}

