= form_for [:admin, :market_index, @market_factor] do |f|
  %div
    = f.label :title
    = f.text_field :title
  %div
    = f.label :description
    = f.text_area :description, rows: 10, class: 'half-width'
  %div
    = f.label :color
    = f.select :color, MarketFactor::COLORS.collect {|k,v| [k, v]}

  = f.submit 'Submit'
