= form_for @flat_rate_offer_batch do |f|
  = fields_for buyer_information do |f|
    %p= t('flat_rate_offer_batches.form.review_prompt')

    = f.label :name, t('flat_rate_offer_batches.form.labels.agreement_name')
    = f.text_field :name

    = f.label :emails, t('flat_rate_offer_batches.form.labels.agreement_email')
    = f.text_field :emails

    = f.label :cell_phone, t('flat_rate_offer_batches.form.labels.agreement_phone')
    = f.text_field :cell_phone

  %table.flat-rates
    %thead
      %tr.super-header
        %th.information= t('flat_rate_offer_batches.form.agreement_information')
        %th= t('flat_rate_offer_batches.form.offer_amount')
    %tbody
      - @flat_rate_offer_batch.flat_rate_offers.each do |offer|
        %tr
          %td #{offer.agreement_no} - #{offer.agreementship_name}
          %td= offer.price

  = hidden_field_tag :pawn_access_number, pawn_access_number
  = label_tag :user_email do
    = t('flat_rate_offer_batches.form.email_prompt')
    = text_field_tag :user_email

  = f.label :sales_rep_email, t('flat_rate_offer_batches.form.sales_rep_email')
  = f.text_field :sales_rep_email, required: true
  = hidden_field_tag :flat_rate_offer_batch_id, id: @flat_rate_offer_batch.id

  = f.submit t('forms.finish'), id: 'js-flat-rate-batch-submit'
