#flat_rate_offer_batches_view

  = button_bar

  %h1= t('flat_rate_offer_batches.show.title')
  %table
    %tr
      %th= t('flat_rate_offer_batches.show.headings.date_offered')
      %td= @flat_rate_offer_batch.created_at
    %tr
      %th= t('flat_rate_offer_batches.show.headings.initiating_users')
      %td= @flat_rate_offer_batch.offering_users_emails.join(', ')
    %tr
      %th= t('flat_rate_offer_batches.show.headings.accepted')
      %td= @flat_rate_offer_batch.approved?
    %tr
      %th= t('flat_rate_offer_batches.show.headings.state')
      %td= @flat_rate_offer_batch.state
    %tr
      %th= t('flat_rate_offer_batches.show.headings.pawn_access')
      %td= @flat_rate_offer_batch.pawn_access_no
    %tr
      %th= t('flat_rate_offer_batches.show.headings.agreement_name')
      %td= @flat_rate_offer_batch.buyer_information.name
    %tr
      %th= t('flat_rate_offer_batches.show.headings.agreement_email')
      %td= @flat_rate_offer_batch.buyer_information.emails
    %tr
      %th= t('flat_rate_offer_batches.show.headings.agreement_5m')
      %td= @flat_rate_offer_batch.offered_agreement_numbers.join(', ')
    %tr
      %th= t('flat_rate_offer_batches.show.headings.expiration_date')
      %td= @flat_rate_offer_batch.expiration_date.strftime('%Y-%m-%d') unless @flat_rate_offer_batch.expiration_date.blank?

  %p.centered= link_to I18n.t('forms.delete'), flat_rate_offer_batch_path(@flat_rate_offer_batch), method: :delete, data: { confirm: t('flat_rate_offer_batches.show.headings.confirm') }, rel: 'delete-batch', class: 'red btn'
