= button_bar(back: {path: admin_index_path})

= form_tag admin_sales_report_email_path, method: :put do
  = label_tag :email, 'Sales report emails:'
  = email_field_tag :email, Settings.sales_report_email, multiple: true
  = submit_tag

