%table
  %tr
    %th= t('return_certificate.purchase_information.purchase_location')
    %td #{return_certificate.purchase_location}
  %tr
    %th= t('return_certificate.purchase_information.universal_code')
    %td #{return_certificate.universal_no}
