%table.bold
  %tr
    %th= t('return_certificate.return_constraints.must_be_received_by')
    %td #{return_certificate.receive_by_date}
  %tr
    %th= t('return_certificate.return_constraints.odometer_limit')
    %td #{return_certificate.odometer_limit} #{return_certificate.promise_purchase.decorate.distance_units}
  %tr
    %th= t('return_certificate.return_constraints.return_location')
    %td #{return_certificate.return_location}
