%p
  %strong= t('return_certificate.return_information.title_status')
  #{return_certificate.title_status}
- if return_certificate.return_instructions.present?
  %p
    %strong= t('return_certificate.return_information.return_instructions')
    #{return_certificate.return_instructions}

%p
  %strong= t('return_certificate.return_information.purchase_date')
  #{return_certificate.purchase_date}
