%table
  %tr
    %th= t('return_certificate.vehicle_information.vnum')
    %td #{return_certificate.vnum}
  %tr
    %th= t('return_certificate.vehicle_information.vehicle_description')
    %td #{return_certificate.vehicle_full_description}
  %tr.sep
    %th= t('return_certificate.vehicle_information.odometer')
    %td #{return_certificate.odometer_reading}
