- if @response.present?
  = content_for :page_title, I18n.t('return_invoice.page_title', vra: @return_certificate.return_invoice.id, vnum: @return_certificate.vnum)

  #return_certificates_view.page
    = button_bar back: { skip: true }, home: { label: t('forms.done') } do
      = link_to t('return_certificate.more_returns_link'), return_funnel_filtered_purchases_path(pawn_access_number: params[:pawn_access_number]), {class: "btn"} if current_user.super_user?
      = link_to t('forms.print'), "#", {id: "print_button", class: "print_btn btn"}

  .certificate.page
    .txt-center= image_tag 'email-header.png'
    %header
      %h1= t('return_certificate.show.page_title')

      %h2
        %strong= t('return_certificate.show.pawn_instructions') #4918814
        %p.center= t('return_certificate.show.vehicle_checkin_note')

    %p.sm= t('return_certificate.show.print_and_copy')

    .barcode= @return_certificate.barcode_data.html_safe

    %section
      %table
        %tr.sep.adj-font
          %th= t('return_certificate.show.return_initiated')
          %td #{@return_certificate.initiation_date}

      = render 'vehicle_information', return_certificate: @return_certificate
      = render 'return_constraints',  return_certificate: @return_certificate

    %section
      %table
        %tr
          %th= t('return_certificate.show.agreementship_no')
          %td #{@return_certificate.agreement_no}
        %tr
          %th= t('return_certificate.show.agreementship_name')
          %td #{@return_certificate.agreementship_name}

    %section
      = render 'purchase_information', return_certificate: @return_certificate
      = render 'return_information', return_certificate: @return_certificate
    %br
      = raw "#{I18n.t('return_invoice_mailer.return_confirmation.disclaimer')}"
    %br
    %footer
      %h2=  t('return_certificate.show.help')
      %p
        #{t('return_certificate.show.contact')}
        %br
        #{t('return_certificate.show.contact_info')}
        %br
        %em= t('return_certificate.show.service_available', support_hours: t('help.support_hours'))

  - if @bill_of_sale.present?
    %section
      .bill_of_sale
        / .break
        / .clr
        .clr
        %br
        %br
        %h1
          .title_txt
            = t('return_funnel.bill_of_sale.text')
        .clr
        .txt-form
          = t('return_funnel.bill_of_sale.date')
          = Time.now.in_time_zone("Eastern Time (US & Canada)")
        = render partial: 'return_funnel/bill_of_sales/show_seller_address_info'
        = render partial: 'return_funnel/bill_of_sales/buyer_address_info'
        .break
        .clr
        = render partial: 'return_funnel/bill_of_sales/show_transaction_details'
        .clr
        .break
      .bill_of_sale
        .break
        .clr
        .clr
        = render partial: 'return_funnel/bill_of_sales/show_selling_agreement_info'
        = render partial: 'return_funnel/bill_of_sales/show_purchasing_agreement_info'
        .clr
        = render partial: 'return_funnel/bill_of_sales/terms_and_conditions'
    .clr
- else
  .certificate.page
    .txt-center= image_tag 'email-header.png'
    %header
      %p.sm= t('return_certificate.show.not_exist')
    %br
      #{t('return_invoice_mailer.return_confirmation.disclaimer')}
    %br
    %footer
      %h2=  t('return_certificate.show.help')
      %p
        #{t('return_certificate.show.contact')}
        %br
        #{t('return_certificate.show.contact_info')}
        %br
        %em= t('return_certificate.show.service_available', support_hours: t('help.support_hours'))
