%h2 Change your password

- if resource.present?
  = form_for(resource, :as => resource_name, :url => admin_user_password_path, :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token

    %div
      = f.label :password, t('devise.passwords.password_field_label_copy')
      %br
      = f.password_field :password, :autofocus => true

    %div
      = f.label :password_confirmation, t('devise.passwords.password_confirmation_field_label_copy')
      %br
      = f.password_field :password_confirmation

    %div
      = f.submit t('devise.passwords.change_password_link_copy')
