- user = User.find(params[:user_id])
=button_bar(back: {path: edit_admin_user_path(user)})

%h2 Send Password Reset Email to Super User

- if user.present?
  = form_for(user, :as => resource_name, :url => admin_user_password_path, :html => { :method => :post }) do |f|
    = devise_error_messages!

    %div
      = f.label :email
      %br
      = f.email_field :email, :autofocus => true
    = hidden_field_tag :user_id, params[:user_id]

    %div= f.submit t('devise.passwords.send_reset_instructions_link_copy')
