= button_bar home: { skip: true }, back: { path: return_funnel_filtered_purchases_path } do
  = link_to t('forms.cancel'), root_path, class: 'btn cancel_btn'
.new-product-fee
  %br
  %br
  %br
  %br
  .lrg-font
    =t('new_product_fee.fee_info_message', {number_of_returns: @return_fee_data.number_of_returns.ordinalize,fee: currency(@return_fee_data.fee, @return_fee_data.country), timeframe: @return_fee_data.timeframe})
    - if @return_fee_data.additional_returns.present?
      - if @return_fee_data.additional_returns.zero?
        =t('new_product_fee.next_return_message', {additional_fee: currency(@return_fee_data.additional_fee, @return_fee_data.country)})
      - else
        =t('new_product_fee.additional_returns_message', {additional_returns: @return_fee_data.additional_returns, additional_fee: currency(@return_fee_data.additional_fee, @return_fee_data.country)})

  .lrg-font
    - if @return_fee_data.fee.present? && !@return_fee_data.fee.zero? && !@return_fee_data.canadian_location?
      %br
      %br
      =t('new_product_fee.ok_cancel_message')
      %br
      %br
      = link_to t('new_product_fee.payment.cc_payment'), new_return_funnel_verification_path(promise_purchase_id: @return_fee_data.purchase.id, return_fee: @return_fee_data.fee, skip_fee_payment: false)
    - else
      %br
      %br
      = link_to t('new_product_fee.continue'), new_return_funnel_verification_path(promise_purchase_id: @return_fee_data.purchase.id, return_fee: nil, skip_fee_payment: false)

    %br
    %br
    - if current_user.invoiceable? && @return_fee_data.fee.present? && !@return_fee_data.fee.zero? && !@return_fee_data.canadian_location?
      = link_to t('new_product_fee.payment.skip_payment'), new_return_funnel_verification_path(promise_purchase_id: @return_fee_data.purchase.id, skip_fee_payment: true)

