= button_bar
= @flat_rate_offer_batch.status_message unless @flat_rate_offer_batch.eligible_for_acceptance?

- current_date = Date.current
= l(current_date, format: "%B #{current_date.day.ordinalize}, %Y")

%p= t('flat_rate_offer_batches.approvals.show.paragraphs.one')
- if @flat_rate_offer_batch.belongs_to_canada?
  %p= t('flat_rate_offer_batches.approvals.show.paragraphs.two_canada')
- else
  %p= t('flat_rate_offer_batches.approvals.show.paragraphs.two')
- if @flat_rate_offer_batch.flat_rate_offers.first.psi_eligible
  %table.flat-rates
    %thead
      %tr.super-header
        %th
        %th{colspan:"3"}= t('flat_rate_offer_batches.approvals.show.headings.protection')
  - @flat_rate_offer_batch.flat_rate_offers.map(&:decorate).each do |offer|
    = "Eligible Purchases by #{offer.agreementship_name} (AgreementNumber #{offer.agreement_no}) will receive:"
    - miles_selected = @flat_rate_offer_batch.belongs_to_canada? ? 600 : offer.miles_selected
    %ul
      %li="21-day, #{miles_selected}-mile Purchase Advantage Promise and a 7-day Post Sale Inspection for #{offer.target_price}"
    = "Vehicles that do not receive a Post Sale Inspection (including those that are ineligible) will receive:"
    %ul
      %li= "21-day, #{miles_selected}-mile Purchase Advantage Promise for #{offer.target_price_for_miles}"
-else
  %table.flat-rates
    %thead
      %tr.super-header
        %th
        %th{colspan:"3"}= t('flat_rate_offer_batches.approvals.show.headings.protection')
      %tr.sub-header
        %th.information= t('flat_rate_offer_batches.approvals.show.headings.agreement_information')
        %th= t('flat_rate_offer_batches.approvals.show.headings.rate')
        %th.days= t('flat_rate_offer_batches.approvals.show.headings.days_from_purchase')
        %th.miles= t('flat_rate_offer_batches.approvals.show.headings.additional', units: @units)
        - if @flat_rate_offer_batch.palv?
          %th.no_fee_returns= t('flat_rate_offer_batches.approvals.show.headings.no_fee_returns')
    %tbody
      - @flat_rate_offer_batch.flat_rate_offers.map(&:decorate).each do |offer|
        %tr
          %td #{offer.agreement_no} - #{offer.agreementship_name}
          %td= offer.price
          %td 21
          - if @flat_rate_offer_batch.belongs_to_canada?
            %td= 600
          - else
            %td= offer.miles_selected
          - if @flat_rate_offer_batch.palv?
            %td= offer.no_fee_returns

- if @flat_rate_offer_batch.palv?
  %p= t('flat_rate_offer_batches.approvals.show.palv_guidelines')
%p= t('flat_rate_offer_batches.approvals.show.guidelines_heading')

%ul
  %li= raw t('flat_rate_offer_batches.approvals.show.guidelines.one')
  %li= t('flat_rate_offer_batches.approvals.show.guidelines.two')
  %li= t('flat_rate_offer_batches.approvals.show.guidelines.three', max_odometer_limit: @limits[:max_odometer_limit], max_vehicle_value: @limits[:max_vehicle_value], max_model_year: @example.max_model_year )
  %li
    = t('flat_rate_offer_batches.approvals.show.guidelines.four', price: @example.vehicle_base_price)
    %ol{style: "list-style-type:lower-alpha; margin: 0;"}
      %li= t('flat_rate_offer_batches.approvals.show.guidelines.five', surcharge_rate: @example.surcharge_rate, vehicle_base_price: @example.vehicle_base_price, vehicle_price: @example.vehicle_price, target_price_for_miles: @example.target_price_for_miles, surcharge: @example.surcharge, surcharge_rate: @example.surcharge_rate, vehicle_amount_eligible_for_surcharge: @example.vehicle_amount_eligible_for_surcharge, program_rate: @example.program_rate)
      %li= t('flat_rate_offer_batches.approvals.show.guidelines.six', surcharge_rate: @example.surcharge_rate, vehicle_price: @example.vehicle_price, target_price: @example.target_price, target_price_for_miles: @example.target_price_for_miles, surcharge: @example.surcharge, vehicle_amount_eligible_for_surcharge: @example.vehicle_amount_eligible_for_surcharge, psi_rate: @example.psi_rate, program_rate_with_psi: @example.program_rate_with_psi)
  %li= raw t('flat_rate_offer_batches.approvals.show.guidelines.seven', link: link_to(t('flat_rate_offer_batches.approvals.show.view_guide'), 'http://www.agreementshield.com/how-to-return/'))
  %li= t('flat_rate_offer_batches.approvals.show.guidelines.eight')
  %li= t('flat_rate_offer_batches.approvals.show.guidelines.nine')
  %li= t('flat_rate_offer_batches.approvals.show.guidelines.ten')
  %li= t('flat_rate_offer_batches.approvals.show.guidelines.eleven')
  %li= t('flat_rate_offer_batches.approvals.show.guidelines.twelve')
  %li= raw t('flat_rate_offer_batches.approvals.show.guidelines.thirteen')
  %li= t('flat_rate_offer_batches.approvals.show.guidelines.fourteen')
  %li= t('flat_rate_offer_batches.approvals.show.guidelines.fifteen')
  %li= t('flat_rate_offer_batches.approvals.show.guidelines.sixteen')

%p= t('flat_rate_offer_batches.approvals.show.paragraphs.three')

%p= t('flat_rate_offer_batches.approvals.show.paragraphs.four')

%p= t('flat_rate_offer_batches.approvals.show.paragraphs.five')

%p
  = t('flat_rate_offer_batches.approvals.show.welcome')
%p
  = t('flat_rate_offer_batches.approvals.show.regards')

  %br
  %br
  %span.director-name= t('flat_rate_offer_batches.approvals.show.agreementshield_team')
%p
  = t('flat_rate_offer_batches.approvals.show.agreementshield_customer_service')
  %br
  = raw t('flat_rate_offer_batches.approvals.show.info', email: link_to("Members@agreementshield.com", "members@agreementshield.com"))
  %br
  = t('flat_rate_offer_batches.approvals.show.hours', hours: t('help.support_hours'))

- if @flat_rate_offer_batch.eligible_for_acceptance?
  .acceptance-btns
    = form_for @flat_rate_offer_batch, url: flat_rate_offer_batch_approval_path(@flat_rate_offer_batch), method: 'post' do |f|
      = f.submit t('flat_rate_offer_batches.approvals.show.accept'), class: 'green btn'
      = link_to t('flat_rate_offer_batches.approvals.show.reject'), flat_rate_offer_batch_approval_path(flat_rate_offer_batch_id: @flat_rate_offer_batch.id), method: :delete, class: 'red btn'
      %br
        %b
          = t('flat_rate_offer_batches.approvals.show.begin_immediately')


