= button_bar

= form_for [:admin, @return_invoice] do |f|

  %h4 Reasons for Return:
  = render partial: 'shared/return_reasons_input_widget', locals: { form: f }

  %br

  %fieldset
    %label
      Additional Information:
      = f.text_field :additional_information
    %label
      Estimated cost to correct above issue(s):
      = f.text_field :estimated_cost

  %fieldset
    %label
      Odometer Reading (#{@return_invoice.decorate.distance_units})
      = f.number_field :odometer_on_return, autocomplete: "off"
    %label
      Return Location
      = f.select :pawn_location_id, @return_invoice.location_options
    %label
      Title Status
      = f.select :title_status, ReturnCertificateDecorator.select_options, prompt: 'Please Select'

  - if floor_plan_branch
    %fieldset
      %label Floor Plan Company
      = select_tag :floor_plan_company_id, options_for_select(floor_plan_company_options, floor_plan_branch.floor_plan_company.id), prompt: 'Select One', required: true
      %label Floor Plan Branch
      = select_tag :floor_plan_branch_id, options_for_select(floor_plan_branch_options, floor_plan_branch.id), prompt: 'Select One', required: true

  %fieldset
    %label
      User Email
      = f.email_field :user_email
    %label
      Return Expiration Date
      = f.date_select :expiration_date
    - if @return_invoice.pplv?
      %label
        Return Fee
        = f.number_field :new_product_fee, value: @return_invoice.new_product_fee || 0

  %fieldset
    = label_tag :vehicle_received do
      = f.check_box :vehicle_received
      = I18n.t('return_status.vehicle_received')
    = label_tag :title_received do
      = f.check_box :title_received
      = I18n.t('return_status.title_received')
    = label_tag :refund_processed do
      = f.check_box :refund_processed
      = I18n.t('return_status.refund_processed')

  - unless @return_invoice.audited?
    = link_to 'New Audit', new_admin_return_invoice_audit_path(@return_invoice)

  - if !@return_invoice.title_received
    %fieldset
      = link_to I18n.t('return_invoice.notify_title_expiry'), admin_return_invoice_expiring_title_notification_path(@return_invoice), method: :post
  - if !@return_invoice.vehicle_received
    %fieldset
      = link_to I18n.t('return_invoice.notify_return_expiry'), admin_return_invoice_expiring_return_notification_path(@return_invoice), method: :post
  - if @return_invoice.canadian_return?
    %fieldset
      = f.fields_for :bill_of_sale, @return_invoice.bill_of_sale do |bill_of_sale_fields|
        = render partial: '/admin/return_invoices/bill_of_sales/seller_address_info', locals: { f: bill_of_sale_fields }
        = render partial: '/admin/return_invoices/bill_of_sales/transaction_details', locals: { f: bill_of_sale_fields }
        = render partial: '/admin/return_invoices/bill_of_sales/selling_agreement_info', locals: { f: bill_of_sale_fields }
        = render partial: '/admin/return_invoices/bill_of_sales/purchasing_agreement_info', locals: { f: bill_of_sale_fields }
  %fieldset
    = label_tag :send_return_confirmation do
      = check_box_tag :send_return_confirmation
      = I18n.t('return_invoice.send_updated_vra')

  = f.submit t('forms.update')
