#return_invoices_view
= button_bar
%br/

= form_for :filters, url: admin_return_invoices_path, method: :get do |f|
  = f.label :vnum do
    VNUM:
    = f.text_field :vnum, value: vnum_filter
  = f.label :vra do
    VRA#:
    = f.text_field :vra, value: vra_filter
  = f.label :agreement_no do
    Agreement#:
    = f.text_field :agreement_no, value: agreement_no_filter
  = f.submit(I18n.t('forms.filter'))
%br/

= render partial: 'paginated_data_table', locals: { fields: fields, rows: @return_invoices }
