= form_for [:admin, @pawn_location] do |f|
  %fieldset
    = f.label :name do
      Name
      = f.text_field :name
    = f.label :initials do
      Initials
      = f.text_field :initials
    = f.label :return_emails do
      Return Emails (comma separated)
      = f.text_field :return_emails, value: @pawn_location.return_emails.join(', ')
    =f.label :accounting_email do
      Accounting Email (comma separated)
      = f.text_field :accounting_email, value: @pawn_location.accounting_email.join(', ')
    = f.label :accepts_returns do
      Accepts Returns?
      = f.check_box :accepts_returns
    = f.label :inspections_enabled do
      Inspections Enabled?
      = f.check_box :inspections_enabled
    = f.label :purchases_enabled do
      Purchases Enabled?
      = f.check_box :purchases_enabled
    = f.label :bsc_location do
      BSC Location?
      = f.check_box :bsc_location
    %br/
    = f.label :g2g_converted do
      G2G Converted?
      = f.check_box :g2g_converted
    %br/
    %br/
    = f.label :country do
      Country
      = f.select :country, SupportedCountry::NAMES
    = f.label :partner_network do
      Partner Network
      = f.select :partner_network, PartnerNetwork::NAMES
    = f.label :return_instructions do
      Return Instructions
      = f.text_area :return_instructions, {:rows => 3, :maxlength => 200}
    = f.submit class: 'green btn'
