#admin_pawn_locations
= button_bar(back: {path: admin_index_path})
%br/
%h1 Pawn Locations

= link_to 'New Pawn Location', new_admin_pawn_location_path

%table#pawn_locations_table.data-table{'data-sort-column' => 1}
  %thead
    %tr
      %th Name
      %th Initials
      %th Inspections Enabled?
      %th Purchases Enabled?
      %th Accepts Returns?
      %th Return Emails
      %th Accounting Email
      %th Return Instructions
  %tbody
    -@pawn_locations.each do |pawn_location|
      %tr
        %td= link_to pawn_location.name, edit_admin_pawn_location_path(pawn_location)
        %td= pawn_location.initials
        %td= pawn_location.inspections_enabled
        %td= pawn_location.purchases_enabled
        %td= pawn_location.accepts_returns?
        %td= pawn_location.return_emails.join(', ') if pawn_location.return_emails
        %td= pawn_location.accounting_email.join(', ') if pawn_location.accounting_email
        %td= pawn_location.return_instructions
= link_to t('admin.pawn_locations.index.export_csv_link_copy'), admin_pawn_locations_path(format: :csv)
