#vnum_blacklists_view
  = button_bar
  %br/
  
  = form_for :filters, url: admin_vnum_blacklists_path, method: :get do |f|
    = f.label :vnum do
      VNUM:
      = f.text_field :vnum, value: vnum_filter
    = f.submit(I18n.t('forms.filter'))
  %br/

  = link_to t('admin.vnum_blacklists.create'), new_admin_vnum_blacklist_path
  = render 'paginated_data_table', fields: fields, rows: @vnum_blacklists
