= button_bar(back: {path: admin_vnum_blacklists_path})
%h1 New Vin Blacklist

= form_for [:admin, @vnum_blacklist] do |f|
  %fieldset
    = f.label :vnum do
      Vin
      = f.text_field :vnum
    = f.label :expiration_date do
      Expiration Date
      = f.text_field :expiration_date
    = f.label :notes do
      Notes
      = f.text_area :notes
    = f.submit t('forms.finish')
