<%= I18n.t('return_invoice_mailer.cancellation.title') %>
===================

<%= yield %>

<%= I18n.t('return_invoice_mailer.cancellation.vehicle_information.title') %>
-------------------

* <%= I18n.t('return_invoice_mailer.cancellation.vehicle_information.vehicle') %> <%= vehicle_information.year %> <%= vehicle_information.make %> <%= vehicle_information.model %>
* <%= I18n.t('return_invoice_mailer.cancellation.vehicle_information.vnum') %> <%= vehicle_information.vnum %>
* <%= I18n.t('return_invoice_mailer.cancellation.vehicle_information.odometer') %> <%= vehicle_information.odometer_reading %> <%= return_invoice.decorate.distance_units %>

<%= I18n.t('return_invoice_mailer.cancellation.return_information.title') %>
------------------

* <%= I18n.t('return_invoice_mailer.cancellation.return_information.return_initiated') %> <%= return_invoice.created_at.to_date %>
* <%= I18n.t('return_invoice_mailer.cancellation.return_information.vra') %> <%= return_invoice.id %>
* <%= I18n.t('return_invoice_mailer.cancellation.return_information.return_cancelled') %> <%= Time.current.to_date %>

<%= I18n.t('return_invoice_mailer.cancellation.agreement_information.title') %>
------------------

* <%= I18n.t('return_invoice_mailer.cancellation.agreement_information.agreement_no') %> <%= return_invoice.pawn_information.agreement_no %>
* <%= I18n.t('return_invoice_mailer.cancellation.agreement_information.pawn_access_no') %> <%= return_invoice.pawn_information.pawn_access_no %>

<%= raw "#{t('help.customer_service_contact', email: Astro::SUPPORT_EMAIL)} #{t('help.support_hours')}" %>
