%p
  %strong{:style => "text-decoration: underline; text-align: center;"}= I18n.t('return_invoice_mailer.cancellation.title')

= yield

%p
  %strong{:style => "text-decoration: underline;"}= I18n.t('return_invoice_mailer.cancellation.vehicle_information.title')
%ul
  %li
    #{I18n.t('return_invoice_mailer.cancellation.vehicle_information.vehicle')} #{vehicle_information.year} #{vehicle_information.make} #{vehicle_information.model}
  %li
    #{I18n.t('return_invoice_mailer.cancellation.vehicle_information.vnum')} #{vehicle_information.vnum}
  %li
    #{I18n.t('return_invoice_mailer.cancellation.vehicle_information.odometer')} #{vehicle_information.odometer_reading} #{return_invoice.decorate.distance_units}

%p
  %strong{:style => "text-decoration: underline;"}= I18n.t('return_invoice_mailer.cancellation.return_information.title')
%ul
  %li
    #{I18n.t('return_invoice_mailer.cancellation.return_information.return_initiated')} #{return_invoice.created_at.strftime("%m/%d/%Y") }
  %li
    #{I18n.t('return_invoice_mailer.cancellation.return_information.vra')} #{return_invoice.id}
  %li
    #{I18n.t('return_invoice_mailer.cancellation.return_information.return_cancelled')} #{Time.current.strftime("%m/%d/%Y")}

%p
  %strong{:style => "text-decoration: underline;"}= I18n.t('return_invoice_mailer.cancellation.agreement_information.title')
%ul
  %li
    #{I18n.t('return_invoice_mailer.cancellation.agreement_information.agreement_no')} #{return_invoice.pawn_information.agreement_no}
  %li
    #{I18n.t('return_invoice_mailer.cancellation.agreement_information.pawn_access_no')} #{return_invoice.pawn_information.pawn_access_no}

