%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  %body{:bgcolor => "#fff", :style => "margin: 0; padding:20px; background-color: #fff;"}
    %table{:border => "0", :style => "border-collapse: collapse; margin: 0 auto; font-family: Helvetica, Arial, sans-serif; font-size: 16px;", :width => "600"}
      %tr
        %td
          %img{:alt => "AgreementShield", :src => attachments["email-header.png"].url, :style => "font-size: 24px; font-weight: bold; width: 600px;"}/
      %tr
        %td{:style => "padding: 40px;"}

          = render layout: 'cancellation', locals: {vehicle_information: @vehicle_information, return_invoice: @return_invoice } do
            %p #{@return_invoice.reason}#{I18n.t('return_invoice.cancellation.email_note')}

      = render partial: "shared/mail_footer"
