%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  %body{:bgcolor => "#fff", :style => "margin: 0; padding:20px; background-color: #fff;"}
    %table{:border => "0", :style => "border-collapse: collapse; margin: 0 auto; font-family: Helvetica, Arial, sans-serif; font-size: 16px;", :width => "600"}
      %tr
        %td
          %img{:alt => "AgreementShield", :src => attachments["email-header.png"].url, :style => "font-size: 24px; font-weight: bold; width: 600px;"}/
          %p
            %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
              %li{:style => "padding-top: 15px"}
                #{I18n.t('return_invoice_mailer.cancellation.vehicle_information.vnum')}:
                %strong #{@return_invoice.vnum}
              %li
                #{I18n.t('return_invoice_mailer.notification_to_accountant.return_fee')}:
                %strong #{@return_invoice.return_fee}
              %li{:style => "padding-top: 15px"}
                #{I18n.t('return_invoice_mailer.notification_to_accountant.message')}

      = render partial: "shared/mail_footer"
