<%= render layout: 'cancellation', locals: {vehicle_information: @vehicle_information, return_invoice: @return_invoice } do %>
  <%= @return_invoice.reason %> <%= I18n.t('return_invoice.cancellation.email_note') %>
<% end %>
