Return Location updated for VRA: #{@return_invoice.vra}
\
Details:
\-------------------
* VNUM: #{@return_invoice.vnum}
* VRA: #{@return_invoice.vra}
* Old Return Location: #{@previous_pawn_location.try(:initials)}
* New Return Location: #{@return_invoice.return_location_initials}
* Updated By: #{@return_invoice.last_update_by}
