= render layout: 'email_layout', locals: { title: 'RETURN LOCATION UPDATED' } do

  %p
    Return location has been updated for VRA: #{@return_invoice.vra}

  %p
    %strong{:style => "text-decoration: underline;"} Details:
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      VNUM:
      %strong #{@return_invoice.vnum}
    %li
      VRA:
      %strong #{@return_invoice.vra}
    %li
      Old Return Location:
      %strong #{@previous_pawn_location.try(:initials)}
    %li
      New Return Location:
      %strong #{@return_invoice.return_location_initials}
    %li
      Updated By:
      %strong #{@return_invoice.last_update_by}

