%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  %body{:bgcolor => "#fff", :style => "margin: 0; padding:20px; background-color: #fff;"}
    %table{:border => "0", :style => "border-collapse: collapse; margin: 0 auto; font-family: Helvetica, Arial, sans-serif; font-size: 16px;", :width => "600"}
      %tr
        %td
          %img{:alt => "AgreementShield", :src => attachments["email-header.png"].url, :style => "font-size: 24px; font-weight: bold; width: 600px;"}/
          %h3 #{I18n.t('return_invoice_mailer.cancelled_vra_report.subject', month: @report.month)}
          - if @report.empty?
            %p= "No cancelled VRAs found for #{@report.month}(month-to-date)."
          - else
            %p= "Please find the list of return cancellations for #{@report.month}(month-to-date) in the link below:"
            %p
              %a{href: @report.presigned_url}= "Cancellation Report - #{@report.month}"
          %br
          %br
      = render partial: "shared/mail_footer"
