= render layout: 'email_layout', locals: { title: 'Other Branch Selected' } do
  %ul
    %li Agreement name: #{@return_certificate.agreement_name}
    %li Agreement number: #{@return_certificate.agreement_no}
    %li VNUM: #{@return_certificate.vnum}
    %li Floorplan: #{@return_certificate.floor_plan_company.company_code}
    %li Vehicle description: #{@return_certificate.vehicle_full_description}
    %li Notes: #{@notes}
