%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %body{:bgcolor => "#fff", :style => "margin: 0; padding:20px; background-color: #fff;"}
    %table{:border => "0", :style => "border-collapse: collapse; margin: 0 auto; font-family: Helvetica, Arial, sans-serif; font-size: 16px;", :width => "600"}
      %tr
        %td
          %p
            %strong{:style => "text-decoration: underline;"}= I18n.t('return_invoice_mailer.pawn_location_return_notification.disbursement_info')
          %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.customer_number')} #{@return_certificate.agreement_no}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.agreementship')} #{@return_certificate.agreementship_name}
            %li
              - if @floor_plan_branch
                = I18n.t('return_invoice_mailer.pawn_location_return_notification.floor_plan')
                = @return_certificate.floor_plan_company_name
                = @floor_plan_branch.address_street
                = @floor_plan_branch.address_suite
                #{@floor_plan_branch.address_city}, #{@floor_plan_branch.address_state} #{@floor_plan_branch.address_zipcode}
                = @floor_plan_branch.country_code
              - else
                = I18n.t('return_invoice_mailer.pawn_location_return_notification.agreementship_address')
                =@return_certificate.agreementship_addr_street
                =@return_certificate.agreementship_addr_suite
                #{@return_certificate.agreementship_addr_city}, #{@return_certificate.agreementship_addr_state} #{@return_certificate.agreementship_addr_zipcode}
                =@return_certificate.agreementship_addr.country
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.sale_location')} #{@return_certificate.purchase_location}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.sale_date')} #{@return_certificate.vehicle_purchase_date}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.approver_name')}  
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.payment_description')} #{@return_certificate.payment_description}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.vehicle_purchase_amount')} #{@return_certificate.vehicle_purchase_price}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.buy_fee_amount')} #{@return_certificate.adjustments_buy_fee}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.buynet')} #{@return_certificate.buy_net}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.adjustment_info')} #{@return_certificate.adjustments_description}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.vehicle_vnum')} #{@return_certificate.vnum}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.work_order')} #{@return_certificate.work_order_number}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.vehicle_description')} #{@return_certificate.vehicle_full_description}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.vra_number')} #{@return_certificate.vra_number}
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.how_paid_code')} #{@return_certificate.payment_type}
            - unless @return_certificate.left_lot?
              %li= t('return_invoice.disbursement.unpaid')
            %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.if_bid')} #{@return_certificate.if_bid? ? I18n.t('return_invoice_mailer.pawn_location_return_notification.yes_option') : I18n.t('return_invoice_mailer.pawn_location_return_notification.no_option')}
            - if @return_certificate.has_transportation_coverage?
              %li #{I18n.t('return_invoice_mailer.pawn_location_return_notification.transportation_coverage')} #{@return_certificate.transportation_coverage_value}
          - if @return_certificate.payment_type
            %strong= @return_certificate.payment_type_copy

          %p
            %strong{:style => "text-decoration: underline;"}= I18n.t('return_invoice_mailer.pawn_location_return_notification.return_information')
          %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
            %li
              #{I18n.t('return_invoice_mailer.pawn_location_return_notification.return_initiated')} #{@return_certificate.initiation_date.to_formatted_s(:dashed_with_tz) if @return_certificate.initiation_date}
            %li
              #{I18n.t('return_invoice_mailer.pawn_location_return_notification.must_be_received')} #{@return_certificate.receive_by_date.to_formatted_s(:dashed_with_tz) if @return_certificate.receive_by_date}
            %li
              #{I18n.t('return_invoice_mailer.pawn_location_return_notification.odometer_limit')} #{@return_certificate.odometer_limit}
            %li
              #{I18n.t('return_invoice_mailer.pawn_location_return_notification.return_location')} #{@return_certificate.return_location}
            %li
              #{I18n.t('return_invoice_mailer.pawn_location_return_notification.reason_for_return')} #{@return_certificate.return_reasons}
            %li
              #{I18n.t('return_invoice_mailer.pawn_location_return_notification.title_status')} #{@return_certificate.title_status}

      %tr
        %td{:style => "padding: 40px;"}
          %strong{:style => "text-decoration: underline;"}= I18n.t('return_invoice_mailer.pawn_location_return_notification.documentation')
          %br
          = link_to I18n.t('return_invoice_mailer.pawn_location_return_notification.disbursement_request_form'), return_invoice_disbursement_request_url(@return_invoice)
          %br
          = link_to I18n.t('return_invoice_mailer.pawn_location_return_notification.vehicle_return_authorization'), @return_certificate_url
          - if @shipment.present?
            %br/
            = link_to I18n.t('return_invoice_mailer.pawn_location_return_notification.shipping_label'), @shipment.label_url

      = render partial: "shared/mail_footer"
