= I18n.t('return_invoice_mailer.return_confirmation.title')
= I18n.t('return_invoice_mailer.return_confirmation.print_and_place_note')
#{I18n.t('return_invoice_mailer.return_confirmation.print')} : #{@return_certificate_url}
\
= I18n.t('return_invoice_mailer.return_confirmation.vehicle_information.heading')
\-------------------
* #{I18n.t('return_invoice_mailer.return_confirmation.vehicle_information.vehicle')} #{@return_certificate.vehicle_full_description}
* #{I18n.t('return_invoice_mailer.return_confirmation.vehicle_information.vnum')} #{@return_certificate.vnum}
* #{I18n.t('return_invoice_mailer.return_confirmation.vehicle_information.odometer')} #{@return_certificate.return_invoice.decorate.odometer_reading_with_units}
\
= I18n.t('return_invoice_mailer.return_confirmation.return_information.heading')
\------------------
* #{I18n.t('return_invoice_mailer.return_confirmation.return_information.purchase_location')} #{@return_certificate.purchase_location}
* #{I18n.t('return_invoice_mailer.return_confirmation.return_information.return_location')} #{@return_certificate.return_location}
* #{I18n.t('return_invoice_mailer.return_confirmation.return_information.return_initiated')} #{@return_certificate.initiation_date.to_s(:slashed)}
* #{I18n.t('return_invoice_mailer.return_confirmation.return_information.must_be_received')} #{@return_certificate.receive_by_date.to_s(:slashed)}
* #{I18n.t('return_invoice_mailer.return_confirmation.return_information.odometer_limit')} #{@return_certificate.odometer_limit}  #{@return_certificate.return_invoice.decorate.distance_units}
* #{I18n.t('return_invoice_mailer.return_confirmation.return_information.title_status')} #{@return_certificate.title_status}
* #{I18n.t('return_invoice_mailer.return_confirmation.return_information.return_instructions')} #{@return_certificate.return_instructions}
\
= I18n.t('return_invoice_mailer.return_confirmation.agreement_information.heading')
\------------------
#{I18n.t('return_invoice_mailer.return_confirmation.agreement_information.agreement_no')} #{@return_certificate.agreement_no}
#{I18n.t('return_invoice_mailer.return_confirmation.agreement_information.pawn_access_no')} #{@return_certificate.pawn_access_no}
#{I18n.t('return_invoice_mailer.return_confirmation.agreement_information.badge_no')} #{@return_certificate.badge_no}

= raw "#{I18n.t('return_invoice_mailer.return_confirmation.refund_note', link_name: I18n.t('return_invoice_mailer.return_confirmation.sign_up_for_ach'), link_url: page_url('ach') )}" unless @return_certificate.canadian_return_location?

= raw "#{I18n.t('return_invoice_mailer.return_confirmation.disclaimer')}"

= raw "#{t('help.customer_service_contact', email: Astro::SUPPORT_EMAIL)} #{t('help.support_hours')}"
