= render layout: 'email_layout', locals: { title: I18n.t('return_invoice_mailer.return_confirmation.title') } do
  %p{:style => "font-weight:bold; text-align: center;"}= I18n.t('return_invoice_mailer.return_confirmation.print_and_place_note')
  %p{:style => "font-weight:bold; text-align: center;"}
    =link_to I18n.t('return_invoice_mailer.return_confirmation.print'), @return_certificate_url, {style: "text-decoration: none; color: #fff; background-color: #d59d30; background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%); background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%); border: 1px solid #d59d30; border-radius: 0.25em; box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.6), inset 0 -1px 4px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.1); display: inline-block; line-height: 1em; padding: 0.8em 1.2em; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);"}
  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"}= I18n.t('return_invoice_mailer.return_confirmation.vehicle_information.heading')
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      #{I18n.t('return_invoice_mailer.return_confirmation.vehicle_information.vehicle')}
      %strong #{@return_certificate.vehicle_full_description}
    %li
      #{I18n.t('return_invoice_mailer.return_confirmation.vehicle_information.vnum')}
      %strong #{@return_certificate.vnum}
    %li
      #{I18n.t('return_invoice_mailer.return_confirmation.vehicle_information.odometer')}
      %strong #{@return_certificate.return_invoice.decorate.odometer_reading_with_units}

  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"}= I18n.t('return_invoice_mailer.return_confirmation.return_information.heading')
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      #{I18n.t('return_invoice_mailer.return_confirmation.return_information.purchase_location')}
      %strong #{@return_certificate.purchase_location}
    %li
      #{I18n.t('return_invoice_mailer.return_confirmation.return_information.return_location')}
      %strong #{@return_certificate.return_location}
    %li
      #{I18n.t('return_invoice_mailer.return_confirmation.return_information.return_initiated')}
      %strong #{@return_certificate.initiation_date.to_formatted_s(:slashed)}
    %li
      #{I18n.t('return_invoice_mailer.return_confirmation.return_information.must_be_received')}
      %strong #{@return_certificate.receive_by_date.to_formatted_s(:slashed)}
    %li
      #{I18n.t('return_invoice_mailer.return_confirmation.return_information.odometer_limit')}
      %strong #{@return_certificate.odometer_limit} #{@return_certificate.return_invoice.decorate.distance_units}
    %li
      #{I18n.t('return_invoice_mailer.return_confirmation.return_information.title_status')}
      %strong #{@return_certificate.title_status}
    - if @return_certificate.return_instructions.present?
      %li
        #{I18n.t('return_invoice_mailer.return_confirmation.return_information.return_instructions')}
        %strong #{@return_certificate.return_instructions}

  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"}= I18n.t('return_invoice_mailer.return_confirmation.agreement_information.heading')
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      #{I18n.t('return_invoice_mailer.return_confirmation.agreement_information.agreement_no')}
      %strong #{@return_certificate.agreement_no}
    %li
      #{I18n.t('return_invoice_mailer.return_confirmation.agreement_information.pawn_access_no')}
      %strong #{@return_certificate.pawn_access_no}
    %li
      #{I18n.t('return_invoice_mailer.return_confirmation.agreement_information.badge_no')}
      %strong #{@return_certificate.badge_no}

  %p
    = raw "#{I18n.t('return_invoice_mailer.return_confirmation.refund_note', link_name: I18n.t('return_invoice_mailer.return_confirmation.sign_up_for_ach'), link_url: page_url('ach') )}" unless @return_certificate.canadian_return_location?
  %p
    = raw "#{I18n.t('return_invoice_mailer.return_confirmation.disclaimer')}"

