VRA Reinstatement

* VNUM: #{@return_invoice.vnum}
* Agreementship 5M#: #{@return_invoice.agreement_no}
* Agreementship Name: #{@return_invoice.return_certificate.agreement_name}
* VRA#: #{link_to @return_invoice.vra, @return_certificate_url}
* Return Location: #{@return_invoice.return_location_initials}
* New Expiration Date: #{@return_invoice.expiration_date}
* VRA Reinstated by: #{@reinstating_username}
