= render layout: 'email_layout', locals: { title: 'VRA Reinstatement' } do

  %p
    %ul
      %li
        VNUM: #{@return_invoice.vnum}
      %li
        Agreementship 5M#: #{@return_invoice.agreement_no}
      %li
        Agreementship Name: #{@return_invoice.return_certificate.agreement_name}
      %li
        VRA#: #{link_to @return_invoice.vra, @return_certificate_url}
      %li
        Return Location: #{@return_invoice.return_location_initials}
      %li
        New Expiration Date: #{@return_invoice.expiration_date}
      %li
        VRA Reinstated by: #{@reinstating_username}
