= render layout: 'email_layout', locals: { title: 'ASTRSHIELD VEHICLE RETURN AUTHORIZATION TITLE NOTICE' } do

  %p
    We haven't received the title for the vehicle associated with your AgreementShield Vehicle Return Authorization below! Our records show that the title was either shipped or given to you and has not yet been received at pawn. Please return the title to #{@return_certificate.return_location} before #{@return_certificate.receive_by_date.to_formatted_s(:slashed)}

  %p
    If you have already returned the title to this vehicle or if you will be unable to provide the title prior to that date, please contact AgreementShield Customer Service at #{Astro::SUPPORT_EMAIL} or call 855-246-3232 #{t('help.support_hours')}

  %p{:style => "font-weight:bold; text-align: center; text-decoration: underline;"} ASTRSHIELD RETURN AUTHORIZATION
  %p{:style => "font-weight:bold; text-align: center;"} YOU MUST PRINT YOUR RETURN CERTIFICATE AND PLACE ON THE VEHICLE DASHBOARD.
  %p{:style => "font-weight:bold; text-align: center;"}
    =link_to "PRINT YOUR RETURN CERTIFICATE — CLICK HERE", @return_certificate_url, {style: "text-decoration: none; color: #fff; background-color: #d59d30; background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%); background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%); border: 1px solid #d59d30; border-radius: 0.25em; box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.6), inset 0 -1px 4px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.1); display: inline-block; line-height: 1em; padding: 0.8em 1.2em; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);"}
  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"} Vehicle Information:
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      Vehicle:
      %strong #{@return_certificate.vehicle_full_description}
    %li
      VNUM:
      %strong #{@return_certificate.vnum}
    %li
      Odometer:
      %strong #{@return_certificate.odometer_reading}

  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"} Return Information:
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      Purchase Location:
      %strong #{@return_certificate.purchase_location}
    %li
      Return Location:
      %strong #{@return_certificate.return_location}
    %li
      Return Initiated:
      %strong #{@return_certificate.initiation_date.to_formatted_s(:slashed)}
    %li
      Must Be Received By:
      %strong #{@return_certificate.receive_by_date.to_formatted_s(:slashed)}

  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"} Agreement Information:
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      Agreement #:
      %strong #{@return_certificate.agreement_no}
    %li
      Pawn Access #:
      %strong #{@return_certificate.pawn_access_no}
    %li
      Badge #:
      %strong #{@return_certificate.badge_no}
