We haven't received the title for the vehicle associated with your AgreementShield Vehicle Return Authorization below! Our records show that the title was either shipped or given to you and has not yet been received at pawn. Please return the title to #{@return_certificate.return_location} before #{@return_certificate.receive_by_date.to_s(:slashed)}
\
Vehicle Information
\-------------------
* Vehicle: #{@return_certificate.vehicle_full_description}
* VNUM: #{@return_certificate.vnum}
* Odometer: #{@return_certificate.odometer_reading}
\
Return Information
\------------------
* Purchase Location: #{@return_certificate.purchase_location}
* Return Location: #{@return_certificate.return_location}
* Return Initiated: #{@return_certificate.initiation_date.to_s(:slashed)}
* Must Be Received By: #{@return_certificate.receive_by_date.to_s(:slashed)}
* Odometer Limit: #{@return_certificate.odometer_limit}
* Title Status: #{@return_certificate.title_status}
\
Agreement Information
\------------------
Agreement #: #{@return_certificate.agreement_no}
Pawn Access #: #{@return_certificate.pawn_access_no}
Badge #: #{@return_certificate.badge_no}
\
If you have already returned the title to this vehicle or if you will be unable to deliver the vehicle prior to that date or if your plans have changed and you would like to cancel the return authorization for this vehicle, please contact AgreementShield Customer Service at #{Astro::SUPPORT_EMAIL} or call 855-246-3232 #{t('help.support_hours')}
