%p A charge failed for a promise purchased on Astro (in #{Rails.env}).

%p Charge info:

%ul
  %li VNUM: #{@charge.vnum}
  - @charge.attributes.each do |name, value|
    %li #{name}: #{value}

%p The system reported the following error:

%blockquote= @error_message
