= render 'notify_failure'

%p
  The last attempt to process this charge has failed. It will not be attempted
  again. Please address this issue manually.
%p
  Universal No: #{@charge.pawn_information.universal_no}
