#admin_feature_flags
= button_bar(back: {path: admin_index_path})
%table#feature_flags_table.data-table
  %thead
    %th Flag Name
    %th Flag Description
  %tbody
    - FeatureFlag.each do |flag, values|
      %tr
        %td
          = form_for Settings, url: admin_feature_flags_path, remote: true do |f|
            = f.label flag
            = f.check_box flag
            %div.status
        %td= values[:description]
