#pawn_access_number_blacklists_view
  = button_bar
  %br/

  = form_for :filters, url: admin_pawn_access_number_blacklists_path, method: :get do |f|
    = f.label :pawn_access_no do
      Pawn Access #:
      = f.text_field :pawn_access_no, value: pawn_access_number_filter
    = f.submit(I18n.t('forms.filter'))
  %br/

  = render partial: 'paginated_data_table', locals: { fields: fields, rows: @pawn_access_number_blacklists }

  = link_to t('admin.pawn_access_number_blacklists.create'), new_admin_pawn_access_number_blacklist_path

