= button_bar(back: {path: admin_pawn_access_number_blacklists_path})
%h1 New Pawn Access Number Blacklist

= form_for [:admin, @pawn_access_number_blacklist] do |f|
  %fieldset
    = f.label :pawn_access_no do
      Pawn Access#
      = f.text_field :pawn_access_no
    = f.label :expiration_date do
      Expiration Date
      = f.text_field :expiration_date
    = f.label :notes do
      Notes
      =f.text_area :notes
    = f.submit t('forms.finish')
