= button_bar back: {path: return_funnel_filtered_purchases_path }

- if @how_paid_information.errors.present?
  %p
    = t('vehicles.how_paid.error_text')
  %ul
    - @how_paid_information.errors.to_a.each do |error|
      %li #{error}.

.how-paid
  .decorate.bold.lrg-font
    = t('vehicles.how_paid.display_text')
  .decorate.lrg-font
    = t('vehicles.how_paid.answer_questions_text')
  = form_for @how_paid_information, url: how_paid_information_path do |f|
    .decorate.smll-font
      = f.label :payment_type, t('vehicles.how_paid.how_paid_text')
      = f.select "payment_type", HowPaidInformationDecorator.payment_type_options, class: 'wider', prompt: I18n.t('vehicles.how_paid.make_a_selection')
      %br
      = label_tag :floor_plan_company, t('vehicles.how_paid.floor_plan_company_text'), id: 'floor_plan_company_label', class: 'hidden'
      .select
        = select_tag "floor_plan_company", options_for_select(floor_plan_companies), class: 'hidden', prompt: I18n.t('vehicles.how_paid.make_a_selection')
      = f.hidden_field :vnum, value: @vnum
      = hidden_field_tag :promise_purchase_id, @promise_purchase_id
    .right_align
      = f.submit t('forms.next'), class: "green btn"
