= form_for [:admin, @buyer_information] do |f|
  = f.label :name, 'Name:'
  = f.text_field :name

  = f.label :emails, 'Email:'
  %input{ id: "buyer_information_emails", name: "buyer_information[emails]", size: 30, type: "email", multiple: true, value: @buyer_information.emails }

  = f.label :cell_phone, 'Cell Phone #:'
  = f.text_field :cell_phone

  = f.label :office_phone, 'Office Phone #:'
  = f.text_field :office_phone

  = f.label :pawn_access_no, 'Pawn Access #:'
  = f.text_field :pawn_access_no

  = f.submit t('forms.finish')
