#buyer_information_view
  = button_bar

  %h2 Buyer Information

  = link_to t('admin.buyer_information.create'), new_admin_buyer_information_path

  = form_for :filters, url: admin_buyer_information_index_path, method: :get do |f|
    = f.label :pawn_access_no do
      Pawn Access#:
    = f.text_field :pawn_access_no, value: pawn_access_no_filter
    = f.label :agreement_number do
      Agreement#:
    = f.text_field :agreement_number, value: agreement_number_filter
    = f.submit(I18n.t('forms.filter'))
  %br

  = render 'paginated_data_table', fields: fields, rows: @buyer_information
