.disbursement_request
  %h1= t('disbursement_requests.show.title')
  %p.screen_only= t('disbursement_requests.show.please_print')
  - unless return_certificate.left_lot?
    %p
      %strong= t('return_invoice.disbursement.unpaid')
  %hr/

  .cf
    .col.l= t('disbursement_requests.show.initiation_date', initiation_date: return_certificate.initiation_date.to_s(:long_with_day))
    .col.r= t('disbursement_requests.show.return_location', return_location: return_certificate.return_location)

  %section.claim_information.cf
    %h2.titlebar= t('disbursement_requests.show.claim_information.title')
    = form_for :claim_information, url: '' do |f|
      %fieldset.l
        = f.label :pawn_access_number, t('disbursement_requests.show.claim_information.labels.agreement_no')
        = f.text_field :pawn_access_number, value: return_certificate.agreement_no

        = f.label :agreementship_name
        = f.text_field :agreementship_name, value: return_certificate.agreementship_name

        = f.label :seller_number, t('disbursement_requests.show.claim_information.labels.seller_no')
        = f.text_field :seller_number, value: return_certificate.promise_offer.seller_no

        = f.label :seller_name, t('disbursement_requests.show.claim_information.labels.seller')
        = f.text_field :seller_name

        = f.label :claim_representative, t('disbursement_requests.show.claim_information.labels.claims_rep')
        = f.text_field :claim_representative

        = f.label :complaint
        = f.text_field :complaint

        .line.market-channel
          = f.label :market
          = f.text_field :market
          .inline
            = f.label :channel
            = f.text_field :channel

        = f.label :disposition
        = f.text_field :disposition

        = f.label :type
        = f.text_field :type

        = f.label :reason_code
        = f.text_field :reason_code

      %fieldset.r
        = f.label :vnum
        = f.text_field :vnum, value: return_certificate.vnum

        = f.label :work_order_number, t('disbursement_requests.show.work_order_number')
        = f.text_field :work_order_number, value: return_certificate.promise_offer.work_order_number

        = f.label :universal_key
        = f.text_field :universal_key

        = f.label :year_make_model, t('disbursement_requests.show.year_make_model')
        = f.text_field :year_make_model, value: return_certificate.year_make_model

        = f.label :mileage
        = f.text_field :mileage, value: return_certificate.odometer_reading

        %fieldset.checks
          %legend= t('disbursement_requests.show.claims_checklist.legend')
          = label_tag do
            = f.check_box :arb_opened
            = t('disbursement_requests.show.claims_checklist.labels.arb_opened')

          = label_tag do
            = f.check_box :paperwork_tagged
            = t('disbursement_requests.show.claims_checklist.labels.paperwork_tagged')

          = label_tag do
            = f.check_box :seller_notified
            = t('disbursement_requests.show.claims_checklist.labels.seller_notified')

          = label_tag do
            = f.check_box :car_returned, checked: true
            = t('disbursement_requests.show.claims_checklist.labels.car_returned')

          = label_tag do
            = f.check_box :car_inspected
            = t('disbursement_requests.show.claims_checklist.labels.car_inspected')

          = label_tag do
            = f.check_box :title_present
            = t('disbursement_requests.show.claims_checklist.labels.title_present')

          = label_tag do
            = f.check_box :seller_check_present
            = t('disbursement_requests.show.claims_checklist.labels.seller_check_present')

          = label_tag do
            = f.check_box :notes_completed
            = t('disbursement_requests.show.claims_checklist.labels.notes_completed')

          = label_tag do
            = f.check_box :buyer_payment_received
            = t('disbursement_requests.show.claims_checklist.labels.buyer_payment_received')

      = f.text_area :more_information

      .sig
        = f.label :approvnumg_manager, t('disbursement_requests.show.claims_checklist.labels.approvnumg_manager')
        = f.text_field :approvnumg_manager

  %section.payment_information.cf
    %h2.titlebar= t('disbursement_requests.show.payment_information.title')
    = form_for :payment_information, url: '' do |f|
      %fieldset.l
        %legend= t('disbursement_requests.show.payment_information.legend')
        = f.label :buynet, t('disbursement_requests.show.payment_information.labels.buynet')
        = f.text_field :buynet, value: return_certificate.total_refund

        = f.label :price_adjustment, t('disbursement_requests.show.payment_information.labels.price_adjustment')
        = f.text_field :price_adjustment

        = f.label :transportation_bill, t('disbursement_requests.show.payment_information.labels.transportation_bill')
        = f.text_field :transportation_bill

        = f.label :repair_bill, t('disbursement_requests.show.payment_information.labels.repair_bill')
        = f.text_field :repair_bill

        = f.label :less_psi, t('disbursement_requests.show.payment_information.labels.less_psi')
        = f.text_field :less_psi

        = f.label :adjustment, t('disbursement_requests.show.payment_information.labels.adjustment')
        = f.text_field :adjustment

        = f.label :other, t('disbursement_requests.show.payment_information.labels.other')
        = f.text_field :other

        = f.label :reimburse_buyer, t('disbursement_requests.show.payment_information.labels.approvnumg_manager')
        = f.text_field :reimburse_byer, value: return_certificate.total_refund

      %fieldset.r
        %legend= t('disbursement_requests.show.reissue_seller_check.legend_1')
        = label_tag do
          = f.check_box :void_seller_check
          = t('disbursement_requests.show.reissue_seller_check.labels.stop_void_seller')

        = f.label :new_check_amount, t('disbursement_requests.show.reissue_seller_check.labels.new_check_amount')
        = f.text_field :new_check_amount

        %fieldset
          %legend= t('disbursement_requests.show.reissue_seller_check.legend_2')
          = f.label :sale_price, t('disbursement_requests.show.reissue_seller_check.labels.sale_price')
          = f.text_field :sale_price

          = f.label :sale_fee, t('disbursement_requests.show.reissue_seller_check.labels.sale_fees')
          = f.text_field :sale_fee

          = f.label :arbitration_fee, t('disbursement_requests.show.reissue_seller_check.labels.arbitration_fee')
          = f.text_field :arbitration_fee

          = f.label :ar_deducted, t('disbursement_requests.show.reissue_seller_check.labels.ar_deducted')
          = f.text_field :ar_deducted

          = f.label :recon_deducted, t('disbursement_requests.show.reissue_seller_check.labels.recon_deducted')
          = f.text_field :recon_deducted

          = f.label :other, t('disbursement_requests.show.reissue_seller_check.labels.other')
          = f.text_field :other

          = f.label :total, t('disbursement_requests.show.reissue_seller_check.labels.total_to_bill')
          = f.text_field :total, placeholder: '$'

      .note
        = f.label :note, t('disbursement_requests.show.reissue_seller_check.labels.note')
        = f.text_field :note, value: return_certificate.description

  %section.accounting.cf
    %h2.titlebar= t('disbursement_requests.show.accounting_use_only.title')
    = form_for :accounting, url: '' do |f|
      %fieldset.l
        = f.label :vnum, t('disbursement_requests.show.accounting_use_only.labels.vnum')
        = f.text_field :vnum, value: return_certificate.vnum

        = f.label :work_order_number, t('disbursement_requests.show.accounting_use_only.labels.work_order_number')
        = f.text_field :work_order_number, value: return_certificate.promise_offer.work_order_number

        = f.label :universal_key, t('disbursement_requests.show.accounting_use_only.labels.universal_key')
        = f.text_field :universal_key

      .line.checks
        .col.l
          = label_tag do
            = f.check_box :remove_from_holds
            = t('disbursement_requests.show.accounting_use_only.labels.remove_from_holds')
        .col.r
          = label_tag do
            = f.check_box :remove_from_mafs
            = t('disbursement_requests.show.accounting_use_only.labels.remove_from_mafs')

      %table
        %thead
          %tr
            %th.account= t('disbursement_requests.show.account')
            %th.description= t('disbursement_requests.show.description')
            %th.amount= t('disbursement_requests.show.amount')
        %tbody
          %tr
            %td{colspan: '3'}= t('disbursement_requests.show.payment_1.name')
          = f.fields_for "payment_1" do |f|
            - 7.times do |i|
              %tr
                %td= f.text_field "acount_#{i}", placeholder: '00491.'
                %td= f.text_field "description_#{i}", value: i==0 ? return_certificate.description : nil
                %td= f.text_field "amount_#{i}", placeholder: '$', value: i==0 ? return_certificate.total_refund : nil
            %tr
              %td{class: 'pmt-total', colspan: '3'}
                .col.l
                  = f.label :accounting_approver, t('disbursement_requests.show.payment_1.labels.accounting_approver')
                  = f.text_field :accounting_approver
                .col.r
                  = f.label :total, t('disbursement_requests.show.payment_1.labels.total')
                  = f.text_field :total
          %tr
            %td{colspan: '3'}= t('disbursement_requests.show.payment_2.name')
          = f.fields_for "payment_2" do |f|
            - 7.times do |i|
              %tr
                %td= f.text_field "acount_#{i}", placeholder: '00491.'
                %td= f.text_field "description_#{i}"
                %td= f.text_field "amount_#{i}", placeholder: '$'
            %tr
              %td{class: 'pmt-total', colspan: '3'}
                .col.l
                  = f.label :accounting_approver, t('disbursement_requests.show.payment_2.labels.accounting_approver')
                  = f.text_field :accounting_approver
                .col.r
                  = f.label :total, t('disbursement_requests.show.payment_2.labels.accounting_approver')
                  = f.text_field :total
