= paginate rows

%table.data-table
  %thead
    %tr
      - fields.keys.each do |field_name|
        %th= field_name
  %tbody
    - rows.each do |row|
      %tr
        - fields.values.each do |field|
          %td= row.public_send(field)
