= button_bar
%h1= t('admin.header_copy')

%h3= t('admin.section_headers.astro_admin')
%ul.admin_section
  - admin_sections.each do |section|
    %li= link_to t("admin.navigation.#{section}"), send("admin_#{section}_path")
  - if admin_policy.authorized_to_edit_feature_flags?
    %li= link_to t('admin.navigation.feature_flag'), admin_feature_flags_path
    %li= link_to t('admin.navigation.market_index'), admin_market_index_path
    %li
      = link_to t('new_product_fee.admin.navigation'), admin_new_product_fees_path
  - if admin_policy.authorized_to_edit_user_admin?
    %li= link_to t('admin.navigation.users'), admin_users_path
  %li= link_to t('admin.navigation.sales_dashboard'), admin_sales_dashboard_index_path
  %li= link_to t('admin.navigation.returns_dashboard'), admin_returns_dashboard_index_path

  %li= link_to t('admin.navigation.buyer_information'), admin_buyer_information_index_path
  - if admin_policy.authorized_to_enter_external_vehicle?
    %li= link_to t('admin.navigation.enter_external_vehicle'), new_external_vehicles_load_path
  - if admin_policy.authorized_to_approve_external_vehicle? || admin_policy.authorized_to_enter_external_vehicle?
    %li= link_to t('admin.navigation.external_vehicle_batches'), admin_external_vehicles_batches_path


- if admin_policy.authorized_to_view_promise_admin_section?
  %h3= t('admin.section_headers.promise_admin')
  %ul.promise_section
    %li
      = link_to t('admin.navigation.sold_vehicles'), admin_sold_vehicles_path
    %li
      = link_to t('admin.navigation.all_promise_offers'), admin_promise_offers_path
      &mdash;
      = link_to t('admin.navigation.promise_purchases'), admin_promise_purchases_path
    %li
      = link_to t('admin.navigation.return_invoices'), admin_return_invoices_path
      &mdash;
      = link_to t('admin.navigation.incomplete_returns'), admin_incomplete_returns_path
      &mdash;
      = link_to t('admin.navigation.cancelled_returns'), admin_cancelled_returns_path
    %li
      = link_to t('admin.navigation.promise_extensions'), admin_promise_extensions_path

- if admin_policy.authorized_to_view_loss_prevention_section?
  %h3= t('admin.section_headers.loss_prevention_admin')
  %ul.promise_section
    %li
      = link_to t('admin.navigation.pending_offers'), admin_pending_offers_path
    %li
      = link_to t('admin.navigation.post_pending_csv'), admin_pending_offers_path(format: :csv)
    %li
      = link_to t('admin.navigation.audited_returns'), admin_audited_returns_path
    %li
      = link_to t('admin.navigation.vnum_blacklists'), admin_vnum_blacklists_path
      &mdash;
      = link_to t('admin.navigation.agreementship_blacklists'), admin_agreementship_blacklists_path
      &mdash;
      = link_to t('admin.navigation.pawn_access_number_blacklists'), admin_pawn_access_number_blacklists_path

- if admin_policy.authorized_to_edit_flat_rate_admin_section? || admin_policy.authorized_to_view_flat_rate_inquiry_admin_section?
  %h3= t('admin.section_headers.agreementshield_admin')
  %ul.agreementshield_section
    - if admin_policy.authorized_to_edit_flat_rate_admin_section?
      %li= link_to t('admin.navigation.flat_rates'), admin_flat_rates_path
      %li= link_to t('admin.navigation.flat_rate_inquiries'), admin_flat_rate_inquiries_path
    %li= link_to t('admin.navigation.flat_rate_offers'), admin_flat_rate_offers_path
    %li= link_to t('admin.navigation.flat_rate_offer_batches'), admin_flat_rate_offer_batches_path
    %li= link_to t('admin.navigation.dashboard_scores'), admin_dashboard_scores_path

- if admin_policy.authorized_to_view_finance_admin_section?
  %h3= t('admin.section_headers.finance_admin')
  %ul.finance_section
    - finance_sections.each do |section|
      %li= link_to t("admin.navigation.#{section}"), send("admin_#{section}_path")
    %li
      = link_to t('charge_code_mappings.admin.navigation'), admin_charge_code_mappings_path
    %li
      = link_to t('admin.agreement_floor_plan_branch_locks.index.header_copy'), admin_agreement_floor_plan_branch_locks_path

%h3= t('admin.section_headers.reports')
%ul.reports_section
  %li= link_to t('admin.navigation.sales_report_emails'), edit_admin_sales_report_email_path
  %li= link_to t('admin.navigation.payment_report_emails'), edit_admin_payments_report_email_path
  %li= link_to t('admin.navigation.accounts_receivable_report_emails'), admin_accounts_receivable_report_emails_path
  %li= link_to t('admin.navigation.span_payment_report'), new_admin_span_payment_report_path
