#admin_pawn_locations
= button_bar(back: {path: admin_index_path})
%br/
%h1
  = t('dashboard_scores.index.dashboard_score')

= form_for :dashboard_score, method: :get do |f|
  = f.label :agreement_no do
    Agreement#:
    = f.text_field :agreement_no, value: agreement_number
  = f.submit(I18n.t('forms.filter'))
%br/

= form_for :dashboard_score, method: :get do |f|
  / = f.label :email_report do
  Email Report#:
  = f.text_field :emails
  = f.submit(I18n.t('forms.email_report'))
%br/


= render partial: 'paginated_data_table', locals: { fields: fields, rows: @dashboard_scores }



