%ul
  %li= t('sows_mailer.job_type', job_name: @job_name)
  %li= t('sows_mailer.id', id: @promise_offer.id)
  %li= t('sows_mailer.vnum', vnum: @promise_offer.vnum)
  %li= t('sows_mailer.sblu', sblu: @promise_offer.sblu)
  %li= t('sows_mailer.price', price: @promise_offer.promise_price)
  %li= t('sows_mailer.days_selected', days_selected: @promise_offer.days_selected)
  %li= t('sows_mailer.miles_selected', miles_selected: @promise_offer.miles_selected)
  %li= t('sows_mailer.location_initials', location_initials: @promise_offer.location_initials)
  %li= t('sows_mailer.lane_number', lane_no: @promise_offer.lane_no)
  %li= t('sows_mailer.run_number', run_no: @promise_offer.run_no)
  %li= t('sows_mailer.sale_number', sale_no: @promise_offer.sale_no)
  %li= t('sows_mailer.work_order_number', work_order_number: @promise_offer.work_order_number)

%p= t('sows_mailer.system_report_error')

%blockquote= @error_message
