= button_bar(back: {path: admin_agreementship_blacklists_path})

= form_for [:admin, @agreementship_blacklist] do |f|
  %fieldset
    = f.label :expiration_date do
      Expiration Date *
      = f.text_field :expiration_date
    = f.label :notes do
      Notes
      =f.text_area :notes
    = f.submit class: 'green btn'
