#agreementship_blacklists_view
  = button_bar
  %br/

  = form_for :filters, url: admin_agreementship_blacklists_path, method: :get do |f|
    = f.label :agreement_no do
      Agreement #:
      = f.text_field :agreement_no, value: agreement_number_filter
    = f.submit(I18n.t('forms.filter'))
  %br/

  = link_to t('admin.agreementship_blacklists.create'), new_admin_agreementship_blacklist_path
  = render partial: 'paginated_data_table', locals: { fields: fields, rows: @agreementship_blacklists }
