= button_bar(back: {path: admin_agreementship_blacklists_path})
%h1 New Agreementship Blacklist

= form_for [:admin, @agreementship_blacklist] do |f|
  %fieldset
    = f.label :agreement_no do
      Agreement#
      = f.text_field :agreement_no
    = f.label :expiration_date do
      Expiration Date
      = f.text_field :expiration_date
    = f.label :notes do
      Notes
      =f.text_area :notes
    = f.submit t('forms.finish')
