= button_bar(back: {path: admin_dashboard_scores_path})
= form_for [:admin, @rate_change] do |f|

  %br/
  = f.label :rate_change, 'Rate Change:'
  %br/
  %br/
  = f.label :return_rate, 'New Rate :'
  = f.text_field :return_rate
  %br/
  %br/
  = f.label :relationship_managers, 'Relationship Manager :'
  = f.select :relationship_manager_id, RelationshipManager.all.map { |ic| [ ic.name, ic.id ]  }

  = f.label :effective_date, 'Effective Date'
  = f.text_field :effective_date, value: effective_date, class: 'js-datetimepicker'
  %br/
  = f.hidden_field :agreement_no, value: @agreement_no

  = f.hidden_field :emails, value: @emails

  = f.submit 'Submit'
