= render layout: 'email_layout', locals: { title: 'ASTRSHIELD MARKET PROTECT CONFIRMATION' } do
  %p
    Thank you for protecting your purchase with AgreementShield. We appreciate your business. Your transaction is confirmed.

  %p
    %strong{:style => "text-decoration: underline;"} Vehicle Information
  - entries = { "Vehicle" => @promise_offer.full_description,
                "VNUM"     => @promise_offer.vnum,
              }
  = render partial: 'entry_list', locals: { entries: entries }

  - entries = { "Location"               => @promise_offer.pawn_location_name,
                "Lane #"                 => @promise_offer.lane_no,
                "Run #"                  => @promise_offer.run_no,
                "Vehicle Purchase Price" => @promise_offer.purchase_price,
                "Odometer"               => @promise_offer.odometer_reading,
                "Date Promised"        => @promise_offer.start_date,
                "Promise Distance"     => @promise_offer.miles_selected,
                "Days Selected"          => @promise_offer.days_selected,
                "Return Eligible"        => @promise_offer.return_eligible_date,
                "Promise Expiration"   => @promise_offer.expiration_date,
              }

  - entries.merge!( { "Promise Price"   => @promise_offer.promise_price, } ) unless @promise_offer.seller_paid?
  - entries.merge!( { t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.value_protected')   => @promise_offer.decorate.value_protected } ) if @promise_offer.percent_coverage?
  - entries.merge!( { t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.min_return_time')   => @promise_offer.promise_purchase.decorate.try(:return_eligible_date) } ) if @promise_offer.show_min_return_time?
  = render partial: 'entry_list', locals: { entries: entries }

  %p= raw "#{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.initiate_return_between_dates', min_return_time: @promise_offer.return_eligible_date, expiration_date: @promise_offer.expiration_date, link_name: I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.click_here_to_return'))}"
