= t('shipment_mailer.tracking_update.message_line_one_html', status: @shipment.status)
= t('shipment_mailer.tracking_update.message_line_two_html', tracking_link: @shipment.tracking_link('Tracking Page'))
