= button_bar(back: {path: admin_index_path})
%br/

%h1 Accounts Receivable Report Emails
= form_tag admin_accounts_receivable_report_emails_path, method: :put do
  = label_tag :emails, 'Accounts receivable report emails:'
  = email_field_tag :emails, Settings.accounts_receivable_report_emails, multiple: true
  = submit_tag
