= render layout: 'email_layout', locals: { title: 'Receipt for Credit Card Payment' } do
  %div
    %div{style: 'float: right'}
      %ul{style: "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
        %li Order ID: #{@order_id}
        %li Receipt Date: #{Date.current}
        %li Order Total: #{currency @amount, @purchase.country}
        %li Billed To: #{@payment.credit_card_number.to_s.split(//).last(4).join}

    %div{style: 'float: left'}
      %ul{style: "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
        %li Billed To: #{@recipients}
      - if @payment.address_zip.present?
        %li #{@payment.address_street}
        %li #{@payment.address_city}, #{@payment.address_state} #{@payment.address_zip}

  %div{style: 'float: left'}
    %h3 Vehicle Information:
    %ul{style: "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
      %li Vehicle: #{@purchase.year} #{@purchase.make} #{@purchase.model} VNUM: #{@purchase.vnum}
      %li Purchase Location: #{@purchase.pawn_location.name}
      %li Lane#: #{@purchase.lane_no} Run#: #{@purchase.run_no}
      %li Date Promised: #{@purchase.promised_at.strftime('%Y-%d-%m')}

    %table{border: "1", style: "border-collapse: collapse; margin: 0 auto; font-family: Helvetica, Arial, sans-serif; font-size: 16px;", width: "600"}
      %thead
        %tr
      %tr
        %td Item
        %td Unit Price
      %tbody
        - @nonreimbursable_fees.each do |fee|
          %tr
            %td= fee.name
            %td= currency fee.amount, @purchase.country
        %tr
          %td Order Total:
          %td= currency @amount, @purchase.country

