* Order ID     : #{@order_id}
* Receipt Date : #{Date.current}
* Order Total  : #{currency @amount, @purchase.country }
* Billed To    : #{@payment.credit_card_number.to_s.split(//).last(4).join}
\
Billed To:
* #{@recipients}
- if @payment.address_zip.present?
  * #{@payment.address_street}
  * #{@payment.address_city}, #{@payment.address_state} #{@payment.address_zip}
\
Vehicle Information:
* Vehicle: #{@purchase.year} #{@purchase.make} #{@purchase.model} VNUM: #{@purchase.vnum}
* Purchase Location: #{@purchase.pawn_location.name}
* Lane#: #{@purchase.lane_no} Run#: #{@purchase.run_no}
* Date Promised: #{@purchase.promised_at.strftime('%Y-%d-%m')}
\

- @nonreimbursable_fees.each do |fee|
  * #{fee.name}
  * #{currency fee.amount, @purchase.country }
  \
Order Total: #{currency @amount, @purchase.country }
