= button_bar

= form_for :filters, url: admin_flat_rate_inquiries_path, method: :get do |f|
  = f.label :pawn_access_no do
    Pawn Access#:
    = f.text_field :pawn_access_no, value: pawn_access_no_filter
  = f.label :agreement_no do
    Agreement#:
    = f.text_field :agreement_no, value: agreement_no_filter
  = f.label :date_from do
    Date From:
    = f.text_field :date_from, value: date_from, class: 'js-datetimepicker'
  = f.label :date_to do
    Date To:
    = f.text_field :date_to, value: date_to, class: 'js-datetimepicker'
  = f.submit(I18n.t('forms.filter'))
%br/

= render partial: 'paginated_data_table', locals: { fields: fields, rows: @flat_rate_inquiries }
