- if @new_product_fee.errors.any?
  #error_explanation
    %ul
      - @new_product_fee.errors.full_messages.each do |msg|
        %li= msg
= form_for [:admin, @new_product_fee] do |f|
  %fieldset
    = f.label :agreement_no do
      Agreement No
      = f.text_field :agreement_no
    = f.label :seller_no do
      Seller No
      = f.text_field :seller_no
    = f.label :seller_paid do
      Seller Paid
      = f.check_box :seller_paid
    %br
    %br
    = f.label :timeframe do
      Timeframe
      = f.text_field :timeframe
    = f.label :count do
      Count
      = f.text_field :count
    = f.label :fee do
      Fee
      = f.text_field :fee
    = f.submit class: 'green btn'
