#admin_new_product_fees
= button_bar(back: {path: admin_index_path})
%br/
%h1 New Product Fees

= link_to 'New Product Fee', new_admin_new_product_fee_path

%table#new_product_fees_table.data-table{'data-sort-column' => 1}
  %thead
    %tr
      %th Agreement No
      %th Seller No
      %th Seller Paid
      %th Timeframe
      %th Count
      %th Fee
      %th
      %th
  %tbody
    -@new_product_fees.each do |product_fee|
      %tr
        %td= product_fee.agreement_no
        %td= product_fee.seller_no
        %td= product_fee.seller_paid
        %td= product_fee.timeframe
        %td= product_fee.count
        %td= product_fee.fee_in_currency
        %td= link_to 'Edit', edit_admin_new_product_fee_path(product_fee)
        %td= link_to 'Delete',admin_new_product_fee_path(product_fee),method: :delete,data: { confirm: 'Are you sure?' }
= paginate @new_product_fees
= link_to t('new_product_fee.admin.index.export_csv_link_copy'), admin_new_product_fees_path(format: :csv)
