.col.address_form
  %p
    %strong= t('return_funnel.return_invoice.confirmation.address_form.label.agreement_no')
    = @return_invoice.return_certificate.agreement_no
  %p
    %strong= t('return_funnel.return_invoice.confirmation.address_form.label.agreementship')
    = @return_invoice.return_certificate.agreementship_name

  %h4= t('return_funnel.return_invoice.confirmation.address_form.label.contact_info')

  = form.label :name, t('return_funnel.return_invoice.confirmation.address_form.label.name')
  = form.text_field :name

  = form.label :emails, t('return_funnel.return_invoice.confirmation.address_form.label.email')
  =# We want to keep HTML5 email validation, but allow multiple to be entered.
  =# Unfortunately Rails does its own thing with the `:multiple` option by
  =# adding `[]` to the end of the parameter and treating it like an array.
  %input{ id: "buyer_and_agreement_information_form_emails", name: "buyer_and_agreement_information_form[emails]", size: 30, type: "email", multiple: true, value: return_email || buyer_and_agreement_information.emails }

  = form.label :cell_phone, t('return_funnel.return_invoice.confirmation.address_form.label.cell_phone')
  = form.telephone_field :cell_phone

  = form.label :office_phone, t('return_funnel.return_invoice.confirmation.address_form.label.office_phone')
  = form.telephone_field :office_phone

.col.address_form
  %h4= t('return_funnel.return_invoice.confirmation.address_form.label.confirm_address')
  %p= t('return_funnel.return_invoice.confirmation.address_form.label.note')

  = form.label :address_street, t('return_funnel.return_invoice.confirmation.address_form.label.street_address')
  = form.text_field :address_street

  = form.label :address_suite, t('return_funnel.return_invoice.confirmation.address_form.label.address_suite')
  = form.text_field :address_suite

  = form.label :address_city, t('return_funnel.return_invoice.confirmation.address_form.label.adrress_city')
  = form.text_field :address_city

  = form.label :address_state, t('return_funnel.return_invoice.confirmation.address_form.label.address_state')
  = form.text_field :address_state

  = form.label :address_zipcode, t('return_funnel.return_invoice.confirmation.address_form.label.zip')
  = form.text_field :address_zipcode

  - if Settings.fedex_shipments_enabled
    = form.label :agreement_contact_phone, t('return_funnel.return_invoice.confirmation.address_form.label.contact_phone')
    = form.text_field :phone
