%p= t('return_funnel.return_invoice.confirmation.floor_plan_address_form.page_title', floor_plan_company_name: floor_plan_company.name)

.col
  %p
    = label_tag :floor_plan_branch_id, t('return_funnel.return_invoice.confirmation.floor_plan_address_form.select_branch')
    = select_tag :floor_plan_branch_id, options_for_select(floor_plan_branch_options, last_selected_branch.try(:id)), prompt: t('return_funnel.return_invoice.confirmation.floor_plan_address_form.branch_selection_prompt'), required: true

    = form.label :emails, t('return_funnel.return_invoice.confirmation.floor_plan_address_form.emails')
    %input{ id: "buyer_and_agreement_information_form_emails", name: "buyer_and_agreement_information_form[emails]", size: 30, type: "email", multiple: true, value: return_email || buyer_and_agreement_information.emails }

.col
  - floor_plan_company.floor_plan_branches.each do |branch|
    .floor_plan_address{ data: { "branch-id" => branch.id } }
      %p #{branch.address_street} Ste. ##{branch.address_suite}
      %p #{branch.address_city}, #{branch.address_state} #{branch.address_zipcode}
  .floor_plan_address{ data: { "branch-id" => "other" } }
    #{t('return_funnel.return_invoice.confirmation.floor_plan_address_form.unable_to_select_branch')}
    = label_tag :other_branch_notes, t('return_funnel.return_invoice.confirmation.floor_plan_address_form.notes') do
      = text_area_tag :other_branch_notes, nil
