= button_bar home: { skip: true }, back: { path: current_user.buyer_user? ? root_path : new_return_funnel_verification_path(promise_purchase_id: params[:promise_purchase_id]) } do
  = link_to t('forms.cancel'), root_path, class: 'btn cancel_btn'
= render partial: "shared/logo"

= form_for buyer_and_agreement_information, url: return_funnel_return_invoices_path do |f|
  %fieldset
    %legend= t('return_funnel.return_invoice.confirmation.page_title')

    %hr/
    .cf
      .col
        = render 'return_certificates/vehicle_information', return_certificate: @return_invoice.return_certificate
        %table
          %tr
            %th= t('return_funnel.return_invoice.confirmation.vehicle_purchase_price')
            %td= @return_invoice.return_certificate.vehicle_purchase_price
          %tr
            %th= t('return_funnel.return_invoice.confirmation.buy_fee')
            %td= @return_invoice.return_certificate.adjustments_buy_fee
          %tr.sep
            %th= t('return_funnel.return_invoice.confirmation.total_refund')
            %td= @return_invoice.return_certificate.total_refund
        = render 'return_certificates/purchase_information', return_certificate: @return_invoice.return_certificate

      .col
        = render 'return_certificates/return_constraints',  return_certificate: @return_invoice.return_certificate
        %p
          %strong= t('return_funnel.return_invoice.confirmation.reason_for_return')
          #{@return_invoice.return_certificate.return_reasons}
        = render 'return_certificates/return_information', return_certificate: @return_invoice.return_certificate
    %hr/

    .cf
      - if ((@return_invoice.return_certificate.vehicle_paid_by_floor_plan? && floor_plan_company) || floor_plan_company_paid?)
        = render partial: 'floor_plan_address_form', locals: { form: f }
      - else
        = render partial: 'address_form', locals: { form: f }
    = fields_for :return_invoice do |f|
      - params[:return_invoice].each do |attribute, value|
        = f.hidden_field attribute, value: value
      = f.hidden_field :left_lot, value: @left_lot_in_ods
  %fieldset.btns
    = hidden_field_tag :promise_purchase_id, params[:promise_purchase_id]
    = hidden_field_tag :verify, true if buyer_and_agreement_information.errors.full_messages.to_s.include? I18n.t('return_invoice.address.invalid')
    = f.submit t('forms.finish'), class: 'green btn return_funnel_finish_btn'
