// -------------------------------------
//
//   Library Variable Overrides -
//   Variable overrides for Bourbon and other libraries
//
// -------------------------------------

// -------------------------------------
//   Grid System
// -------------------------------------
// $visual-grid: true;

// $visual-grid-color: #333;

// $visual-grid-opacity: 0.3;

$column: 70px !default; // Column width

$gutter: 20px !default; // Gutter between each two columns

$max-width: 960px !default; // Max-width of the outer container

