= button_bar
%h1= t('flat_rates.agreement_number_lists.show.title')
= form_for :flat_rates, url: flat_rates_path, method: :get do |f|
  = hidden_field_tag :pawn_access_number, pawn_access_number

  = f.label :country, t('flat_rates.agreement_number_lists.show.country')
  = f.select :country, SupportedCountry::NAMES, {selected: country_param}, { :id => 'flat_rate_param_country', :"data-onchangeurl" => flat_rates_agreement_number_list_path(pawn_access_number: pawn_access_number)}

  = label_tag do
    = check_box_tag :select_all_agreement_numbers
    = t('flat_rates.agreement_number_lists.show.select_all')
  %ul
    - @agreement_number_list.each do |agreement_number, agreementship_name|
      %li
        = label_tag do
          - # using check_box_tag to avoid "ghost" items. See http://api.rubyonrails.org/v3.2.13/classes/ActionView/Helpers/FormHelper.html#method-i-check_box
          = check_box_tag 'flat_rates[agreement_numbers][]', "#{agreement_number}", false, class: 'flat-rate-agreement-number'
          #{agreement_number} - #{agreementship_name}
  %br/
  %br/

  -if country_param == SupportedCountry::CA
    = label_tag :flat_rate_250 do
      = radio_button_tag "flat_rates[miles]", "250", true
      = distance1
  - else
    = label_tag :flat_rate_360 do
      = radio_button_tag "flat_rates[miles]", "360", true
      = distance3

    = label_tag :flat_rate_500 do
      = radio_button_tag "flat_rates[miles]", "500"
      = distance2
      %br/

  = label_tag do
    = check_box :flat_rates, :psi
    = t('flat_rates.agreement_number_lists.show.psi_eligible')
  %br/

  = label_tag do
    = check_box :flat_rates, :lv , class: 'flat_rates_lv_checkbox'
    = t('flat_rates.agreement_number_lists.show.lv')
    = f.select :limited_volume, NewProductKind::DEFAULT_VOLUME_TIERS.keys, class: 'flat_rates_limited_volume'
  %br/
  = f.submit t('forms.flat_rates.view')
