.doc_upload_div
  .col
    = label_tag 'upload_files','Upload Documentation', style: 'float:right;'
  .col
    = form_for ExternalVehiclesDocument.new(external_vehicles_batch_id: @batch.id) ,html: { class: "a"} do |f|
      .upload_docs
        = f.file_field :document, id: 'document', required: true
        = f.hidden_field :external_vehicles_batch_id
        = hidden_field_tag :rejected_vnum_id, @external_vehicle_id
        = button_tag '-', id: 'remove_doc'
        = button_tag 'Save', id: 'save_doc'
