= button_bar
%h1.txt-center Updating Unpurchased Offer
%center
  %table{:cellpadding=>10,:cellspacing=>10}
    %tr
      %td
        %b
          VNUM : #{@unpurchased_offer.vnum}
      %td
        %b
          Pawn Initials : #{@unpurchased_offer.pawn_location.initials}
      %td
        %b
          Sale No: #{@unpurchased_offer.pawn_information.sale_no}
          Lane No: #{@unpurchased_offer.pawn_information.lane_no}
          Run No: #{@unpurchased_offer.pawn_information.run_no}

= form_for @unpurchased_offer, url: admin_unpurchased_offer_path(@unpurchased_offer), :html => {class: 'unpurchased_form', data: { readonly: !editable? }} do |f|
  = f.fields_for :pawn_information do |pawn_information_fields|
    %table{:cellpadding=>3,:cellspacing=>3}
      %tr
        %td
          %b
            Agreementship :
        %td
          = pawn_information_fields.number_field :agreement_no
      %tr
        %td
          %b
            Agreement :
        %td
          = pawn_information_fields.number_field :pawn_access_no

  = f.fields_for :vehicle_information do |vehicle_information_fields|
    %table{:cellpadding=>3,:cellspacing=>3}
      %tr
        %td
          %b
            Year
        %td
          = vehicle_information_fields.number_field :year
        %td
          %b
            Make
        %td
          = vehicle_information_fields.text_field :make
        %td
          %b
            Model
        %td
          = vehicle_information_fields.text_field :model
      %tr
        %td
          %b
            Mileage
        %td
          = vehicle_information_fields.number_field :odometer_reading

  Discount:
  = f.fields_for :discount do |discount_fields|
    = discount_fields.label :amount
    = discount_fields.text_field :amount

    = discount_fields.label :description
    = discount_fields.text_field :description

  %table
    %tr
      %td
        %b
          Offer Created at
      %td
        = f.text_field :promised_at, value: @unpurchased_offer.promised_at, class: 'js-datetimepicker'
    %tr
      %td
        %b
          Must be purchased by
      %td
        = f.text_field :must_be_promised_at, value: @unpurchased_offer.must_be_promised_at, class: 'js-datetimepicker'
    %tr
      %td
        %b
          Left Lot
      %td
        = f.check_box :left_lot
    %tr
      %td
        %b
          Ineligibility Code
      %td
        = select_ineligibility_condition(f, :ineligibility_condition, selected: @unpurchased_offer.ineligibility_condition, include_blank: true)
    %tr
      %td
        %b
          Pending Reason Code
      %td
        = f.select :pending_reason_code, PendingReason.all.map { |ic| [ic.notice, ic.code] }, selected: @unpurchased_offer.pending_reason_code, include_blank: true
  %br
  %br
  %table
    %thead
      %tr
        %th
        %th
        %th 7 day
      %tr
        %td
          %b
            250 mile
        %td
        %td.txt-right
          = f.text_field :promise_250
      %tr
        %td
          %b
            500 mile
        %td
        %td.txt-right
          = f.text_field :promise_500
      %tr
        %td
          %b
            Per additional day
        %td
        %td.txt-right
          = f.text_field :additional_day

  %h3 Charges

  = label_tag :bypass_charge do
    = f.check_box :bypass_charge
    Bypass Charges(when purchased)
  %br
  %br
  = f.submit 'Apply Updates'
