
.screen_only
  .js-help-panel-bg.help-panel-l-bg
  .js-help-panel.help-panel-l-main.help-panel-s-main
    .js-help-panel-nav.help-panel-l-nav.help-panel-s-nav.skin-green
      .help-panel-l-nav-icon.help-panel-t-nav-icon
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-question.fa-stack-2x.fa-inverse
      .help-panel-l-nav-text.help-panel-t-nav-text= t('panel.get_help')
    .help-panel-l-panel-container.help-panel-l-narrow-width
      .help-panel-l-panel.help-panel-l-sm-panel
        .help-panel-t-title= t('panel.get_help')
        %p
          .help-panel-t-title-sm= t('panel.have_us_call_you_back')
          %div= t('panel.prompt.first_part')
          = t('panel.prompt.second_part', hours: t('help.support_hours'))
        = render :partial => "help_panels/phone_form"
        - if Settings.learn_about_agreementshield_enabled
          = render :partial => "help_panels/quick_guides"
        .help-panel-l-section
          = link_to t('navigation.layout.static_links.faq_help_panel'), page_path(:faq)
