.help-panel-l-section
  %form{class: "js-request-phone-call form-l-full-width", action: help_panel_contact_path, method:"POST"}
    .l-row
      %input{type:'hidden', name:'oid', value:'00Di0000000dG4s'}
      %input{type:'hidden', name:'retURL', id: 'js-retURL', value:''}
      / ----------------------------------------------------------------------
      / NOTE: These fields are optional debugging elements. Please uncomment
      / these lines if you wish to test in debug mode.
      / %input{type:'hidden', name:'debug', value:1}
      / %input{type:'hidden', name:'debugEmail', value:"asdsdming@astroheim.com"}
      / ----------------------------------------------------------------------
      %label{for: "first_name"}
        %sup *
        = t('help_panels.phone_form.first_name')
      %input{id: "first_name", maxlength: "40", name: "first_name", type: "text", tabindex:1, class: 'is-required', title:"First Name"}

    .js-accordion.l-row-accordion.accordion_closed
      %label{for: "last_name" }
        %sup *
        = t('help_panels.phone_form.last_name')
      %input{ id: "last_name", maxlength: "80", name: "last_name", type: "text", tabindex:2, class: 'is-required', title:"Last Name"}

      %label{for: "phone" }
        %sup *
        = t('help_panels.phone_form.phone')
      %input{ id: "phone", maxlength: "20", name: "phone", type: "tel", tabindex:3, class: 'is-required', title:"Phone Number"}

      %label{for: "email" }
        %sup *
        = t('help_panels.phone_form.email')
      %input{ id: "email", maxlength: "80", name: "email", type: "email", tabindex:4, class: 'is-required', title:"Email Address"}

      / %label{for: "company" } Company
      / %input{ id: "company", maxlength: "40", name: "company", type: "text", tabindex:5}

      / %label{for: "city" } City
      / %input{ id: "city", maxlength: "40", name: "city", type: "text", tabindex:6}

      / %label{for: "state" } State/Provnumce
      / %select{ id: "state", name: "state", tabindex:7}
      /   %optgroup{label: "US States"}
      /     %option{value:"AL"} Alabama
      /     %option{value:"AK"} Alaska
      /     %option{value:"AZ"} Arizona
      /     %option{value:"AR"} Arkanmas
      /     %option{value:"CA"} California
      /     %option{value:"CO"} Colorado
      /     %option{value:"CT"} Connecticut
      /     %option{value:"DE"} Delaware
      /     %option{value:"DC"} District
      /     %option{value:"FL"} Florida
      /     %option{value:"GA"} Georgia
      /     %option{value:"HI"} Hawaii
      /     %option{value:"ID"} Idaho
      /     %option{value:"IL"} Illinois
      /     %option{value:"IN"} Indiana
      /     %option{value:"IA"} Iowa
      /     %option{value:"KS"} Kanmas
      /     %option{value:"KY"} Kentucky
      /     %option{value:"LA"} Louisiana
      /     %option{value:"ME"} Maine
      /     %option{value:"MD"} Maryland
      /     %option{value:"MA"} Massachusetts
      /     %option{value:"MI"} Michigan
      /     %option{value:"MN"} Minnesota
      /     %option{value:"MS"} Mississippi
      /     %option{value:"MO"} Missouri
      /     %option{value:"MT"} Montana
      /     %option{value:"NE"} Nebraska
      /     %option{value:"NV"} Nevada
      /     %option{value:"NH"} New
      /     %option{value:"NJ"} New
      /     %option{value:"NM"} New
      /     %option{value:"NY"} New
      /     %option{value:"NC"} North
      /     %option{value:"ND"} North
      /     %option{value:"OH"} Ohio
      /     %option{value:"OK"} Oklahoma
      /     %option{value:"OR"} Oregon
      /     %option{value:"PA"} Pennsylvania
      /     %option{value:"RI"} Rhode
      /     %option{value:"SC"} South
      /     %option{value:"SD"} South
      /     %option{value:"TN"} Tennessee
      /     %option{value:"TX"} Texas
      /     %option{value:"UT"} Utah
      /     %option{value:"VT"} Vermont
      /     %option{value:"VA"} Virginia
      /     %option{value:"WA"} Washington
      /     %option{value:"WV"} West
      /     %option{value:"WI"} Wisconsin
      /     %option{value:"WY"} Wyoming
      /   %optgroup{label: "Canadian Provnumces"}
      /     %option{value:"AB"} Alberta
      /     %option{value:"BC"} British
      /     %option{value:"MB"} Manitoba
      /     %option{value:"NB"} New
      /     %option{value:"NL"} Newfoundland
      /     %option{value:"NS"} Nova
      /     %option{value:"ON"} Ontario
      /     %option{value:"PE"} Prince
      /     %option{value:"QC"} Quebec
      /     %option{value:"SK"} Saskatchewan
      /     %option{value:"NT"} Northwest
      /     %option{value:"NU"} Nunavut
      /     %option{value:"YT"} Yukon

    %label{for: "state" }= t('help_panels.phone_form.select_a_topic')
    %select{ id: "problem_type", name: "problem_type", tabindex:8}
      %option{value:"General Information"}= t('help_panels.phone_form.general_information')
      %option{value:"App Download"}= t('help_panels.phone_form.app_download')
      %option{value:"Not Able to Purchase Promise"}= t('help_panels.phone_form.not_able_to_purchase_gaurantee')
      %option{value:"Refund Status"}= t('help_panels.phone_form.refund_status')
      %option{value:"Returns"}= t('help_panels.phone_form.returns')
      %option{value:"Technical Issue"}= t('help_panels.phone_form.technical_issue')
      %option{value:"Other"}= t('help_panels.phone_form.other')

    %div.js-other-field.l-hidden
      %label{for: "other_problem_type" }= t('help_panels.phone_form.other')
      %input{ id: "other_problem_type", maxlength: "40", name: "other_problem_type", type: "text"}

    %button{class: "js-request-phone-btn btn", type: "submit", name: "submit", tabindex:9}
      = t('forms.request_phone_call')
