.help-panel-l-section
  .help-panel-t-title-sm= t('help_panels.quick_guides.title')
  %div{class: 'js-list-guides'}
    %ul.lists-l-unformated
      - QuickGuideDecorator.quick_guides.each do |guide_name, filename|
        %li
          = link_to guide_name, asset_path("quick_guides/#{guide_name}.#{I18n.locale}.pdf"), class: 'js-quick-guide-link'
    %div
      %a{href:'', class:'js-email-quick-guides', data: {form: 'js-request-guides', list: 'js-list-guides' } }
        %i.fa.fa-envelope-o
        = t('help_panels.quick_guides.send_guides')
  = form_tag(help_panel_guide_path, method: 'post', class: 'l-hidden js-request-guides') do
    - QuickGuideDecorator.quick_guides.each do |guide_name, filename|
      .form-l-group.checkbox-spacing
        = check_box_tag "guide_id[#{filename}]"
        = label_tag "guide_id[#{filename}]" do
          = guide_name
    .form-l-group.form-l-full-width
      = label_tag 'guide_email', t('help_panels.quick_guides.email')
      = text_field_tag 'guide_email', '', placeholder: 'john@smithco.com'
    .form-l-group.form-l-full-width
      = submit_tag t('help_panels.quick_guides.email_me'), class: 'js-request-email'
