#admin_pawn_locations
= button_bar(back: {path: admin_index_path})
%br/
%h1 External Vehicle Batches
= form_for filters, url: admin_external_vehicles_batches_path, method: :get do |f|
  %div.l-row
    %div.l-col-4
      = f.label :agreement_no do
        Agreement#:
        = f.text_field :agreement_no
    %div.l-col-4
      = f.label :batch_id do
        Batch ID:
        = f.text_field :batch_id
    %div.l-col-4
      = f.label :vnum do
        VNUM:
        = f.text_field :vnum
  %div.l-row
    %div.l-col-4
      = f.submit(I18n.t('forms.search'))
  %div.l-row
    %br/
  %div.l-row.well
    %div.l-col-4
      = f.label :batch_id do
        %div Approval Status
        %div=f.select :status, ExternalVehiclesBatch::STATUSES, {include_blank: 'All'}, {style: 'height: 35px;'}
    %div.l-col-4
      = f.label :user do
        %div User ID
        %div=f.select :user_id, @available_users, {include_blank: 'All'}, {class: 'select2'}

%br/
= paginate @external_vehicle_batches
%table#new_product_fees_table.data-table{ 'data-sort-column' => 0, 'data-sort-direction' => 'desc' }
  %thead
    %tr
      %th Batch ID
      %th Agreement#
      %th Entered User
      %th Status
      %th Created At
      %th
  %tbody
    -@external_vehicle_batches.each do |vehicle|
      %tr
        %td= vehicle.id
        %td= vehicle.agreement_numbers.join(', ')
        %td= vehicle.username
        %td= vehicle.status
        %td= vehicle.created_at
        %td= link_to 'List Vehicles', admin_external_vehicles_batch_path(vehicle.id)

