= button_bar
%br/
%h2 External Vehicles Batch ##{@batch.id}
%h3 Documentation
- if @external_vehicles_documents.present?
  %ol
    - @external_vehicles_documents.each do |doc|
      %li
        = doc.document_identifier
        = link_to 'View', doc.document_url, target: '_blank'
        %br/
  %br/
- else
  %p No documentation available.

%h3 Vehicles
= render 'admin/paginated_data_table', fields: fields, rows: @external_vehicles
