= button_bar
%br/

= render 'file_upload'

#vehicles_approver_wrapper{style: "height: 500px;border:1px solid;"}
  .table.sold_vehicles_approver_table{style:  "table-layout: fixed; auto 0px auto;"}
    .tr#label
      %span.td
        =t('external_vehicles_load.form.labels.vnum')
        = link_to image_tag('clippy.ico', width: '25', title:'Click to copy all VNUM'),'#', id: 'clipboard', 'data-clipboard-action'=>'copy'
        %br/
        %span.clipboard_message{style:'display:none;'}
      %span.td
        =t('external_vehicles_load.form.labels.model_year')
      %span.td
        =t('external_vehicles_load.form.labels.make')
      %span.td
        =t('external_vehicles_load.form.labels.model')
      %span.td
        =t('external_vehicles_load.form.labels.odometer_reading')
      %span.td
        =t('external_vehicles_load.form.labels.agreement_no')
      %span.td
        =t('external_vehicles_load.form.labels.agreement_name')
      %span.td
        =t('external_vehicles_load.form.labels.vehicle_purchase_price')
      %span.td
        =t('external_vehicles_load.form.labels.buy_fee')
      %span.td
        =t('external_vehicles_load.form.labels.vehicle_total')
      %span.td
        =t('external_vehicles_load.form.labels.location_initials')
      %span.td
        =t('external_vehicles_load.form.labels.automatic_purchase_email')
      %span.td
        = t('external_vehicles_load.form.labels.purchased_at')
      %span.td
        = t('external_vehicles_load.form.labels.seller_name')
      %span.td
        =t('external_vehicles_load.form.labels.rejection_comment')
      %span.td
      %span.td
      %span.td

    - @external_vehicles.each do |external_vehicle|
      = form_for external_vehicle.decorate ,html: { class: "tr external_vehicles_form external_vehicles_row_#{external_vehicle.id}" }, remote: true do |f|
        %span.td
          = f.text_field :vnum, class: "vnum", required: true, required: true, pattern:'^[a-zA-Z0-9]{17}$', title: 'VNUM must be 17 characters alphanumeric'
        %span.td
          = select_year external_vehicle.year, { start_year: Time.current.year, end_year: 1996}, { name: 'external_vehicles_load[year]', class: "modal_year_select", required: true }
        %span.td
          %input.make{name:  "external_vehicles_load[make]", type:  "text", title: external_vehicle.make, required: true, value:external_vehicle.make}
        %span.td
          = f.text_field :model, title: external_vehicle.model, class: "model", required: true
        %span.td
          = f.number_field :odometer_reading, class: "odometer_reading", required: true, min:'0', max: '999999'
        %span.td
          = f.text_field :agreement_no, class: "agreement_no", required: true, pattern: '^5[0-9]{1,6}$'
        %span.td
          = text_field_tag :agreement_information, @agreement_informations[external_vehicle.agreement_no], class: 'agreement_name'
        %span.td
          = f.number_field :vehicle_purchase_price, class: "vehicle_purchase_price", id: "vehicle_purchase_price_" + external_vehicle.id.to_s, required: true, min:'0', max:'99999'
        %span.td
          = f.number_field :buy_fee, class: "buy_fee", id: "buy_fee_" + external_vehicle.id.to_s, required: true, min:'0', max:'9999'
        %span.td
          = f.number_field :vehicle_total, class: "vehicle_total", id: "vehicle_total_" + external_vehicle.id.to_s, required: true, min:'0', max:'999999'
        %span.td
          = f.select :location_initials, options_for_select(FtbLocation.all,selected: external_vehicle.location_initials),{},{ id: :location_initials , class:'location_initials select2', required: true}
        %span.td
          = f.email_field :automatic_purchase_email, title: external_vehicle.automatic_purchase_email, class: "automatic_purchase_email", multiple: true, required: true
        %span.td
          = f.text_field :purchased_at, required: true, class: 'network-plus-datetimepicker purchased_at', value: external_vehicle.purchased_at.strftime('%m/%d/%y %H:%M')
        %span.td
          = f.text_field :seller_name, class: "seller_name"
        %span.td
          = f.text_field :rejection_comment, title: external_vehicle.rejection_comment, readonly: true
          = f.hidden_field :id, class: 'external_vehicle_id'
        - if @vehicle_creator
          %span.td
            = submit_tag "Save", class: 'save_row_button'
        - if @vehicle_approver
          %span.td
            = submit_tag approve_label(external_vehicle), class: 'approve_button'
          %span.td
            = submit_tag reject_label(external_vehicle), class: 'reject_button'
    %br/
    = hidden_field_tag :external_vehicle_creator, @vehicle_creator
    = hidden_field_tag :external_vehicle_approver, @vehicle_approver
  - @external_vehicles_documents.each do |doc|
    .document_row{style:"border: 1px solid #aaa;"}
      = doc.document_identifier
      = link_to 'remove', '', id: 'delete_doc', class: 'del_doc', 'data-id' => doc.id, style: 'margin-right: 50%; float:right'
      = link_to 'View', doc.document_url, target: '_blank', style:'float: right; margin-right:15px;'
      %br/
