= form_for @agreement_information, url: admin_agreement_information_path(id: @agreement_information.id) do |f|
  = f.label :address_street
  = f.text_field :address_street

  = f.label :address_suite
  = f.text_field :address_suite

  = f.label :address_city
  = f.text_field :address_city

  = f.label :address_state
  = f.text_field :address_state

  = f.label :address_zipcode
  = f.text_field :address_zipcode

  = f.submit t('forms.update')
