<%= raw I18n.t('performance_alert_mailer.common.intro', {agreementship_name: @agreement_info.agreementship_name}) %>

<%= I18n.t('performance_alert_mailer.lpc_version.para_1') %>

<%= raw I18n.t('performance_alert_mailer.common.para_2', {name: @performance_alert.name, email: @performance_alert.email}) %>

<%= I18n.t('performance_alert_mailer.common.para_3') %>

<%= I18n.t('performance_alert_mailer.common.sincerely') %>
<%= I18n.t('performance_alert_mailer.common.from') %>
