%p
  #{raw I18n.t('performance_alert_mailer.common.intro', {agreementship_name: @agreement_info.agreementship_name})}
  %br
  %br
  #{I18n.t('performance_alert_mailer.return_rate_version.para_1')}
%p
  %br
  #{raw I18n.t('performance_alert_mailer.common.para_2', {name: @performance_alert.name, email: @performance_alert.email})}
%p
  %br
  #{I18n.t('performance_alert_mailer.common.para_3')}
%p
  %br
  #{I18n.t('performance_alert_mailer.common.sincerely')}
  %br
  #{track(@code, @email)}

