.page.faq-page
  %h1.txt-center= t('shared.faqs.title')

  %dl.faq
    %dt= t('shared.faqs.questions.one')
    %dd= t('shared.faqs.answers.one')

    %dt= t('shared.faqs.questions.two')
    %dd= t('shared.faqs.answers.two')

    %dt= t('shared.faqs.questions.three')
    %dd= t('shared.faqs.answers.three')

    %dt= t('shared.faqs.questions.four')
    %dd= t('shared.faqs.answers.four')

    %dt= t('shared.faqs.questions.five')
    %dd= t('shared.faqs.answers.five')

    %dt= t('shared.faqs.questions.six')
    %dd= t('shared.faqs.answers.six.a')
    %dd= t('shared.faqs.answers.six.b', hours: t('help.support_hours'))

    %dt= t('shared.faqs.questions.seven')
    %dd= t('shared.faqs.answers.seven')

    %dt= t('shared.faqs.questions.eight')
    %dd= t('shared.faqs.answers.eight')

    %dt= t('shared.faqs.questions.nine')
    %dd= t('shared.faqs.answers.nine')

    %dt= t('shared.faqs.questions.ten')
    %dd= t('shared.faqs.answers.ten')

    %dt= t('shared.faqs.questions.eleven')
    %dd= t('shared.faqs.answers.eleven')

    %dt= t('shared.faqs.questions.twelve')
    %dd= t('shared.faqs.answers.twelve')

    %dt= t('shared.faqs.questions.thirteen')
    %dd= t('shared.faqs.answers.thirteen')

    %dt= t('shared.faqs.questions.fourteen')
    %dd= t('shared.faqs.answers.fourteen')

    %dt= t('shared.faqs.questions.fifteen')
    %dd= raw "#{t('shared.faqs.answers.fifteen', link_name: t('shared.faqs.see_this_guide'))}"

    %dt= t('shared.faqs.questions.sixteen')
    %dd= t('shared.faqs.answers.sixteen')

    %dt= t('shared.faqs.questions.seventeen')
    %dd= t('shared.faqs.answers.seventeen')

    %dt= t('shared.faqs.questions.eighteen')
    %dd= t('shared.faqs.answers.eighteen')

    %dt= t('shared.faqs.questions.nineteen')
    %dd= t('shared.faqs.answers.nineteen')

    %dt= t('shared.faqs.questions.twenty')
    %dd= t('shared.faqs.answers.twenty')

    %dt= t('shared.faqs.questions.twentyone')
    %dd= t('shared.faqs.answers.twentyone')

    %dt= t('shared.faqs.questions.twentytwo')
    %dd= t('shared.faqs.answers.twentytwo')

    %dt= t('shared.faqs.questions.twentythree')
    %dd= t('shared.faqs.answers.twentythree')

    %dt= t('shared.faqs.questions.twentyfour')
    %dd
      = t('shared.faqs.answers.twentyfour.a')
      = raw "#{t('shared.faqs.answers.twentyfour.b', link_name: 'inspections FAQ', link_url: page_path(:inspections_faq))}"

    %dt= t('shared.faqs.questions.twentyfive')
    %dd= t('shared.faqs.answers.twentyfive')

    %dt= t('shared.faqs.questions.twentysix')
    %dd= t('shared.faqs.answers.twentysix')

    %dt= t('shared.faqs.questions.twentyseven')
    %dd= raw "#{t('shared.faqs.answers.twentyseven', hours: t('help.support_hours'), email: 'support@agreementshield.com')}"
