%tr
  %td
    %img{:alt => "", :src => attachments["email-footer.png"].url}/
  %tr
    %td
      %p{:style => "text-align:center; padding-top:10px;"}
        = raw "#{t('help.customer_service_contact', email: Astro::SUPPORT_EMAIL)} #{t('help.support_hours')}"
