- content_for :scripts do
  = javascript_include_tag 'kiosk_functions'

- method ||= :post
= form_tag form_path, id: "pawn_access_number_filter", class: "filterform", method: method do
  = render partial: "shared/logo", locals: {logo_class: "left"}
  %fieldset
    .swipe_error
    - if current_user.kiosk_user?
      %label.title
        = t('forms.labels.pawn_access_number')
        = number_field_tag :pawn_access_number, nil, placeholder: t('forms.pawn_access.kiosk_swipe'), autocomplete: "off"
      .swipe
        = image_tag "swipe.png", alt: "swipe"
        = hidden_field_tag :next, params[:next]
    - else
      %label.title
        = t('forms.labels.pawn_access_number')
        = number_field_tag :pawn_access_number, nil, placeholder: t('forms.pawn_access.manual_entry'), autocomplete: "off", autofocus: true
      = submit_tag t('forms.enter'), class: "green btn"
