.l-row.l-row-space-bottom
  %div.t-title-lg
    = t('presale_vehicle_filter.pawn_location.msg')
#pawn_filter_view
  = form_tag quotes_promise_estimates_path, class: "js-filter-pawn form-l-full-width ", method: :get do
    %input{type: 'hidden', name: 'filter_type', value: 'pawn'}
    %input{type: 'hidden', name: 'agreement', value: params["agreement"]}
    .l-row
      .l-col-5
        %label
          = t('presale_vehicle_filter.pawn_location.label')
      .l-col-5
        %label
          = t('presale_vehicle_filter.lane_number.label')
    .l-row
      .l-col-5
        = PawnLocationDecorator.selector(location_initials)
      .l-col-5
        = select_tag :lane_no, PresaleVehicleDecorator.options_for_lane_select(location_initials, params["lane_no"]), class: 'form-l-select-btn-height', prompt: t('presale_vehicle_filter.lane_number.prompt')
      .l-col-2
        %button{type: "submit", class: "btn"}
          = t('forms.search')

