- ReturnInvoice::RETURN_REASONS.each do |return_reason|
  = label_tag "return_invoice_#{return_reason}" do
    = form.check_box return_reason
    = I18n.t("return_invoice.return_reasons.#{return_reason}")