- if current_user.super_user?
  = link_to t('forms.super_user.pawn_location_show_hide_link'), "#", {class: "super_user_location_link"} if current_user.location_initials.present?
  %label.title.super_user_location_selector{class: current_user.location_initials.present? ? "hidden" : ""}
    = t('navigation.pawn_location')
    = PawnLocationDecorator.selector(current_user.location_initials)
