.l-row
  .l-offset-3.l-col-6
    %div.quote-t-item-title-large
      = t('presale_vehicle_filter.vnum.prompt')
    %div.quote-t-item-title-small
      = t('presale_vehicle_filter.vnum.msg')
= form_tag quotes_promise_estimates_path, class: "js-filter-pawn form-l-full-width ", method: :get do
  %input{type: 'hidden', name: 'filter_type', value: 'vnum'}
  %input{type: 'hidden', name: 'agreement', value: params["agreement"]}
  .l-row
    .l-offset-3.l-col-6
      = text_field_tag :vnum_suffix, nil, placeholder: t('presale_vehicle_filter.vnum.prompt'), autocomplete: "off", autofocus: true
  .l-row
    .l-offset-3.l-col-2
      %button{type: "submit", class: "btn"}
        = t('forms.search')
