%p
  #{I18n.t('sales_report.disclaimer')}
  %br
  %table{:style => "border: 1px solid black;"}
    %thead
      %tr
        %th= t('sales_mailer.report.table_headings.location')
        %th= t('sales_mailer.report.table_headings.ds_sales')
        %th= t('sales_mailer.report.table_headings.walk_up')
        %th= t('sales_mailer.report.table_headings.sell_side')
        %th= t('sales_mailer.report.table_headings.average_ds_price')
        %th= t('sales_mailer.report.table_headings.unique_agreements')
        %th= t('sales_mailer.report.table_headings.360_agreements')
        %th= t('sales_mailer.report.table_headings.walkup_agreements')
        %th= t('sales_mailer.report.table_headings.sell_side_agreements')
    %tbody
      - @sales_report.each do |location, sales_data|
        %tr
          %td= location.name
          %td{:style => "text-align: right;"}= sales_data.count
          %td{:style => "text-align: right;"}= number_to_percentage(sales_data.walkup_ratio, precision: 2)
          %td{:style => "text-align: right;"}= number_to_percentage(sales_data.sellerside_ratio, precision: 2)
          %td{:style => "text-align: right;"}= number_to_currency  sales_data.ds_price, precision: 2
          %td{:style => "text-align: right;"}= sales_data.agreement_count
          %td{:style => "text-align: right;"}= sales_data.agreement_360_count
          %td{:style => "text-align: right;"}= sales_data.walkup_agreements_count
          %td{:style => "text-align: right;"}= sales_data.seller_paid_agreement_count

      - unless @total_sales.blank?
        %tr
          %td= t('sales_mailer.report.table_data.total') 
          %td{:style => "text-align: right;"}= @total_sales.count
          %td{:style => "text-align: right;"}= number_to_percentage @total_sales.walkup_ratio
          %td{:style => "text-align: right;"}= number_to_percentage @total_sales.sellerside_ratio
          %td{:style => "text-align: right;"}= number_to_currency @total_sales.ds_price
          %td{:style => "text-align: right;"}= @total_sales.agreement_count
          %td{:style => "text-align: right;"}= @total_sales.agreement_360_count
          %td{:style => "text-align: right;"}= @total_sales.walkup_agreements_count
          %td{:style => "text-align: right;"}= @total_sales.seller_paid_agreement_count
%p
