%div
   We are unable to process your return request at this time, for additional assistance please contact AgreementShield Customer Service at #{Astro::SUPPORT_EMAIL} or 855-246-3232
   %br/

- if current_user.super_user?
   Astro failed to receive a response from the MAS Adjustments Webservice.  If you continue to receive this message, please contact the MAS Team at #{Astro::MAS_EMAIL}
