= button_bar home: { skip: true }, back: { path: return_funnel_filtered_purchases_path } do
  = link_to t('forms.cancel'), root_path, class: 'btn cancel_btn'
= render partial: "shared/logo"

= form_for @return_invoice, url: new_return_funnel_return_invoice_path, html: { class: "new_return_invoice prevent-multiple-submissions" }, method: :get do |f|
  %fieldset
    = render partial: 'return_funnel/verify_return_errors'
  %fieldset.checklist
    %legend= t('return_funnel.verifications.form.label.reasons_for_return')
    = render partial: 'shared/return_reasons_input_widget', locals: { form: f }
    %label
      = t('return_funnel.verifications.form.label.additional_information')
      = f.text_field :additional_information
    %label
      = t('return_funnel.verifications.form.label.estimated_cost')
      = f.text_field :estimated_cost
  %fieldset
    %label.title
      = t('return_funnel.verifications.form.label.odometer')
      = f.number_field :odometer_on_return, autocomplete: "off"
    %label.title
      = t('return_funnel.verifications.form.label.return_location')
      = select_tag 'return_invoice[location_initials]', options_from_collection_for_select(PawnLocation.select("DISTINCT initials, name").accepts_returns.for_country(promise_offer.country).order(:name), :initials, :name, @promise_purchase.location_initials), prompt: t('return_funnel.verifications.form.select.prompt.return_location')
    %label.title
      = t('return_funnel.verifications.form.label.title_status')
      = f.select :title_status, ReturnCertificateDecorator.select_options, prompt: t('return_funnel.verifications.form.select.prompt.title_status')
  %fieldset.btns
    = hidden_field_tag :promise_purchase_id, @promise_purchase.id
    = hidden_field_tag :country, @promise_purchase.country
    = hidden_field_tag :floor_plan_company_id, @floor_plan_company_id
    = submit_tag t('forms.next'), class: "green btn"

