= button_bar
%br/

= paginate @promise_purchases

%table.data-table
  %thead
    %tr
      %th= t('user_purchases.left_lot')
      %th= t('user_purchases.purchasing_username')
      %th= t('user_purchases.location')
      %th= t('user_purchases.sale')
      %th= t('user_purchases.lane')
      %th= t('user_purchases.run')
      %th= t('user_purchases.vnum')
      %th= t('user_purchases.mileage')
      %th= t('user_purchases.kind')
      %th= t('user_purchases.ds_days')
      %th= t('user_purchases.ds_miles')
      %th= t('user_purchases.ds_price')
      %th= t('user_purchases.vehicle_purchase_price')
      %th= t('user_purchases.email')
      %th= t('user_purchases.promised_at')
  %tbody
    - @promise_purchases.each do |purchase|
      %tr
        %td= purchase.left_lot?
        %td= purchase.purchasing_user_username
        %td= purchase.location_initials
        %td= purchase.sale_no
        %td= purchase.lane_no
        %td= purchase.run_no
        %td= purchase.vnum
        %td= purchase.odometer_reading
        %td= purchase.kind
        %td= purchase.days_selected
        %td= purchase.miles_selected
        %td= purchase.promise_price
        %td= purchase.vehicle_purchase_price
        %td= purchase.emails
        %td= purchase.promised_at
