= button_bar

%h2 Incomplete vehicle returns

= paginate @return_invoices
%table#data-table
  %thead
    %tr
      %th VNUM
      %th Return initiated at
      %th Returning username
      %th Agreement #
      %th Purchase location
      %th Return location
      %th
      %th
  %tbody
    - @return_invoices.each do |return_invoice|
      %tr
        %td= return_invoice.promise_offer.try(:vnum)
        %td= return_invoice.created_at.to_s(:long)
        %td= return_invoice.returning_user.try(:username)
        %td= return_invoice.agreement_no
        %td= return_invoice.purchase_location.try(:initials)
        %td= return_invoice.pawn_location.try(:initials)
        - if return_invoice.agreement_no.present?
          %td= link_to 'Edit', edit_admin_agreement_information_path(pawn_access_no: return_invoice.pawn_access_no, agreement_no: return_invoice.agreement_no)
        - else
          %td N/A (Return has no 5M#)
        %td= link_to 'Retry', admin_incomplete_return_path(return_invoice), method: :put
        %td= link_to 'Complete and skip label', admin_incomplete_return_path(return_invoice, skip_label: true), method: :put
