%p
  = t('internet_note_mailer.notify_last_failure.return')
%p
  = t('internet_note_mailer.notify_last_failure.original_agreement')

%ul
  %li
    = t('internet_note_mailer.notify_last_failure.labels.vnum')
    = @vnum
  %li
    = t('internet_note_mailer.notify_last_failure.labels.location')
    = @location_initials
  %li
    = t('internet_note_mailer.notify_last_failure.labels.sblu')
    = @sblu
  %li
    = t('internet_note_mailer.notify_last_failure.labels.work_order')
    = @work_order
  %li
    = t('internet_note_mailer.notify_last_failure.labels.notes')
    = @notes
  %li
    = t('internet_note_mailer.notify_last_failure.labels.error_messages')
    = @failure_message
