%h1.centered= t('buynet.header_copy')
.buynet
  - if promise_purchase.unpaid?
    %p
      = t('buynets.show.based_on_the_information', pawn_location_name: promise_offer.pawn_location.name)
    %p
      = t('buynets.show.because_the_vehicle')

  - else
    %p
      = t('buynets.show.on_your_behalf', pawn_location_name: promise_offer.pawn_location.name, floor_plan_company_name: floor_plan_company.try(:name))
    %p
      = t('buynets.show.because_we_must', floor_plan_company_name: floor_plan_company.try(:name))

%br/

- unless @fees.reimbursable_fees.empty?
  %table.reimbursable-fees{cellpadding: 4}
    %thead
      %tr(colspan="2")
        %th= t('buynets.show.reimbursable_fees')
      %tr
        %td= t('buynets.show.description')
        %td= t('buynets.show.code')
        %td= t('buynets.show.amount')
    %tbody
      - @fees.reimbursable_fees.each do |fee|
        %tr
          %td= fee.name
          %td= fee.code
          %td= currency fee.amount, @country
- unless @fees.nonreimbursable_fees.empty?
  %table.nonreimbursable-fees{cellpadding: 4}
    %thead
      %tr(colspan="2")
        %th= t('buynets.show.non_reimbursable_fees')
      %tr
        %td= t('buynets.show.description')
        %td= t('buynets.show.code')
        %td= t('buynets.show.amount')
    %tbody
      - @fees.nonreimbursable_fees.each do |fee|
        %tr
          %td= fee.name
          %td= fee.code
          %td= currency fee.amount, @country
%br
- if @fees.nonreimbursable_fees.total.zero?
  = link_to t('buynets.show.okay'), new_return_funnel_verification_path(promise_purchase_id: promise_purchase_id), class: 'green btn'

- if @fees.nonreimbursable_fees.total > 0
  %label
    = t('buynets.show.total_payment_required', total: currency(@fees.nonreimbursable_fees.total, @country))
  - unless promise_offer.canadian_location?
    %br
    = link_to t('buynets.show.cc_payment'), new_promise_purchase_payment_path(promise_purchase_id), class: 'green btn'

- if BuynetPolicy.new(@fees.nonreimbursable_fees, current_user).skip_payment? || promise_offer.canadian_location?
  = link_to t('buynets.show.skip_payment'), new_return_funnel_verification_path(promise_purchase_id: promise_purchase_id)
