%p
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      #{I18n.t('help_panel_mailer.contact_info.first_name')}: #{@first_name }
    %li
      #{I18n.t('help_panel_mailer.contact_info.last_name')}: #{@last_name}
    %li
      #{I18n.t('help_panel_mailer.contact_info.email')}: #{@email}
    %li
      #{I18n.t('help_panel_mailer.contact_info.phone')}: #{@phone}
%p
  #{I18n.t('help_panel_mailer.contact_info.interest')}: #{@problem_type}
  %p
    - if @other_problem_type
      #{@other_problem_type}
