* #{I18n.t('help_panel_mailer.contact_info.first_name')} : #{@first_name }
* #{I18n.t('help_panel_mailer.contact_info.last_name')}: #{@last_name}
* #{I18n.t('help_panel_mailer.contact_info.email')}: #{@email}
* #{I18n.t('help_panel_mailer.contact_info.phone')}: #{@phone}

* #{I18n.t('help_panel_mailer.contact_info.interest')}: #{@problem_type}
- if @other_problem_type
  * #{@other_problem_type}
