= button_bar(back: {path: admin_index_path})
%br/

%h1 Payments

= form_for :filters, url: admin_payments_path, method: :get do |f|
  = f.label :agreement_number do
    Agreement#:
  = f.text_field :agreement_number, value: agreement_number_filter
  = f.label :vnum do
    VNUM:
  = f.text_field :vnum, value: vnum_filter
  = f.submit(I18n.t('forms.filter')) 
  %br

= link_to 'Download CSV', admin_payments_path(format: :csv)

= render partial: 'paginated_data_table', locals: { rows: @decorated_payments, fields: fields }
