<meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>" />
<base href="/doc/">
<title>
  <%= h @page_title %>
  <% if options.title && @page_title != options.title %>
    &mdash; <%= h options.title %>
  <% end %>
</title>
<% stylesheets.each do |stylesheet| %>
  <link rel="stylesheet" href="<%= stylesheet %>" type="text/css" charset="utf-8" />
<% end %>
<%= erb :script_setup %>
<% javascripts.each do |javascript| %>
  <script type="text/javascript" charset="utf-8" src="<%= javascript %>"></script>
<% end %>
