- unless @bundled_purchases.empty?
  %h2
    = t('promise_purchases.bundled_promises_purchase_list.title')
  %ul{class: ["cf", "bundled_inspections"]}
    - @bundled_purchases.each do |bundle|
      - promise_purchase = bundle.promise_purchase
      - inspection         = bundle.inspection_purchase
      %li
        %h3
          %div
            = promise_purchase.promise_offer.full_description
          .type
            = promise_purchase.duration
            = t('promise_purchases.bundled_promises_purchase_list.days')
            = promise_purchase.miles_selected
            = t('promise_purchases.bundled_promises_purchase_list.miles')
            .price
              = promise_purchase.bundled_inspection_offer_price
        .vnum
          = t('promise_purchases.bundled_promises_purchase_list.vnum')
          = promise_purchase.promise_offer.vnum
        .odometer_reading
          = t('promise_purchases.bundled_promises_purchase_list.odometer')
          = promise_purchase.promise_offer.odometer_reading
        .lane_no
          = t('promise_purchases.bundled_promises_purchase_list.lane_number', lane_no: promise_purchase.promise_offer.lane_no)
        .run_no
          = t('promise_purchases.bundled_promises_purchase_list.run_number', run_no: promise_purchase.promise_offer.run_no)
        .vehicle_price
          = t('promise_purchases.bundled_promises_purchase_list.vehicle_price', vehicle_price: promise_purchase.promise_offer.vehicle_purchase_price)
        - if promise_purchase.promise_offer.if_bid
          %div
            %span.if_bid=t('vehicles.if_bid')
        - if promise_purchase.updated_before_save?
          .promise_status
            = t('promise_purchases.bundled_promises_purchase_list.promise_status_updated')
