= t('promise_purchases.email_form.prompt')
= label_tag :emails, t('forms.email.label')
= email_field_tag :emails, @remembered_email, placeholder: t('forms.email.example'), autocomplete: "off", required: true, multiple: true, class: "return-email"
%label.small
  = check_box_tag :send_updates
  = t('promise_purchases.email_form.send_updates')
