- unless @inspection_purchases.empty?
  %h2
    = t('promise_purchases.inspection_only_purchase_list.title')
  %ul.cf.inspections
    - @inspection_purchases.each do |inspection_purchase|
      %li
        %h3
          %div
            = inspection_purchase.promise_offer.decorate.full_description
            .price
              = inspection_purchase.decorate.price
        .vnum
          = t('promise_purchases.inspection_only_purchase_list.vnum')
          = inspection_purchase.promise_offer.vnum
