#pending
  %p= t('promise_purchases.pending_purchases_list.paragraphs.one')
  %p= t('promise_purchases.pending_purchases_list.paragraphs.two')
  %ul.cf
    - @pending_purchases.each do |promise_purchase|
      %li
        = render 'promise_purchases/purchase_description', promise_purchase: promise_purchase, price_method: :price
        - if check_updated_after
          - if promise_purchase.updated_after_save?
            .promise_status
              = t('promise_purchases.pending_purchases_list.promise_status_updated')
        - else
          - if promise_purchase.updated_before_save?
            .promise_status
              = t('promise_purchases.pending_purchases_list.promise_status_updated')

