%h3
  - if defined?(country) && session[:return_fee].present? && payment_type != "promise" && promise_purchase.pplv?
    %div
      %br
        = t('new_product_fee.fee_message')
        = currency(session[:return_fee], country)
      %br
  - else
    %div
      = promise_purchase.promise_offer.full_description
    .type
      = promise_purchase.duration
      days
      = promise_purchase.distance_selected_with_units
      .price.js-promise-price{ data: { price: promise_purchase.source.public_send(price_method) } }
        = promise_purchase.public_send(price_method)

.vnum
  = t('promise_purchases.purchase_description.vnum')
  = promise_purchase.promise_offer.vnum
.odometer_reading
  = t('promise_purchases.purchase_description.odometer')
  = promise_purchase.promise_offer.odometer_reading
.lane_no
  = t('promise_purchases.purchase_description.lane_number', lane_no: promise_purchase.promise_offer.lane_no)
.run_no
  = t('promise_purchases.purchase_description.run_number', run_no: promise_purchase.promise_offer.run_no)
.vehicle_price
  = t('promise_purchases.purchase_description.vehicle_price', vehicle_price: promise_purchase.promise_offer.vehicle_purchase_price)
- if promise_purchase.promise_offer.if_bid
  %div
    %span.if_bid=t('vehicles.if_bid')
- if promise_purchase.promise_offer.has_transportation_coverage?
  .transportation_coverage
    #{I18n.t('promise_offers.transportation_coverage')}: #{promise_purchase.promise_offer.transportation_coverage_value}
