= render partial: "shared/logo"

.checkout
  = form_tag promise_purchases_path do
    #review_selections.content
      - if Settings.inspections_enabled
        = render partial: 'bundled_promises_purchase_list'

      - unless @promise_purchases.empty?
        %h2
          = t('promise_purchases.new.please_review')
        %ul.cf
          - @promise_purchases.each do |promise_purchase|
            %li.js-promise-purchase
              = render 'purchase_description', promise_purchase: promise_purchase, price_method: :price
              - if promise_purchase.updated_before_save?
                .promise_status
                = t('promise_purchases.new.promise_status_updated')
              - if Settings.coupons_enabled
                .coupon
                  = hidden_field_tag :country, promise_purchase.country, class: 'js-purchase-country'
                  = text_field_tag promise_purchase.promise_offer.coupon_label, nil, placeholder: t('promise_purchases.new.cupon_code_placeholder'), class: 'js-coupon-code', rel: 'coupon-code'
                  = button_tag t('promise_purchases.new.apply'), class: 'js-apply-coupon', rel: 'apply-coupon'
                  = button_tag t('promise_purchases.new.reset'), class: 'js-reset-coupon', rel: 'reset-coupon', hidden: true

      - if Settings.inspections_enabled
        = render partial: 'inspection_only_purchase_list'

      = render partial: "email_form"
      - @promise_purchases.each do |promise_purchase|
        = hidden_field_tag promise_purchase.promise_offer.vnum_label, params[:vehicle][promise_purchase.promise_offer.vnum][:promise_options]
      - @inspection_purchases.each do |inspection_purchase|
        = hidden_field_tag inspection_purchase.promise_offer.vnum_label, params[:vehicle][inspection_purchase.promise_offer.vnum][:promise_options]
        = hidden_field_tag inspection_purchase.promise_offer.inspection_label, params[:vehicle][inspection_purchase.promise_offer.vnum][:inspection]
      - @bundled_purchases.each do |bundled_purchase|
        - promise_purchase = bundled_purchase.promise_purchase
        - inspection_purchase = bundled_purchase.inspection_purchase
        = hidden_field_tag promise_purchase.promise_offer.vnum_label, params[:vehicle][promise_purchase.promise_offer.vnum][:promise_options]
        = hidden_field_tag inspection_purchase.promise_offer.inspection_label, params[:vehicle][inspection_purchase.promise_offer.vnum][:inspection]

      %footer
        = submit_tag t('forms.next'), class: "green btn next_btn show-terms-and-conditions"

    #terms_and_conditions.content
      %h2= t('promise_purchases.new.terms_of_service')
      %p
        = t('promise_purchases.new.our_goal.a')
        = t('promise_purchases.new.our_goal.b')
        = t('promise_purchases.new.our_goal.c')

      %ol.terms
        %li= t('promise_purchases.new.terms.one')
        %li= t('promise_purchases.new.terms.two')
        %li= t('promise_purchases.new.terms.three')
        %li= t('promise_purchases.new.terms.four')
        %li
          = t('promise_purchases.new.find_terms')
          = link_to t('promise_purchases.new.here'), page_path(:terms)

      .centered
        = label_tag :allow_continue do
          = check_box_tag :allow_continue
          = t('promise_purchase.accept_terms')

      %footer
        = submit_tag t('forms.checkout'), class: "green btn checkout_btn", disabled: true

    = button_bar back: { skip: true }, home: { skip: true } do
      = checkout_back_button t('forms.back'), session[:pawn_access_number]
      = link_to t('forms.cancel'), root_path, {class: "btn cancel_btn"}
      .step
        = t('promise_purchases.new.step_2_of_2')
      = submit_tag t('forms.checkout'), class: "green btn checkout_btn", disabled: true
