.l-row.quote-s-quote-box-header
  - [7, 14, 21].each_with_index do |days, count|
    %div{class: (count == 0 ? 'quote-l-quote-box-item l-offset-3': ' quote-l-quote-box-item')}
      .quote-t-item-title-med.txt-center #{days} d

- distances.each do |miles|
  .l-row.quote-s-quote-box-row
    .quote-l-quote-box-item
      .quote-t-item-title-med #{miles} #{distance_units}
    - [7, 14, 21].each do |days|
      .quote-l-quote-box-item
        .quote-t-item-text-med.txt-center #{@quote.price(miles, days) || 'n/a'}
