- promise_purchases.each do |promise_purchase|
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      %strong{:style => "text-decoration: underline;"}= I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.title')
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.vehicle')}
      %strong= promise_purchase.promise_offer.full_description
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.vnum')}
      %strong #{promise_purchase.promise_offer.vnum}
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.location')}
      %strong= promise_purchase.pawn_location.try(:name)
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.lane_no')}
      %strong #{promise_purchase.promise_offer.lane_no}
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.run_no')}
      %strong #{promise_purchase.promise_offer.run_no}
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.vehicle_purchase_price')}
      %strong #{promise_purchase.promise_offer.vehicle_purchase_price}
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.odometer')}
      %strong #{promise_purchase.promise_offer.odometer_reading}
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.date_promised')}
      %strong #{promise_purchase.promised_at.to_s(:slashed)}
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.promise_distance')}
      %strong #{promise_purchase.distance_selected_with_units}
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.days_selected')}
      %strong #{promise_purchase.duration}
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.promise_expiration')}
      %strong= promise_purchase.expiration_date
    - if !promise_purchase.promise_offer.seller_paid?
      %li
        #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.promise_price')}
        %strong #{promise_purchase.price}
    - if promise_purchase.promise_offer.has_transportation_coverage?
      %li
        #{I18n.t('promise_offers.transportation_coverage')}:
        %strong #{promise_purchase.promise_offer.transportation_coverage_value}
    - if promise_purchase.promise_offer.percent_coverage?
      %li
        #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.value_protected')}
        %strong #{promise_purchase.promise_offer.value_protected}
    - if promise_purchase.promise_offer.show_min_return_time?
      %li
        #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.min_return_time')}
        %strong #{promise_purchase.return_eligible_date}
  - if show_return_link
    - if promise_purchase.next_day_return_eligible? && promise_purchase.total_protect?
      %p= raw "#{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.initiate_return_link_total_protect', first_window_min_return_time: promise_purchase.first_window_min_return_time,first_window_max_return_time: promise_purchase.first_window_max_return_time,second_window_min_return_time: promise_purchase.second_window_min_return_time,second_window_max_return_time: promise_purchase.second_window_max_return_time, link_name: I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.click_here_to_return'))}"
    - elsif promise_purchase.next_day_return_eligible?
      %p= raw "#{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.initiate_return_link', expiration_date: promise_purchase.expiration_date, link_name: I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.click_here_to_return'))}"
    - else
      %p= raw "#{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.initiate_return_between_dates', min_return_time: promise_purchase.return_eligible_date, expiration_date: promise_purchase.expiration_date, link_name: I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.click_here_to_return'))}"

    %p= raw "#{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.detailed_instructions', link_name: I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.view_guide'))}"
