- promise_purchases.each do |promise_purchase|
  = promise_purchase.promise_offer.full_description
  = I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.title')
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.vnum')} #{promise_purchase.promise_offer.vnum}
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.lane_no')} #{promise_purchase.promise_offer.lane_no}

  #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.location')} #{promise_purchase.pawn_location.try(:name)}
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.run_no')} #{promise_purchase.promise_offer.run_no}
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.vehicle_purchase_price')} #{promise_purchase.promise_offer.vehicle_purchase_price}
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.odometer')} #{promise_purchase.promise_offer.odometer_reading}
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.date_promised')} #{promise_purchase.promised_at.to_s(:slashed)}
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.promise_distance')} #{promise_purchase.distance_selected_with_units}
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.days_selected')} #{promise_purchase.duration}
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.promise_expiration')} #{promise_purchase.expiration_date}
  - if !promise_purchase.promise_offer.seller_paid?
    #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.promise_price')} #{promise_purchase.price}
  - if promise_purchase.promise_offer.has_transportation_coverage?
    #{I18n.t('promise_offers.transportation_coverage')}: #{promise_purchase.promise_offer.transportation_coverage_value}
  - if promise_purchase.promise_offer.percent_coverage?
    #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.value_protected')} #{promise_purchase.promise_offer.value_protected}
  - if promise_purchase.promise_offer.show_min_return_time?
    #{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.min_return_time')} #{promise_purchase.return_eligible_date}
  \
  - if show_return_link
    = raw "#{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.initiate_return_link', expiration_date: promise_purchase.expiration_date, link_name: I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.click_here_to_return'))}"
    = raw "#{I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.detailed_instructions', link_name: I18n.t('promise_purchase_mailer.purchase_confirmation.promise_information.vehicle_information.headings.view_guide'))}"
  \
  \

