= render layout: 'email_layout', locals: { title: 'VEHICLE INELIGIBLE FOR COVERAGE' } do
  %p
    Unfortunately, a vehicle you recently purchased does not meet the
    eligibility criteria for AgreementShield because:

  %p= @vehicle.ineligibility_reason

  %p
    We apologize for the inconvenience.  If you have any questions or believe
    that this vehicle should have been covered, please contact AgreementShield
    Customer Service at (855) 246-3232.

  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      %strong{:style => "text-decoration: underline;"} Vehicle Information:
    %li
      Vehicle:
      %strong= @vehicle.full_description
    %li
      VNUM:
      %strong #{@vehicle.vnum}
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      Location:
      %strong= @vehicle.pawn_location.try(:name)
    %li
      Lane #:
      %strong #{@vehicle.lane_no}
    %li
      Run #:
      %strong #{@vehicle.run_no}
    %li
      Vehicle Purchase Price:
      %strong #{@vehicle.vehicle_purchase_price}
    %li
      Odometer:
      %strong #{@vehicle.odometer_reading}
    %li
      Date Purchased:
      %strong #{Date.today.to_s(:slashed)}

  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"} Agreement Information:
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      Agreement #:
      %strong #{@vehicle.agreement_no}
    %li
      Pawn Access #:
      %strong #{@vehicle.pawn_access_no}
    %li
      Badge #:
      %strong #{@vehicle.badge_no}
