%p
  Astro was unable to process a request to the Purchase API endpoint (/api/promise_purchase) in a way that indicates a data error between Astroheim and Astro data.

%p
  Response Code: #{@return_code}

%p
  Original Request: #{@request}
