= render layout: 'email_layout', locals: { title: 'ASTRSHIELD PURCHASE PENDING' } do
  %p
    Thank you for your interest in AgreementShield. Unfortunately, we are unable to confirm your promise purchase at this time, as our system needs additional time to review the transaction(s) below. You will receive an update via email within 24 hours, once this review is complete.

  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      %strong{:style => "text-decoration: underline;"} Vehicle Information:
    %li
      Vehicle:
      %strong= @promise_purchase.promise_offer.full_description
    %li
      VNUM:
      %strong #{@promise_purchase.promise_offer.vnum}

  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      Location:
      %strong= @promise_purchase.pawn_location.try(:name)
    %li
      Lane #:
      %strong #{@promise_purchase.promise_offer.lane_no}
    %li
      Run #:
      %strong #{@promise_purchase.promise_offer.run_no}
    %li
      Vehicle Purchase Price:
      %strong #{@promise_purchase.promise_offer.vehicle_purchase_price}
    %li
      Odometer:
      %strong #{@promise_purchase.promise_offer.odometer_reading}
    %li
      Date Promised:
      %strong #{Date.today.to_s(:slashed)}
    %li
      Promise Distance:
      %strong #{@promise_purchase.distance_selected_with_units}
    %li
      Days Selected:
      %strong #{@promise_purchase.duration}
    %li
      Promise Expiration:
      %strong= @promise_purchase.expiration_date
    - if !@promise_purchase.promise_offer.seller_paid?
      %li
        Promise Price:
        %strong #{@promise_purchase.price}

  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"} Agreement Information:
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      Agreement #:
      %strong #{@agreement_number}
    %li
      Pawn Access #:
      %strong #{@pawn_access_number}
    %li
      Badge #:
      %strong #{@badge_number}
