= render layout: 'email_layout', locals: { title: I18n.t('promise_purchase_mailer.pending_confirmation.title') } do
  %p
    = I18n.t('promise_purchase_mailer.pending_confirmation.thank_you_note')

  - if @pending_bundled_purchases.present? || @pending_promise_only_purchases.present?
    %p
      %strong= I18n.t('promise_purchase.purchase_confirmation.pending_notice')
    = render partial: 'promise_information', locals: {promise_purchases: @pending_bundled_purchases, show_return_link: false}
    = render partial: 'promise_information', locals: {promise_purchases: @pending_promise_only_purchases, show_return_link: false}
  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"}= I18n.t('promise_purchase_mailer.pending_confirmation.agreement_information.heading')
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      #{I18n.t('promise_purchase_mailer.pending_confirmation.agreement_information.table_headings.agreement_no')}
      %strong #{@agreement_number}
    %li
      #{I18n.t('promise_purchase_mailer.pending_confirmation.agreement_information.table_headings.pawn_access_no')}
      %strong #{@pawn_access_number}
    %li
      #{I18n.t('promise_purchase_mailer.pending_confirmation.agreement_information.table_headings.badge_no')}
      %strong #{@badge_number}
