= I18n.t('promise_purchase_mailer.pending_confirmation.title')
\

- if @pending_bundled_purchases.present? || @pending_promise_only_purchases.present?
  = I18n.t('promise_purchase.purchase_confirmation.pending_notice')
  = render partial: 'promise_information', locals: {promise_purchases: @pending_bundled_purchases, show_return_link: false}
  = render partial: 'promise_information', locals: {promise_purchases: @pending_promise_only_purchases, show_return_link: false}

= I18n.t('promise_purchase_mailer.pending_confirmation.agreement_information.heading')
#{I18n.t('promise_purchase_mailer.pending_confirmation.agreement_information.table_headings.agreement_no')} #{@agreement_number}
#{I18n.t('promise_purchase_mailer.pending_confirmation.agreement_information.table_headings.pawn_access_no')} #{@pawn_access_number}
#{I18n.t('promise_purchase_mailer.pending_confirmation.agreement_information.table_headings.badge_no')} #{@badge_number}
\

= raw "#{t('help.customer_service_contact', email: Astro::SUPPORT_EMAIL)} #{t('help.support_hours')}"

