= render layout: 'email_layout', locals: { title: I18n.t('promise_purchase_mailer.purchase_confirmation.title') } do
  %p
    #{I18n.t('promise_purchase_mailer.purchase_confirmation.thank_you_note')}

  - if @bundled_purchases.present?
    %p
      %strong{:style => "text-decoration: underline;"}= I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.comprehensive_check')
      = render partial: 'promise_information', locals: {promise_purchases: @bundled_purchases, show_return_link: true}

  - if @promise_only_purchases.present?
    %p
      %strong{:style => "text-decoration: underline;"}= I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.promise_only')
      = render partial: 'promise_information', locals: {promise_purchases: @promise_only_purchases, show_return_link: true}

  - if @inspection_only_purchases.present?
    %p
      %strong{:style => "text-decoration: underline;"}= I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.basic_check')
    - @inspection_only_purchases.each do |inspection_purchase|
      %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
        %li
          #{I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.vehicle')}
          %strong= inspection_purchase.promise_offer.full_description
        %li
          #{I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.vnum')}
          %strong #{inspection_purchase.promise_offer.vnum}
        %li
          #{I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.location')}
          %strong= inspection_purchase.pawn_location.try(:name)
        %li
          #{I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.lane_no')}
          %strong #{inspection_purchase.promise_offer.lane_no}
        %li
          #{I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.run_no')}
          %strong #{inspection_purchase.promise_offer.run_no}
        %li
          #{I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.price')}
          %strong #{inspection_purchase.price}

  %p{:style => "margin-bottom: 0;"}
    %strong{:style => "text-decoration: underline;"}= I18n.t('promise_purchase_mailer.purchase_confirmation.agreement_information.title')
  %ul{:style => "list-style-type: none; margin: 0 0 1em 0; padding: 0;"}
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.agreement_information.headings.agreement_no')}
      %strong #{@agreement_number}
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.agreement_information.headings.pawn_access_no')}
      %strong #{@pawn_access_number}
    %li
      #{I18n.t('promise_purchase_mailer.purchase_confirmation.agreement_information.headings.badge_no')}
      %strong #{@badge_number}
