= I18n.t('promise_purchase_mailer.purchase_confirmation.title')
\

= I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.comprehensive_check')
= render partial: 'promise_information', locals: {promise_purchases: @bundled_purchases, show_return_link: true}

= I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.promise_only')
= render partial: 'promise_information', locals: {promise_purchases: @promise_only_purchases, show_return_link: true}

\
\
= I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.basic_check')
- @inspection_only_purchases.each do |inspection_purchase|
  = inspection_purchase.promise_offer.full_description
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.vnum')} #{inspection_purchase.promise_offer.vnum}
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.location')} #{inspection_purchase.pawn_location.try(:name)}
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.lane_no')} #{inspection_purchase.promise_offer.lane_no}
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.run_no')} #{inspection_purchase.promise_offer.run_no}
  #{I18n.t('promise_purchase_mailer.purchase_confirmation.table_headings.price')} #{inspection_purchase.price}
  \

= I18n.t('promise_purchase_mailer.purchase_confirmation.agreement_information.title')
#{I18n.t('promise_purchase_mailer.purchase_confirmation.agreement_information.headings.agreement_no')} #{@agreement_number}
#{I18n.t('promise_purchase_mailer.purchase_confirmation.agreement_information.headings.pawn_access_no')} #{@pawn_access_number}
#{I18n.t('promise_purchase_mailer.purchase_confirmation.agreement_information.headings.badge_no')} #{@badge_number}
\

= raw "#{t('help.customer_service_contact', email: Astro::SUPPORT_EMAIL)} #{t('help.support_hours')}"
