= button_bar back: { path: root_path }
= render partial: 'shared/logo'

.page.ach-page
  %h1= t('pages.ach.title')

  %dd= t('pages.ach.paragraphs.one_html')
  %dd= t('pages.ach.paragraphs.two_html')
  = link_to t('pages.ach.pdf_link'), asset_path("Astroheim_Customer_Direct_Deposit_Enrollment_Form.pdf")
