- content_for :stylesheets do
  :css
    /**
    * FixedDataTable v0.4.6
    *
    * Copyright (c) 2018, Facebook, Inc.
    * All rights reserved.
    *
    * This source code is licensed under the BSD-style license found in the
    * LICENSE file in the root directory of this source tree. An additional grant
    * of patent rights can be found in the PATENTS file in the mase directory.
    */
    .ScrollbarLayout_main
      {
      -moz-user-select:none;
      -ms-user-select:none;
      -webkit-transition-duration:250ms;
      -webkit-transition-timing-function:ease;
      -webkit-user-select:none;
      box-sizing:border-box;
      outline:none;
      overflow:hidden;
      position:absolute;
      transition-duration:250ms;
      transition-timing-function:ease;
      user-select:none;
    }

    .ScrollbarLayout_mainVertical
      {
      -webkit-transition-property:background-color width;
      bottom:0;
      right:0;
      top:0;
      transition-property:background-color width;
      width:15px;
    }

    .ScrollbarLayout_mainVertical.public_Scrollbar_mainActive,.ScrollbarLayout_mainVertical:hover
    {
      width:17px;
    }

    .ScrollbarLayout_mainHorizontal
      {
      -webkit-transition-property:background-color height;
      bottom:0;
      height:15px;
      left:0;
      transition-property:background-color height;
    }

    .ScrollbarLayout_mainHorizontal.public_Scrollbar_mainActive,.ScrollbarLayout_mainHorizontal:hover
    {
      height:17px;
    }

    .ScrollbarLayout_face
      {
      left:0;
      overflow:hidden;
      position:absolute;
      z-index:1;
    }

    .ScrollbarLayout_face:after
    {
      -webkit-transition:background-color 250ms ease;
      border-radius:6px;
      content:'';
      display:block;
      position:absolute;
      transition:background-color 250ms ease;
    }

    .ScrollbarLayout_faceHorizontal
      {
      bottom:0;
      left:0;
      top:0;
    }

    .ScrollbarLayout_faceHorizontal:after
    {
      bottom:4px;
      left:0;
      top:4px;
      width:100%;
    }

    .ScrollbarLayout_faceVertical
      {
      left:0;
      right:0;
      top:0;
    }

    .ScrollbarLayout_faceVertical:after
    {
      height:100%;
      left:4px;
      right:4px;
      top:0;
    }

    .fixedDataTableCellGroupLayout_cellGroup
      {
      -webkit-backface-visibility:hidden;
      backface-visibility:hidden;
      left:0;
      overflow:hidden;
      position:absolute;
      top:0;
      white-space:nowrap;
    }

    .fixedDataTableCellGroupLayout_cellGroup>.public_fixedDataTableCell_main
    {
      display:inline-block;
      vertical-align:top;
      white-space:normal;
    }

    .fixedDataTableCellGroupLayout_cellGroupWrapper
      {
      position:absolute;
      top:0;
    }

    .fixedDataTableCellLayout_main
      {
      border-right-style:solid;
      border-width:0 1px 0 0;
      box-sizing:border-box;
      display:block;
      overflow:hidden;
      position:absolute;
      white-space:normal;
    }

    .fixedDataTableCellLayout_lastChild
      {
      border-width:0 1px 1px 0;
    }

    .fixedDataTableCellLayout_alignRight
      {
      text-align:right;
    }

    .fixedDataTableCellLayout_alignCenter
      {
      text-align:center;
    }

    .fixedDataTableCellLayout_wrap1
      {
      display:table;
    }

    .fixedDataTableCellLayout_wrap2
      {
      display:table-row;
    }

    .fixedDataTableCellLayout_wrap3
      {
      display:table-cell;
      vertical-align:middle;
    }

    .fixedDataTableCellLayout_columnResizerContainer
      {
      position:absolute;
      right:0;
      width:6px;
      z-index:1;
    }

    .fixedDataTableCellLayout_columnResizerContainer:hover
    {
      cursor:ew-resize;
    }

    .fixedDataTableCellLayout_columnResizerContainer:hover .fixedDataTableCellLayout_columnResizerKnob
    {
      visibility:visible;
    }

    .fixedDataTableCellLayout_columnResizerKnob
      {
      position:absolute;
      right:0;
      visibility:hidden;
      width:4px;
    }

    .fixedDataTableColumnResizerLineLayout_mouseArea
      {
      cursor:ew-resize;
      position:absolute;
      right:-5px;
      width:12px;
    }

    .fixedDataTableColumnResizerLineLayout_main
      {
      border-right-style:solid;
      border-right-width:1px;
      box-sizing:border-box;
      position:absolute;
      z-index:10;
    }

    body[dir=rtl] .fixedDataTableColumnResizerLineLayout_main,.fixedDataTableColumnResizerLineLayout_hiddenElem
    {
      display:none!important;
    }

    .fixedDataTableLayout_main
      {
      border-style:solid;
      border-width:1px;
      box-sizing:border-box;
      overflow:hidden;
      position:relative;
    }

    .fixedDataTableLayout_header,.fixedDataTableLayout_hasBottomBorder
    {
      border-bottom-style:solid;
      border-bottom-width:1px;
    }

    .fixedDataTableLayout_footer .public_fixedDataTableCell_main
    {
      border-top-style:solid;
      border-top-width:1px;
    }

    .fixedDataTableLayout_topShadow,.fixedDataTableLayout_bottomShadow
    {
      height:4px;
      left:0;
      position:absolute;
      right:0;
      z-index:1;
    }

    .fixedDataTableLayout_bottomShadow
      {
      margin-top:-4px;
    }

    .fixedDataTableLayout_rowsContainer
      {
      overflow:hidden;
      position:relative;
    }

    .fixedDataTableLayout_horizontalScrollbar
      {
      bottom:0;
      position:absolute;
    }

    .fixedDataTableRowLayout_main
      {
      box-sizing:border-box;
      overflow:hidden;
      position:absolute;
      top:0;
    }

    .fixedDataTableRowLayout_body
      {
      left:0;
      position:absolute;
      top:0;
    }

    .fixedDataTableRowLayout_fixedColumnsDivider
      {
      -webkit-backface-visibility:hidden;
      backface-visibility:hidden;
      border-left-style:solid;
      border-left-width:1px;
      left:0;
      position:absolute;
      top:0;
      width:0;
    }

    .fixedDataTableRowLayout_columnsShadow
      {
      width:4px;
    }

    .fixedDataTableRowLayout_rowWrapper
      {
      position:absolute;
      top:0;
    }

    .public_Scrollbar_main.public_Scrollbar_mainActive,.public_Scrollbar_main:hover
    {
      background-color:rgba(255,255,255,.8);
    }

    .public_Scrollbar_mainOpaque,.public_Scrollbar_mainOpaque.public_Scrollbar_mainActive,.public_Scrollbar_mainOpaque:hover
    {
      background-color:#fff;
    }

    .public_Scrollbar_face:after
    {
      background-color:#c2c2c2;
    }

    .public_Scrollbar_main:hover .public_Scrollbar_face:after,.public_Scrollbar_mainActive .public_Scrollbar_face:after,.public_Scrollbar_faceActive:after
    {
      background-color:#7d7d7d;
    }

    .public_fixedDataTable_main,.public_fixedDataTable_header,.public_fixedDataTable_hasBottomBorder
    {
      border-color:#d3d3d3;
    }

    .public_fixedDataTable_header .public_fixedDataTableCell_main
    {
      font-weight:700;
    }

    .public_fixedDataTable_header,.public_fixedDataTable_header .public_fixedDataTableCell_main
    {
      background-color:#f6f7f8;
      background-image:linear-gradient(#fff,#efefef);
    }

    .public_fixedDataTable_footer .public_fixedDataTableCell_main
    {
      background-color:#f6f7f8;
      border-color:#d3d3d3;
    }

    .public_fixedDataTable_topShadow
      {
      background:0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAF0lEQVR4AWPUkNeSBhHCjJoK2twgFisAFagCCp3pJlAAAAAASUVORK5CYII=) repeat-x;
    }

    .public_fixedDataTable_bottomShadow
      {
      background:0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAHElEQVQI12MwNjZmZdAT1+Nm0JDWEGZQk1GTBgAWkwIeAEp52AAAAABJRU5ErkJggg==) repeat-x;
    }

    .public_fixedDataTable_horizontalScrollbar .public_Scrollbar_mainHorizontal
    {
      background-color:#fff;
    }

    .public_fixedDataTableCell_main
      {
      background-color:#fff;
      border-color:#d3d3d3;
    }

    .public_fixedDataTableCell_highlighted
      {
      background-color:#f4f4f4;
    }

    .public_fixedDataTableCell_cellContent {
      padding:8px;
    }

    .public_fixedDataTableCell_columnResizerKnob {
      background-color:#0284ff;
    }

    .public_fixedDataTableColumnResizerLine_main {
      border-color:#0284ff;
    }

    .public_fixedDataTableRow_main {
      background-color:#fff;
    }

    .public_fixedDataTableRow_highlighted,.public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
      background-color:#f6f7f8;
    }

    .public_fixedDataTableRow_fixedColumnsDivider {
      border-color:#d3d3d3;
    }

    .public_fixedDataTableRow_columnsShadow {
      background:0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==) repeat-y;
    }

    .public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
      background: #4a4a4a;
      color: #fff;
      font-size: 11px;
      font-weight: 700;
      line-height: 13px;
    }

    .fixedDataTableCellLayout_main {
      border: 0;
      color: #4a4a4a;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
    }

    .fixedDataTableCellLayout_main a {
      cursor: pointer;
      color: #FFFFFF;
    }

    .fixedDataTableCellLayout_main a:active, .fixedDataTableCellLayout_main a:visited {
      color: #FFFFFF;
    }

    .public_fixedDataTableRow_highlighted, .public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
      background-color: #eee;
    }
    .fixedDataTableCellLayout_main.public_fixedDataTableCell_main:nth-child(2) {
      font-weight: 700;
    }
    .fixedDataTableCellLayout_main.public_fixedDataTableCell_main:nth-child(9) {
      text-align: center;
    }

    .fixedDataTableLayout_rowsContainer > .fixedDataTableRowLayout_rowWrapper,
    .fixedDataTableLayout_main.public_fixedDataTable_main {
      border-radius: 4px 6px 4px 4px;
      overflow: hidden;
    }

    .fixedDataTableCellGroupLayout_cellGroup>.public_fixedDataTableCell_main:first-child .fixedDataTableCellLayout_wrap3 {
      padding-left: 15px
    }

    .wrapper {
      max-width: 1064px;
    }

    .page {
      max-width: inherit;
    }

=button_bar back: { path: root_path }
.page
  %h1 Agreement Dashboard
  #agreement-dashboard-app
  = javascript_include_tag "agreement_dashboard/index"

