=button_bar back: { path: page_path(:faq) }
.page.faq-page
  %h1= t('pages.inspections_faq.title')

  %dl.faq
    %dt= t('pages.inspections_faq.questions.one')
    %dd= t('pages.inspections_faq.answers.one')

    %dt= t('pages.inspections_faq.questions.two')
    %dd= t('pages.inspections_faq.answers.two')

    %dt= t('pages.inspections_faq.questions.three')
    %dd= t('pages.inspections_faq.answers.three')

    %dt= t('pages.inspections_faq.questions.four')
    %dd= t('pages.inspections_faq.answers.four')
    %ul
      %li= t('pages.inspections_faq.comprehensive_check_inclusions.one')
      %li= t('pages.inspections_faq.comprehensive_check_inclusions.two')
      %li= t('pages.inspections_faq.comprehensive_check_inclusions.three')
      %li= t('pages.inspections_faq.comprehensive_check_inclusions.four')
      %li= t('pages.inspections_faq.comprehensive_check_inclusions.five')
      %li= t('pages.inspections_faq.comprehensive_check_inclusions.six')
      %li= t('pages.inspections_faq.comprehensive_check_inclusions.seven')
      %li= t('pages.inspections_faq.comprehensive_check_inclusions.eight')
      %li= t('pages.inspections_faq.comprehensive_check_inclusions.nine')
      %li= t('pages.inspections_faq.comprehensive_check_inclusions.ten')
      %li= t('pages.inspections_faq.comprehensive_check_inclusions.eleven')
      %li= t('pages.inspections_faq.comprehensive_check_inclusions.twelve')

    %dt= t('pages.inspections_faq.questions.five')
    %dd= t('pages.inspections_faq.answers.five')

    %dt= t('pages.inspections_faq.questions.six')
    %dd= t('pages.inspections_faq.answers.six')

    %dt= t('pages.inspections_faq.questions.seven')
    %dd= t('pages.inspections_faq.answers.seven', domain: Astro::DOMAIN)

    %dt= t('pages.inspections_faq.questions.eight')
    %dd= t('pages.inspections_faq.answers.eight')
