= render partial: "shared/logo"

.l-offset-3.l-col-6
  - if Settings.learn_about_agreementshield_enabled
    .l-row.l-row-space-bottom
      = link_to t('navigation.layout.static_links.learn_about_agreementshield'), page_path(:learn_about_agreementshield), class: 'btn-l-full btn-t-full'
  - if FlatRatePolicy.new(current_user).index?
    .l-row.l-row-space-bottom
      = link_to t('navigation.flat_rates'), flat_rates_agreement_number_list_path, class: 'btn-l-full btn-t-full'
  - if current_user.admin?
    .l-row.l-row-space-bottom
      = link_to t('navigation.admin'), admin_index_path, class: 'btn-l-full btn-t-full'
  .l-row.l-row-space-bottom
    = link_to t('navigation.quote'), quotes_research_path, class: 'btn-l-full btn-t-full'
  - if UserNavigationPolicy.new(current_user).authorized_to_purchase?
    .l-row.l-row-space-bottom
      = link_to t('navigation.purchase'), vehicle_filter_path, class: 'btn-l-full btn-t-full'
  - if UserNavigationPolicy.new(current_user).authorized_to_purchase?
    .l-row.l-row-space-bottom
      = link_to t('navigation.return'), return_funnel_filters_path, class: 'btn-l-full btn-t-full btn-s-gray'
  - if current_user.vehicle_creator?
    .l-row.l-row-space-bottom
      = link_to t('navigation.enter'), new_sold_vehicle_path, class: 'btn-l-full btn-t-full btn-s-gray'
  - if current_user.external_vehicle_enterer?
    .l-row.l-row-space-bottom
      = link_to t('navigation.enter_external_vehicle'), new_external_vehicles_load_path, class: 'btn-l-full btn-t-full btn-s-gray'
  - if current_user.agreement_transaction_viewer?
    .l-row.l-row-space-bottom
      = link_to t('navigation.agreement_dashboard'), dashboard_filter_path(next: :agreement_dashboard), class: 'btn-l-full btn-t-full btn-s-gray'
  - if current_user.agreement_score_viewer? || Settings.market_index_enabled
    .l-row.l-row-space-bottom
      = link_to t('navigation.performance_managment'), dashboard_filter_path(next: :performance), class: 'btn-l-full btn-t-full btn-s-gray'

