=button_bar back: { path: root_path }
.l-offset-3.l-col-6.txt-center
  = render :partial => "help_panels/quick_guides"
  = link_to t('navigation.layout.static_links.faq_help_panel'), page_path(:faq)
/ .l-offset-2.l-col-8
/   = render :partial => "shared/faqs"
