=button_bar back: { path: root_path }
.page.external
  %h2= t('pages.privacy_policy.titles.one')
  %p= t('pages.privacy_policy.paragraphs.one_html', domain_link: link_to("https://promise.agreementshield.com", "https://promise.agreementshield.com"), link: mail_to("info@agreementshield.com"))

  %h2= t('pages.privacy_policy.titles.two')
  %p= t('pages.privacy_policy.paragraphs.two_html')

  %h2= t('pages.privacy_policy.titles.three')
  %p= t('pages.privacy_policy.paragraphs.three_html')

  %p
    %strong= t('pages.privacy_policy.sub_titles.one')
    = t('pages.privacy_policy.paragraphs.four_html')
  %p
    %strong= t('pages.privacy_policy.sub_titles.two')
    = t('pages.privacy_policy.paragraphs.five_html')

  %h2= t('pages.privacy_policy.titles.four')
  %p= t('pages.privacy_policy.paragraphs.six_html')
  %p= t('pages.privacy_policy.paragraphs.seven_html')
  %p= t('pages.privacy_policy.paragraphs.eight_html')
  %p= t('pages.privacy_policy.paragraphs.nine_html')

  %h2= t('pages.privacy_policy.titles.five')
  %p= t('pages.privacy_policy.paragraphs.ten_html')
  %ul
    %li= t('pages.privacy_policy.personal_info_reasons.one')
    %li= t('pages.privacy_policy.personal_info_reasons.two')
    %li= t('pages.privacy_policy.personal_info_reasons.three')
    %li= t('pages.privacy_policy.personal_info_reasons.four')
    %li= t('pages.privacy_policy.personal_info_reasons.five')
    %li= t('pages.privacy_policy.personal_info_reasons.six')
    %li= t('pages.privacy_policy.personal_info_reasons.seven')
    %li= t('pages.privacy_policy.personal_info_reasons.eight')

  %h2= t('pages.privacy_policy.titles.six')
  %p= t('pages.privacy_policy.paragraphs.eleven_html')
  %ul
    %li
      %u= t('pages.privacy_policy.share_type_title.one')
      = t('pages.privacy_policy.share_type.one')
    %li
      %u= t('pages.privacy_policy.share_type_title.two')
      = t('pages.privacy_policy.share_type.two')
    %li
      %u= t('pages.privacy_policy.share_type_title.three')
      = t('pages.privacy_policy.share_type.three')
    %li
      %u= t('pages.privacy_policy.share_type_title.four')
      = t('pages.privacy_policy.share_type.four')
    %li
      %u= t('pages.privacy_policy.share_type_title.five')
      = t('pages.privacy_policy.share_type.five')
    %li
      %u= t('pages.privacy_policy.share_type_title.six')
      = t('pages.privacy_policy.share_type.six')
    %li
      %u= t('pages.privacy_policy.share_type_title.seven')
      = t('pages.privacy_policy.share_type.seven')
    %li
      %u= t('pages.privacy_policy.share_type_title.eight')
      = t('pages.privacy_policy.share_type.eight')

  %h2= t('pages.privacy_policy.titles.seven')
  %p= t('pages.privacy_policy.paragraphs.twelve_html')

  %h2= t('pages.privacy_policy.titles.eight')
  %p= t('pages.privacy_policy.paragraphs.thirteen_html')

  %h2= t('pages.privacy_policy.titles.nine')
  %p= t('pages.privacy_policy.paragraphs.fourteen_html')

  %h2= t('pages.privacy_policy.titles.ten')
  %p= t('pages.privacy_policy.paragraphs.fifteen_html')
