<%= button_bar back: {skip: true} %>
<div class="terms">
<p class="p1"><br></p>
<p class="p1"><br></p>
<p class="p2"><b><%= t('pages.terms.title') %></b></p>
<p class="p2"><%= t('pages.terms.date', date: '05.16.16') %></p>
<p class="p3"><b></b><br></p>
<p class="p4"><%= t('pages.terms.paragraphs.one_html') %>

<p class="p5"><br></p>
<ul class="ul1">
  <li class="li4"><b></b><span class="s1"><b><%= t('pages.terms.headings.one') %></b></span>
    <ul class="ul1" style="list-style-type: lower-alpha">
      <li class="li4"><%= t('pages.terms.paragraphs.two_html') %>
      <li class="li4"><%= t('pages.terms.paragraphs.three_html') %>
      <li class="li4"><%= t('pages.terms.paragraphs.four_html') %>
      <li class="li4"><%= t('pages.terms.paragraphs.five_html') %>
      <li class="li4"><%= t('pages.terms.paragraphs.six_html') %>
      <li class="li4"><%= t('pages.terms.paragraphs.seven_html') %>
      <li class="li4"><%= t('pages.terms.paragraphs.eight_html') %>
    </ul>
  </li>
  <li class="li4"><b></b><span class="s1"><b><%= t('pages.terms.headings.two') %></b></span>. <span class="Apple-converted-space"> </span></li>
  <ul class="ul1">
    <li class="li4"><%= t('pages.terms.paragraphs.nine_html') %></li>
    <li class="li4"><%= t('pages.terms.paragraphs.ten_html') %></li>
    <li class="li4"><%= t('pages.terms.paragraphs.eleven_html') %></li>
    <li class="li4"><%= t('pages.terms.paragraphs.twelve_html') %></li>
    <li class="li4"><%= t('pages.terms.paragraphs.thirteen_html') %></li>
    <li class="li4"><%= t('pages.terms.paragraphs.fourteen_html') %></li>
    <li class="li4"><%= t('pages.terms.paragraphs.fifteen_html') %></li>
    <li class="li4"><%= t('pages.terms.paragraphs.sixteen_html') %></li>
  </ul>

  <li class="li4">
    <b></b><span class="s1"><b><%= t('pages.terms.headings.three') %></b></span>.<span class="Apple-converted-space">  </span>
    <%= t('pages.terms.paragraphs.seventeen_html') %>
  </li>

  <li class="li4">
    <b></b><span class="s1"><b><%= t('pages.terms.headings.four') %></b></span>.<span class="Apple-converted-space">  </span>
    <%= t('pages.terms.paragraphs.eighteen_html') %>
  </li>

  <li class="li4">
    <b></b><span class="s1"><b><%= t('pages.terms.headings.five') %></b></span>.<span class="Apple-converted-space">  </span>
    <%= t('pages.terms.paragraphs.nineteen_html') %>
  </li>

  <li class="li4">
    <b></b><span class="s1"><b><%= t('pages.terms.headings.six') %></b></span>.<span class="Apple-converted-space">  </span>
    <%= t('pages.terms.paragraphs.twenty_html') %>
  </li>

  <li class="li4">
    <b></b><span class="s1"><b><%= t('pages.terms.headings.seven') %></b></span>.<span class="Apple-converted-space">  </span>
    <%= t('pages.terms.paragraphs.twenty_one_html') %>
  </li>

  <li class="li4">
    <b></b><span class="s1"><b><%= t('pages.terms.headings.eight') %></b></span>.<span class="Apple-converted-space">  </span>
    <%= t('pages.terms.paragraphs.twenty_two_html') %>
  </li>

  <li class="li4">
    <b></b><span class="s1"><b><%= t('pages.terms.headings.nine') %></b></span>
    <ul>
      <li><%= t('pages.terms.waver_details.one_html') %></li>
      <li><%= t('pages.terms.waver_details.two_html') %></li>
      <li><%= t('pages.terms.waver_details.three_html') %></li>
      <li><%= t('pages.terms.waver_details.four_html') %></li>
      <li><%= t('pages.terms.waver_details.five_html') %></li>
    </ul>
  </li>
  <li class="li4">
    <b></b><span class="s1"><b><%= t('pages.terms.headings.ten') %></b></span>.<span class="Apple-converted-space">  </span>
    <%= t('pages.terms.paragraphs.twenty_three_html') %>
  </li>

  <li class="li4">
    <b></b><span class="s1"><b><%= t('pages.terms.headings.eleven') %></b></span>.<span class="Apple-converted-space">  </span>
    <%= t('pages.terms.paragraphs.twenty_four_html') %>
  </li>

  <li class="li4">
    <b></b><span class="s1"><b><%= t('pages.terms.headings.twelve') %></b></span>.<span class="Apple-converted-space">  </span>
    <%= t('pages.terms.paragraphs.twenty_five_html') %>
  </li>
</ul>
<p class="p5">
  <% if i18n_set? "pages.terms.paragraphs.twenty_six_html" %>
    <%= t('pages.terms.paragraphs.twenty_six_html') %>
  <% end %>
</p>
<p class="p5"><span class="Apple-converted-space">  </span></p>
<p class="p5"><br></p>
<p class="p5"><br></p>
</div>
