=button_bar back: { path: root_path }
.page.external
  %p= t('pages.visitor_agreement.opening_html', first_link: link_to("promise.agreementshield.com", "http://promise.agreementshield.com"), second_link: link_to(t('pages.privacy_policy.title'), page_path(:privacy_policy)) )

  %h2= t('pages.visitor_agreement.title.one')
  %p= t('pages.visitor_agreement.paragraph.one_html', link: link_to(t('pages.privacy_policy.title'), page_path(:privacy_policy)))
  %p= t('pages.visitor_agreement.paragraph.two_html', email: mail_to("info@agreementshield.com"))
  %p= t('pages.visitor_agreement.paragraph.three_html')
  %p= t('pages.visitor_agreement.paragraph.four_html')

  %h2= t('pages.visitor_agreement.title.two')
  %p= t('pages.visitor_agreement.paragraph.five_html')
  %p= t('pages.visitor_agreement.paragraph.six_html')
  %p= t('pages.visitor_agreement.paragraph.seven_html')

  %h2= t('pages.visitor_agreement.title.three')
  %p= t('pages.visitor_agreement.paragraph.eight_html')

  %h2= t('pages.visitor_agreement.title.four')
  %p= t('pages.visitor_agreement.paragraph.nine_html', email: mail_to("info@agreementshield.com"))
  %p= t('pages.visitor_agreement.paragraph.ten_html')
  %p= t('pages.visitor_agreement.paragraph.eleven_html')
  %p= t('pages.visitor_agreement.paragraph.twelve_html')

  %h2= t('pages.visitor_agreement.title.five')
  %p= t('pages.visitor_agreement.paragraph.thirteen_html')
  %p= t('pages.visitor_agreement.paragraph.fourteen_html')
  %p= t('pages.visitor_agreement.paragraph.fifteen_html')

  %h2= t('pages.visitor_agreement.title.six')
  %h3= t('pages.visitor_agreement.subtitle')
  %p= t('pages.visitor_agreement.paragraph.sixteen_html', email: mail_to("info@agreementshield.com"))
  %p= t('pages.visitor_agreement.paragraph.seventeen_html')

  %h2= t('pages.visitor_agreement.title.seven')
  %p= t('pages.visitor_agreement.paragraph.eighteen_html')
  %p= t('pages.visitor_agreement.paragraph.nineteen_html')

  %p= t('pages.visitor_agreement.paragraph.twenty_html')


