%table.flat-rates
  %thead
    %tr.super-header
      %th
      %th.amount= t('flat_rates.viewer_index.offer_amount')
    %tr.sub-header
      %th.information= t('flat_rates.viewer_index.agreement_information')
      %th.target
        %span= t('flat_rates.viewer_index.target')
      %th.note= t('flat_rates.viewer_index.offer_amount_text')
  %tbody
    - @flat_rates.each do |flat_rate|
      = fields_for 'flat_rate_offer[]' do |of|
        %tr
          %td #{flat_rate.agreement_no} - #{AgreementInformation.build_with_defaults(pawn_access_number, flat_rate.agreement_no).agreementship_name}
          - if FlatRatePolicy.new(current_user, flat_rate).build_offer?
            - if flat_rate.price_available?
              %td.target= flat_rate.target_price
              %td
                = of.hidden_field :flat_rate_id, value: flat_rate.id
                - unless flat_rate.eligible?
                  = t('flat_rates.viewer_index.warning', reason: flat_rate.ineligibility_reason)
                = check_box_tag :include_agreementship, "1", false, class: "js-flat-rate-offer-include-agreementship"
                = of.hidden_field :price, value: flat_rate.flat_rate_attribute.target_price, disabled: true, class: "js-flat-rate-offer-target-price"
                = of.hidden_field :miles_selected, value: flat_rate_miles
                = of.hidden_field :psi_eligible, value: psi_eligible?
                = of.hidden_field :palv, value: palv?
            - else
              %td= t('flat_rates.viewer_index.please_select')
          - else
            %td.note{colspan:"4"}
              = I18n.t('flat_rates.ineligible', reason: flat_rate.ineligibility_reason)
