= button_bar
%h1= t('flat_rates.index.title')
%div
  = t('flat_rates.index.offer_parameter', distance: flat_rate_distance_with_units)
  = "& PSI" if psi_eligible?
%div
  = t('flat_rates.index.country')
  = country
%p= raw "#{t('flat_rates.index.review_prompt', mail_to: link_to(Astro::AUTOMATIC_EMAIL, "mailto:#{Astro::AUTOMATIC_EMAIL}"))}"
- if @flat_rates.present?
  = form_for FlatRateOfferBatch.new, url: new_flat_rate_offer_batch_path, method: :get do |f|
    = hidden_field_tag :pawn_access_number, pawn_access_number

    = render partial: 'viewer_index'
    = f.submit t('forms.next'), class: 'green btn'
-else
  %p= t('flat_rates.index.no_rate_available')
