.agreementship_filter
  = label "agreementship", t('promise_offers.agreement_filter.view_as')
  = select_tag "agreementship", options_for_select(@agreementships)
  = submit_tag t('forms.filter'), class: "sm btn continue_btn", id: 'agreement_filter'
