.promise_options
  %table
    %thead
      %tr
        %th
          =t('promise_offers.no_inspection_ui.buy_back_promise_only')
          =link_to "?", "#info-promise-only", class: "q pop"
        %th= t('promise_offers.distance_and_time_grid.seven_days')
        %th= t('promise_offers.distance_and_time_grid.fourteen_days')
        %th= t('promise_offers.distance_and_time_grid.twentyone_days')
    %tbody
      - promise_offer.promise.distances.each do |distance|
        %tr
          %th= t('promise_offers.distance_and_time_grid.distance_in_miles', distance: distance)
          = render partial: "no_inspections_price_matrix_row", locals: {promise_offer: promise_offer, miles: distance, hide_prices: true}
