.no_promise_options
  %label{class: "inspection_only"}
    = radio_button_tag promise_offer.vnum_label, "inspection_only", promise_offer.can_be_selected?, disabled: true
    = label_tag        promise_offer.vnum_label do
      =t('promise_offers.inspection_ui.inspection_only_copy')
      %span= t('promise_offers.inspections_no_promise_options.please_see_personel')
      =link_to "?", "#info-basic-only", class: "q pop"
  %label{class: ["none", promise_offer.can_be_selected? ? "selected" : ""]}
    = radio_button_tag promise_offer.vnum_label, "none", promise_offer.can_be_selected?, disabled: promise_offer.disable_radio_buttons?, class: "vnum#{promise_offer.vnum}milesdays"
    = label_tag promise_offer.vnum_label+"_none" do
      %span= t('promise_offers.inspections_no_promise_options.zero_dollars')
      = t('promise_offers.inspection_ui.no_purchase_copy')
.inspection
  = check_box_tag promise_offer.inspection_label, "true", promise_offer.has_inspection?, disabled: !promise_offer.eligible_for_inspection?
