.promise_options
  = render partial: "inspections_distance_selections",  locals: {promise_offer: promise_offer}
  = render partial: "inspections_price_matrix",         locals: {promise_offer: promise_offer}
  = render partial: "inspections_no_promise_options", locals: {promise_offer: promise_offer}
