.distance_selections
  = t('promise_offers.inspections_distance_selections.show_prices_for')
  %label{class: promise_offer.can_be_selected? ? "selected" : ""}
    = radio_button_tag promise_offer.vnum_label+"_distance", "#{promise_offer.promise.distance1}", promise_offer.can_be_selected?, disabled: promise_offer.disable_radio_buttons?
    = promise_offer.distance1_label
  %label
    = radio_button_tag promise_offer.vnum_label+"_distance", "#{promise_offer.promise.distance2}", false, disabled: promise_offer.disable_radio_buttons?
    = promise_offer.distance2_label
