.price_matrix
  %table
    %thead
      %tr
        %th
        %th= t('promise_offers.inspections_price_matrix.seven_days')
        %th= t('promise_offers.inspections_price_matrix.fourteen_days')
        %th= t('promise_offers.inspections_price_matrix.twenty_one_days')
    %tbody
      - promise_offer.promise.distances.each do |miles|
        %tr{class: ["distance_#{miles}_row", "no_inspections"]}
          %th
            =t('promise_offers.inspection_ui.buy_back_promise_only')
            =link_to "?", "#info-promise-only", class: "q pop"
          - Promise::LENGTHS.each do |additional_days|
            %td
              %label
                = radio_button_tag promise_offer.vnum_label, promise_offer.promise.price_label(miles, additional_days), promise_offer.promised_at?(miles, additional_days) && !promise_offer.inspection_purchase.present?, disabled: promise_offer.disable_radio_buttons?, class: "vnum#{promise_offer.vnum}miles#{miles}days#{additional_days}"
                = promise_offer.promise.price(miles, additional_days)
        %tr{class: ["distance_#{miles}_row", "bundled_inspections"]}
          %th
            =t('promise_offers.inspection_ui.comprehensive_check')
            =link_to "?", "#info-comprehensive-check", class: "q pop"
          - Promise::LENGTHS.each do |additional_days|
            %td
              %label
                = radio_button_tag promise_offer.vnum_label, promise_offer.promise.price_label(miles, additional_days), promise_offer.promised_at?(miles, additional_days) && promise_offer.inspection_purchase.present?, disabled: promise_offer.disable_radio_buttons?
                = promise_offer.bundled_inspection_offer_price(miles, additional_days)
