.promise_options
  %table
    %thead
      %tr
        %th
          =t('promise_offers.no_inspection_ui.buy_back_promise_only')
          =link_to "?", "#info-promise-only", class: "q pop"
        %th= t('promise_offers.no_inspections_price_matrix.seven_days')
        %th= t('promise_offers.no_inspections_price_matrix.fourteen_days')
        %th= t('promise_offers.no_inspections_price_matrix.twenty_one_days')
        %th= t('promise_offers.no_inspections_price_matrix.no_coverage')
    %tbody
      %tr
        %th= promise_offer.distance1_label
        = render partial: "no_inspections_price_matrix_row", locals: {promise_offer: promise_offer, miles: promise_offer.promise.distance1}
        %td{:rowspan => "2", :class => promise_offer.offer_selection_class }
          %label
            = radio_button_tag promise_offer.vnum_label, "none", promise_offer.can_be_selected?, disabled: promise_offer.disable_radio_buttons?
            = promise_offer.no_coverage_price
      %tr
        %th= promise_offer.distance2_label
        = render partial: "no_inspections_price_matrix_row", locals: {promise_offer: promise_offer, miles: promise_offer.promise.distance2}
  - if promise_offer.discounted? && Settings.discounts_enabled
    .discounted #{promise_offer.discount_description}
