- hide_prices ||= false
- Promise::LENGTHS.each do |additional_days|
  %td{:class => promise_offer.promised_at?(miles, additional_days) ? "selected" : ""}
    %label
      = radio_button_tag promise_offer.vnum_label, promise_offer.promise.price_label(miles, additional_days), promise_offer.promised_at?(miles, additional_days), disabled: promise_offer.disable_radio_buttons?, class: "vnum#{promise_offer.vnum}miles#{miles}days#{additional_days}"
      - unless hide_prices
        - if promise_offer.discounted? && Settings.discounts_enabled
          %strike= promise_offer.promise.price(miles, additional_days)
          %span{:class => 'discounted'}= promise_offer.promise.discounted_price(miles, additional_days)
        - else
          = promise_offer.promise.price(miles, additional_days)
