.price_factors
  %p= t 'vehicles.ratings.description'
  .col
    %h4= t('promise_offers.purchase_factors.vehicle_factors')
    %ul
      %li
        %span= t('promise_offers.purchase_factors.make_model')
        .stars{class: "number#{promise_offer.mid_rating}"}
          = promise_offer.mid_rating
          \/ 5
      %li
        %span= t('promise_offers.purchase_factors.autocheck_history')
        .stars{class: "number#{promise_offer.autocheck_rating}"}
          = promise_offer.autocheck_rating
          \/ 5
      %li
        %span= t('promise_offers.purchase_factors.age')
        .stars{class: "number#{promise_offer.age_rating}"}
          = promise_offer.age_rating
          \/ 5
      %li
        %span= t('promise_offers.purchase_factors.odometer')
        .stars{class: "number#{promise_offer.odometer_rating}"}
          = promise_offer.odometer_rating
          \/ 5
  .col
    %h4= t('promise_offers.purchase_factors.other_factors')
    %ul
      %li
        %span= t('promise_offers.purchase_factors.seller')
        .stars{class: "number#{promise_offer.seller_rating}"}
          = promise_offer.seller_rating
          \/ 5
      %li
        %span= t('promise_offers.purchase_factors.amount_vs_value')
        .stars{class: "number#{promise_offer.bid_risk_rating}"}
          = promise_offer.bid_risk_rating
          \/ 5
