%div
  .dialog#info-promise-only{title: "Buy Back Promise only"}
    %h3= t('promise_offers.purchase_info.buyback_promise_only')
    %ul.checklist
      %li= t('promise_offers.purchase_info.checklist.one')
      %li= t('promise_offers.purchase_info.checklist.two')
      %li= t('promise_offers.purchase_info.checklist.three')
      %li= t('promise_offers.purchase_info.checklist.four')
  .dialog#info-comprehensive-check{title: "Astroheim's Comprehensive Check"}
    %h3= t('promise_offers.purchase_info.comprehensive_check')
    %ul.checklist
      %li= t('promise_offers.purchase_info.checklist.five')
      %li= t('promise_offers.purchase_info.checklist.six')
      %li= t('promise_offers.purchase_info.checklist.seven')
      %li= t('promise_offers.purchase_info.checklist.eight')
  .dialog#info-basic-only{title: "Basic Check"}
    %h3= t('promise_offers.purchase_info.basic_check')
    %ul.checklist
      %li= t('promise_offers.purchase_info.checklist.nine')
      %li= t('promise_offers.purchase_info.checklist.ten')
      %li= t('promise_offers.purchase_info.checklist.eleven')
      %li= t('promise_offers.purchase_info.checklist.twelve')
