%li.vehicle{:class => promise_offer.offer_vehicle_classes, :'data-agreement-no' => promise_offer.agreement_no }
  = promise_offer.ineligibility_copy
  .content
    = render partial: "vehicle_information", locals: {promise_offer: promise_offer}
    - if promise_offer.partial_to_render.present?
      = render partial: promise_offer.partial_to_render, locals: {promise_offer: promise_offer}
