.vehicle_info
  .div{:class => (!promise_offer.not_yet_promised?) ? "promised_vehicle_description selected" : "vehicle_description" }
    %h3
      = promise_offer.full_description
      - if promise_offer.if_bid
        %span.badge.blue=t('vehicles.if_bid')
      - if promise_offer.paid_by_floor_plan?
        %span.badge.black= t('vehicles.floor_plan')
    .vnum
      = t('promise_offers.vehicle_information.vnum')
      = promise_offer.vnum
    .odometer_reading
      = t('promise_offers.vehicle_information.odometer')
      = promise_offer.odometer_reading
    .lane_number
      = t('promise_offers.vehicle_information.lane_number')
      = promise_offer.lane_no
    .run_number
      = t('promise_offers.vehicle_information.run_number')
      = promise_offer.run_no
    .vehicle_price
      = t('promise_offers.vehicle_information.vehicle_price')
      = promise_offer.purchase_price
    .vehicle_location
      = t('promise_offers.vehicle_information.vehicle_location')
      = promise_offer.location_name
    - if promise_offer.eligible?
      = link_to t('vehicles.ratings.link'), "#", {class: :price_factors_link}
  = render partial: "price_factors",     locals: {promise_offer: promise_offer}
