#vehicles_index_view
= render partial: "shared/logo"

.page
  - if @agreementships.count > 1
    = render partial: "agreement_filter"

  %h2
    = @search_criteria

  - if @current_offer_count == 0
    %p.no_vehicles_copy
      = t('promise_offers.no_vehicles')
    = link_to t('forms.home'), root_path, class: "green btn"
  - else

    = form_tag new_promise_purchase_path, method: :get, class: "purchaseform" do
      .current_vehicles
        %ul.vehicle_list
          = render partial: "offer_groups", locals: {offers: new_offers,                  heading: 'eligible_for_purchase'}
          = render partial: "offer_groups", locals: {offers: previously_purchased_offers, heading: 'previous_promises'}
          = render partial: "offer_groups", locals: {offers: ineligible_offers,           heading: 'ineligible_for_purchase'}

      = button_bar back: { label: t('forms.cancel'), path: root_path }, home: { skip: true } do
        = link_to t('forms.print'), "#", {class: "print_btn btn"}
        .step
          = t('promise_offers.index.step_1_of_2')
        = submit_tag t('forms.next'), class: "green btn next_btn"
      %footer
        = submit_tag t('forms.next'), class: "green btn next_btn"

.print_only
  = render partial: "layouts/footer"

= render partial: "purchase_info"
