.vehicle_description
  %h3= promise_offer.vehicle_full_description
  %p.ineligible
    = promise_purchase.return_ineligibility_reason
  .vnum
    = t('return_funnel.filtered_purchases.forms.vnum')
    = promise_offer.vnum
  .odometer_reading
    = t('return_funnel.filtered_purchases.forms.odometer')
    = promise_offer.odometer_reading
  .days
    = t('return_funnel.filtered_purchases.forms.days_selected')
    = promise_offer.days_selected
  .expiration
    = t('return_funnel.filtered_purchases.forms.promise_expiration')
    = promise_purchase.expiration_date
  .miles
    = t('return_funnel.filtered_purchases.forms.miles_selected')
    = promise_offer.distance_selected_with_units
  - if promise_purchase.return_initiated?
    .return_date
      = t('return_funnel.filtered_purchases.forms.return_date')
      = promise_purchase.return_invoice.created_at.to_date


.return_btn
  .btns
    - if promise_purchase.return_initiated?
      = promise_purchase.return_invoice.decorate.vra_link(true, pawn_access_number)
      - if promise_purchase.return_invoice.shipment
        = promise_purchase.return_invoice.shipment.decorate.tracking_link
        - if promise_purchase.return_invoice.shipment.status
          (#{promise_purchase.return_invoice.shipment.status})
    - elsif promise_purchase.exceeds_promo_returns?
      = button_tag t('return_funnel.filtered_purchases.forms.ineligible'), class: "disabled btn", disabled: true, rel: :ineligible
    - elsif promise_purchase.eligible_for_return?
      - if Settings.buynet_during_return
        = promise_purchase.buynet_link
      = promise_purchase.initiate_return_link

    - else
      = button_tag t('return_funnel.filtered_purchases.forms.ineligible'), class: "disabled btn", disabled: true, rel: :ineligible

- if Settings.return_status_enabled
  - if promise_purchase.return_initiated?
    .return_status
      = check_box_tag :vehicle_received, :vehicle_received, promise_purchase.return_invoice.vehicle_received?, disabled: true
      = t('return_status.vehicle_received')
      = check_box_tag :title_received, :title_received, promise_purchase.return_invoice.title_received?, disabled: true
      = t('return_status.title_received')
      = check_box_tag :refund_processed, :refund_processed, promise_purchase.return_invoice.refund_processed?, disabled: true
      = t('return_status.refund_processed')

- if promise_purchase.return_under_audit?
  .flash_error
    = t('return_invoice.audit_alert', domain: "promise.#{Astro::DOMAIN}")

= promise_purchase.cancellation_link(current_user)

- if promise_purchase.return_initiated? && ReturnInvoicePolicy.new(current_user, promise_purchase.return_invoice).update?
  = link_to t('forms.returns.edit'), edit_return_invoice_path(promise_purchase.return_invoice)
