= button_bar back: { path: current_user.buyer_user? ? root_path : return_funnel_filter_path(filter_type) }
#vehicles_index_view
= render partial: "shared/logo"

= form_tag url_for(params.slice(:controller, :action)), method: :get do
  - params.except(:vnum_suffix, :utf8, :controller, :action, :commit).each do |key, value|
    = hidden_field_tag key, value
  = text_field_tag 'vnum_suffix', nil, placeholder: t('return_funnel.filtered_purchases.forms.vnum_suffix')
  = submit_tag t('forms.generic_submission')

.return
  - unless any_eligible_returns?
    %h3= t('return_invoice.not_available.greeting', agreement_name: agreement_name)
    %p= t('return_invoice.not_available.no_eligible_vehicles')

  = paginate paginated_purchases
  %ul.vehicle_list.return
    - paginated_purchases.each do |promise_purchase|
      %li= render partial: 'vehicle_form', locals: { promise_purchase: promise_purchase.decorate, promise_offer: promise_purchase.promise_offer.decorate }

