= form_for @floor_plan_company, url: url do |f|
  %fieldset
    = f.label :name do
      Name
      = f.text_field :name
    = f.label :company_code do
      Company Code
      = f.text_field :company_code
    = f.label :holds_title do
      = f.check_box :holds_title
      Holds Title
    = f.label :generate_shipping_label do
      = f.check_box :generate_shipping_label
      Generate Shipping Label
    = f.label :skip_ds_payment do
      = f.check_box :skip_ds_payment
      Floor Plan Does Not Pay DS Fee

  %fieldset
    = f.label :oracle_id do
      Oracle ID
      = f.text_field :oracle_id
    = f.submit 'Submit', class: 'green btn'
