= button_bar(back: {path: admin_index_path})
%br/

= form_for :filters, url: admin_floor_plan_companies_path, method: :get do |f|
  = f.label :company_code do
    Company code:
    = f.text_field :company_code, value: company_code_filter
  = f.submit

= link_to t('admin.floor_plan_companies.create'), new_admin_floor_plan_company_path

= render partial: 'paginated_data_table', locals: { rows: @floor_plan_companies, fields: fields }
