%h2 Failover mode is #{Failover.active? ? "ENABLED" : "DISABLED"}

.centered
  - if Failover.active?
    = button_to t('admin.failovers.disable'), admin_failover_path, method: :put, class: "btn green"
  - else
    = button_to t('admin.failovers.enable'), admin_failover_path, class: "btn red"
