= button_bar home: { skip: true }, back: { path: return_funnel_filtered_purchases_path } do
  = link_to t('forms.cancel'), root_path, class: 'btn cancel_btn'
%br
%br
%br
%br
- if @floor_plan_company
  .informal_message
    =t('return_invoice.floor_plan_informal_message',floor_plan_company: @floor_plan_company.name)
- else
  .informal_message
    =t('return_invoice.unpaid_informal_message')
.return_buttons
  .btns
    - @purchase.payment_links(current_user).each do |link|
      %p
        = link
