.buyer_wrap
  .buyer_box
    .buyer_box_hdr
      = t('return_funnel.bill_of_sale.buyer')
    .clr
    .col-row
      .buyer_align_left.buyer_sub_hr
        = t('return_funnel.bill_of_sale.address_info.agreement_name')
      .buyer_txt_form
        = t('return_funnel.bill_of_sale.buyer_address.agreement_name')
    .clr
    .col-row
      .buyer_align_left.buyer_sub_hr
        = t('return_funnel.bill_of_sale.address_info.address')
      .buyer_txt_form
        = t('return_funnel.bill_of_sale.buyer_address.address')
    .clr
    .col-row
      .buyer_align_left.buyer_sub_hr
        = t('return_funnel.bill_of_sale.address_info.city')
      .buyer_txt_form
        = t('return_funnel.bill_of_sale.buyer_address.city')
    .clr
    .col-row
      .buyer_align_left.buyer_sub_hr
        = t('return_funnel.bill_of_sale.address_info.provnumce')
      .buyer_txt_form
        = t('return_funnel.bill_of_sale.buyer_address.provnumce')
    .clr
    .col-row
      .buyer_align_left.buyer_sub_hr
        = t('return_funnel.bill_of_sale.address_info.tel')
      .buyer_txt_form
        = t('return_funnel.bill_of_sale.buyer_address.tel')
    .clr
    .col-row
      .buyer_align_left.buyer_sub_hr
        = t('return_funnel.bill_of_sale.address_info.fax')
      .buyer_txt_form
        = t('return_funnel.bill_of_sale.buyer_address.fax')
  .clr
