.seller_wrap
  .purchasing_box
    .seller_box_hdr
      = t('return_funnel.bill_of_sale.purchasing_agreement_info')
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.agreement_info.salesperson_name')
      .purch_txt_form
        = form.text_field :buying_sales_person_name, id: :buying_sales_person_name
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.agreement_info.signature')
      .purch_txt_form
        = form.text_field :buying_sales_person_signature, id: :buying_sales_person_signature
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.agreement_info.salesperson_registration')
      .purch_txt_form
        = form.text_field :buying_sales_person_registration_no, id: :buying_sales_person_registration_no
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.agreement_info.hst_registration')
      .purch_txt_form
        = form.text_field :buying_hst_registration_no, id: :buying_hst_registration_no
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.agreement_info.qst_registration')
      .purch_txt_form
        = form.text_field :buying_qst_registration_no, id: :buying_qst_registration_no
  .clr
.clr