.seller_wrap
  .seller_box
    .seller_box_hdr
      = t('return_funnel.bill_of_sale.seller')
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.agreement_5mil')
      .seller_txt_form
        = f.text_field :seller_5mil, id: :seller_5mil, class: 'seller_txt_form', value: @bill_of_sale.agreement_no
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.agreement_name')
      .seller_txt_form
        = f.text_field :seller_agreement_name, id: :seller_agreement_name, class: 'seller_txt_form', value: @bill_of_sale.agreementship_name
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.address')
      .seller_txt_form
        = f.text_field :seller_address, id: :seller_address, class: 'seller_txt_form', value: @bill_of_sale.full_address
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.city')
      .seller_txt_form
        = f.text_field :seller_city, id: :seller_city, class: 'seller_txt_form', value: @bill_of_sale.address_city
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.provnumce')
      .seller_txt_form
        = f.text_field :seller_postal_code, id: :seller_postal_code, class: 'seller_txt_form', value: @bill_of_sale.address_zipcode
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.tel')
      .seller_txt_form
        = f.text_field :seller_phone, id: :seller_phone, class: 'seller_txt_form'
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.fax')
      .seller_txt_form
        = f.text_field :seller_fax, id: :seller_fax, class: 'seller_txt_form'
