.seller_wrap
  .show_seller_box
    .seller_box_hdr
      = t('return_funnel.bill_of_sale.seller')
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.agreement_5mil')
      .show_seller_txt_form
        = @bill_of_sale.seller_5mil
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.agreement_name')
      .show_seller_txt_form
        = @bill_of_sale.seller_agreement_name
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.address')
      .show_seller_txt_form
        = @bill_of_sale.seller_address
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.city')
      .show_seller_txt_form
        = @bill_of_sale.seller_city
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.provnumce')
      .show_seller_txt_form
        = @bill_of_sale.seller_postal_code
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.tel')
      .show_seller_txt_form
        = @bill_of_sale.seller_phone
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.fax')
      .show_seller_txt_form
        = @bill_of_sale.seller_fax
