.trans_wrap.show_trans_box
  .trans_box_hdr
    = t('return_funnel.bill_of_sale.transaction_details_label')
  .clr
  .col6
    .col-row
      .trans_wdth
        = t('return_funnel.bill_of_sale.agreement')
    .col-row
      .trans_align_left.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.vnum')
      .trans_show_txt_form
        = @bill_of_sale.vnum
    .col-row
      .trans_align_left.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.year')
      .trans_show_txt_form
        = @bill_of_sale.year
    .col-row
      .trans_align_left.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.make')
      .trans_show_txt_form
        = @bill_of_sale.make
    .clr
    .col-row
      .trans_align_left.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.model')
      .trans_show_txt_form
        = @bill_of_sale.model
    .clr
    .col-row
      .trans_align_left.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.odometer')
      .trans_show_txt_form
        = @bill_of_sale.odometer_reading
  .col6
    .col7
      .trans_align_left.rowhdng.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.price')
      .trans_show_txt_form
        = currency(@bill_of_sale.price.to_f, SupportedCountry::Canada, { precision: 2, separator: '.', delimiter: ',' }) if @bill_of_sale.price
      .clr
      .trans_align_left.rowhdng.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.tax')
      .trans_show_txt_form
        = currency(@bill_of_sale.tax.to_f, SupportedCountry::Canada, { precision: 2, separator: '.', delimiter: ',' }) if @bill_of_sale.tax
      .clr
      .trans_align_left.rowhdng.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.total')
      .trans_show_txt_form
        = currency(@bill_of_sale.total.to_f, SupportedCountry::Canada, { precision: 2, separator: '.', delimiter: ',' }) if @bill_of_sale.total
  .clr
