.buyer_wrap
  .show_purchasing_box
    .seller_box_hdr
      = t('return_funnel.bill_of_sale.purchasing_agreement_info')
    .clr
    .col-row
      .selling_align_left.seller_sub_hr.adj_width
        = t('return_funnel.bill_of_sale.agreement_info.salesperson_name')
      .show_selling_txt_form
        = @bill_of_sale.buying_sales_person_name
    .clr
    .col-row
      .selling_align_left.seller_sub_hr.adj_width
        = t('return_funnel.bill_of_sale.agreement_info.signature')
      .show_selling_txt_form
        = @bill_of_sale.buying_sales_person_signature
    .clr
    .col-row
      .selling_align_left.seller_sub_hr.adj_width
        = t('return_funnel.bill_of_sale.agreement_info.salesperson_registration')
      .show_selling_txt_form
        = @bill_of_sale.buying_sales_person_registration_no
    .clr
    .col-row
      .selling_align_left.seller_sub_hr.adj_width
        = t('return_funnel.bill_of_sale.agreement_info.hst_registration')
      .show_selling_txt_form
        = @bill_of_sale.buying_hst_registration_no
    .clr
    .col-row
      .selling_align_left.seller_sub_hr.adj_width
        = t('return_funnel.bill_of_sale.agreement_info.qst_registration')
      .show_selling_txt_form
        = @bill_of_sale.buying_qst_registration_no
  .clr
  .clr