.clr
.seller_wrap.terms_box
  .col6
    .box-hdr.terms_wdth
      = raw t('return_funnel.bill_of_sale.terms_and_conditions')
  .clr
    = raw t('return_funnel.bill_of_sale.terms_and_conditions_text')
