.break
.trans_wrap.trans_box
  .trans_box_hdr
    = t('return_funnel.bill_of_sale.transaction_details_label')
  .clr
  .col6
    .col-row
      .trans_wdth
        = t('return_funnel.bill_of_sale.agreement')
    .col-row
      .trans_align_left.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.vnum')
      .trans_txt_form
        = form.text_field :vnum, id: :vnum, value: @bill_of_sale.vnum
    .col-row
      .trans_align_left.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.year')
      .trans_txt_form
        = select_year @bill_of_sale.year, { start_year: Time.current.year, end_year: 1996}, { name: 'bill_of_sale[year]', class: "js-clear-after-submission", required: true }
    .col-row
      .trans_align_left.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.make')
      .trans_txt_form
        = form.text_field :make, id: :make, value: @bill_of_sale.make
    .col-row
      .trans_align_left.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.model')
      .trans_txt_form
        = form.text_field :model, id: :model, value: @bill_of_sale.model
    .col-row
      .trans_align_left.trans_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.odometer')
      .trans_txt_form
        = form.text_field :odometer_reading, id: :odometer_reading, value: @bill_of_sale.odometer_reading
  .col6
    .col7
      .onerow
        .trans_align_left.rowhdng
          = t('return_funnel.bill_of_sale.transaction_details.price')
        .trans_txt_form.trans_txt_form
          = currency(@bill_of_sale.price_with_fee.to_f, SupportedCountry::Canada, { precision: 2, separator: '.', delimiter: ',' }) if @bill_of_sale.price_with_fee
      .clr
      .onerow
        .trans_align_left.rowhdng
          = t('return_funnel.bill_of_sale.transaction_details.tax')
        .trans_txt_form
          = currency(@bill_of_sale.tax_for_price.to_f, SupportedCountry::Canada, { precision: 2, separator: '.', delimiter: ',' }) if @bill_of_sale.tax_for_price
      .clr
      .onerow
        .trans_align_left.rowhdng
          = t('return_funnel.bill_of_sale.transaction_details.total')
        .trans_txt_form
          = currency(@bill_of_sale.total.to_f, SupportedCountry::Canada, { precision: 2, separator: '.', delimiter: ',' }) if @bill_of_sale.total
      = form.hidden_field :price, value: @bill_of_sale.price_with_fee
      = form.hidden_field :tax, value: @bill_of_sale.tax_for_price
      = hidden_field_tag :tax_rate, @bill_of_sale.tax_rate
      = hidden_field_tag :fees, @bill_of_sale.fees
      = hidden_field_tag :buy_fee, @bill_of_sale.buy_fee
  .clr
