= button_bar home: { skip: true }, back: { path: return_funnel_filtered_purchases_path } do
  = link_to t('forms.cancel'), root_path, class: 'btn cancel_btn'
.form-cont
  .col12
    .clr
    .col6
      = render partial: "shared/logo", locals: {logo_class: "left"}
    .clr
    %h1
      = t('return_funnel.bill_of_sale.text')
= form_for @bill_of_sale, url: return_funnel_bill_of_sale_path do |f|
  .form
    .clr
    .col12
      = t('return_funnel.bill_of_sale.date')
      = Time.now.in_time_zone("Eastern Time (US & Canada)")
    .clr

      = render partial: 'seller_address_info', locals: { f: f, purchase: @purchase }
      = render partial: 'buyer_address_info'
      = render partial: 'transaction_details', locals: { form: f }
      = render partial: 'selling_agreement_info', locals: { form: f }
      = render partial: 'purchasing_agreement_info', locals: { form: f }
      = render partial: 'terms_and_conditions'

    .clr
      .lft
        = f.submit class: 'green btn'
