.seller_wrap
  .purchasing_box
    .seller_box_hdr
      = t('return_funnel.bill_of_sale.purchasing_agreement_info')
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.agreement_info.salesperson_registration')
      .purch_txt_form
        = f.text_field :buying_sales_person_registration_no
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.agreement_info.hst_registration')
      .purch_txt_form
        = f.text_field :buying_hst_registration_no
  .clr
.clr
