.seller_wrap
  .purchasing_box
    .seller_box_hdr
      = t('return_funnel.bill_of_sale.seller')
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.agreement_name')
      .purch_txt_form
        = f.text_field :seller_agreement_name
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.address')
      .purch_txt_form
        = f.text_field :seller_address, class: 'seller_txt_form'
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.city')
      .purch_txt_form
        = f.text_field :seller_city, class: 'seller_txt_form'
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.provnumce')
      .purch_txt_form
        = f.text_field :seller_postal_code, class: 'seller_txt_form'
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.address_info.tel')
      .purch_txt_form
        = f.text_field :seller_phone, class: 'seller_txt_form'
    .clr

