.break
.clr
.clr
.seller_wrap
  .selling_box
    .seller_box_hdr
      = t('return_funnel.bill_of_sale.selling_agreement_info')
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.agreement_info.salesperson_registration')
      .selling_txt_form
        = f.text_field :selling_sales_person_registration_no, class: 'input.txt-form.vdner'
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.agreement_info.hst_registration')
      .selling_txt_form
        = f.text_field :selling_hst_registration_no, class: 'input.txt-form.vdner'
