.seller_wrap
  .purchasing_box
    .seller_box_hdr
      = t('return_funnel.bill_of_sale.transaction_details_label')
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.agreement')
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.odometer')
      .purch_txt_form
        = f.text_field :odometer_reading
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.price')
        .purch_txt_form
          = f.text_field :price
    .clr
    .col-row
      .seller_align_left.seller_sub_hr
        = t('return_funnel.bill_of_sale.transaction_details.tax')
        .purch_txt_form
          = f.text_field :tax
    = hidden_field_tag :tax_rate, @return_invoice.bill_of_sale.tax_rate


