= form_for [:admin, @flat_rate] do |f|
  %fieldset
    = f.label :agreement_no
    = f.text_field :agreement_no

    = f.label :inspection_adjustment_price
    = f.text_field :inspection_adjustment_price

    = f.label :days_adjustment_price
    = f.text_field :days_adjustment_price

    = f.label :miles_adjustment_price
    = f.text_field :miles_adjustment_price

    = f.label :target_price_360
    = f.text_field :target_price_360

    = f.label :target_price_360_psi
    = f.text_field :target_price_360_psi

    = f.label :target_price_500
    = f.text_field :target_price_500

    = f.label :target_price_500_psi
    = f.text_field :target_price_500_psi

    = f.label :limited_volume_tier
    = f.select :lv_tier, NewProductKind::DEFAULT_VOLUME_TIERS.keys,selected: @flat_rate.lv_tier, include_blank: true

    = f.label :limited_volume_price
    = f.text_field :target_price_lv

    = f.label :ineligibility_condition
    = f.select :ineligibility_condition, @flat_rate.decorate.ineligibility_options, include_blank: true

    = f.label :country
    = f.select :country, SupportedCountry::NAMES, selected: @flat_rate.country

    = f.label :target_customer
    = f.check_box :target_customer

    = f.label :major_customer
    = f.check_box :major_customer

    = f.label :closed_factory_exclusion
    = f.check_box :closed_factory_exclusion

  = f.submit class: 'green btn'
