= button_bar(back: {path: admin_index_path})
%br/

%h1 Flat Rates

= form_for :filters, url: admin_flat_rates_path, method: :get do |f|
  = f.label :agreement_no do
    Agreement#:
  = f.text_field :agreement_no, value: agreement_no_filter
  = f.submit(I18n.t('forms.filter'))
%br/

= render partial: 'paginated_data_table', locals: { rows: @flat_rates, fields: fields }
= link_to t('admin.flat_rates.create'), new_admin_flat_rate_path
