#returns_dashboard_view
  = button_bar
  %br/

  = form_for :filters, url: admin_returns_dashboard_index_path, method: :get do |f|
    .search_filters
      .date_from
        = f.label :date_from do
          Date From:
          = f.text_field :date_from, value: date_from, class: 'js-datetimepicker'
      .date_to
        = f.label :date_to do
          Date To:
          = f.text_field :date_to, value: date_to, class: 'js-datetimepicker'
    .clear
    .action_buttons
      = f.submit(I18n.t('forms.generic_submission'))
      = link_to 'Reset', admin_returns_dashboard_index_path

  %br/
  %h3.txt-center.txt-underline Returns by Customer
  %div.returns-by-customer
    %table.data-table{'data-paginate' => 'true', 'data-sort-column' => 2, 'data-sort-direction' => 'desc', 'data-number_of_rows' => 10 }
      %thead
        %tr
          %th Agreementship Id/Five Mil
          %th Agreementship Name
          %th Number of Returns Initiated
          %th Average Vehicle Price
      %tbody
        - @agreement_returns.each do |agreement, return_data|
          %tr
            %td= agreement.agreement_no
            %td= agreement.agreementship_name
            %td= return_data.count
            %td= number_to_currency return_data.average_vehicle_price

  %br/
  %br/
  %h3.txt-center.txt-underline Returns by Location

  %div.returns-by-location
    %table.data-table{'data-paginate' => 'true', 'data-sort-column' => 1, 'data-sort-direction' => 'desc', 'data-number-of-rows' => 5 }
      %thead
        %tr
          %th Location Name
          %th Number of Returns Initiated
          %th Average Vehicle Price
      %tbody
        - @location_returns.each do |location, return_data|
          %tr
            %td= location.name
            %td= return_data.count
            %td= number_to_currency return_data.average_vehicle_price

  %br/
  %br/
  %h3.txt-center.txt-underline High Dollar Returns

  %div.high-dollar-returns
    %table.data-table{'data-paginate' => 'true', 'data-sort-column' => 4, 'data-sort-direction' => 'desc', 'data-number-of-rows' => 10 }
      %thead
        %tr
          %th VNUM
          %th Year, Make, Model
          %th Odometer
          %th Return Location
          %th Vehicle Sale Price
      %tbody
        - @vehicle_returns.each do |return_data|
          %tr
            %td= return_data.field("vnum")
            %td
              #{return_data.field("year")} , #{return_data.field("make")} , #{return_data.field("model")}
            %td= return_data.field("odometer_reading")
            %td= return_data.field("pawn_location_name")
            %td= number_to_currency(return_data.field("vehicle_purchase_price"))
