=button_bar back: { path: root_path }
= render partial: "shared/logo"
.js-filter-container.filter
  %h1.t-title-lg.txt-center 
    = t('quotes.research.index.page_title')
  %h4.t-title-med.txt-center
    = t('quotes.research.index.prompt')
  = form_tag quotes_promise_estimates_path do
    .l-row
      .l-col-8.offset-2
        = select_tag('buyer_number', options_for_select(@agreementships.options), class: 'form-l-el-full js-agreement-list', prompt: '----------------')
    .l-row.js-search-btns.l-hidden
      .l-col-8.offset-2
        = link_to quotes_promise_estimates_path(filter_type: :vnum, vnum_suffix: ''), class: 'js-filter-search-btn btn-l l-col-6' do
          = t('promise_estimates.filters.vnum')
          %i.fa.fa-search
        = link_to quotes_promise_estimates_path(filter_type: :pawn, location_initials: '', lane_no: ''), class: 'js-filter-search-btn btn-l l-col-6' do
          = t('promise_estimates.filters.pawn')
          %i.fa.fa-search
