<div class="page" id="promise_estimates_view">
  <div class="checkout_bar"><div class="container cf"><a href="/research/edit?filter_type=pawn&amp;lane_no=9&amp;location_initials=PRAA" class="btn cancel_btn"><%= t('static.back') %></a><a href="/" class="btn green"><%= t('static.done') %></a><a href="#" class="print_btn btn" id="print_button"><%= t('static.print') %></a>
  </div></div>
  <h1 class="" id="logo">
    <img alt="logo" src="/assets/logo.png">
    <span><%= t('static.buyback_promise') %></span>
  </h1>
  <h2><%= t('static.presale_promise_information') %></h2>
  <p class="centered"><%= t('static.estimate_times') %></p>
  <p class="centered"><%= t('static.estimate_varies') %></p>


  <ul class="vehicle_list estimate">
    <li>
      <div class="quote-l-container">
        <div class="quote-l-car-detail">
          <div class="vehicle_description">
            <h3><%= t('static.genuine') %></h3>
            <div class="vnum">
              <%= t('static.vnum') %>
              <%= t('static.vnum_value') %>
            </div>
            <div class="odometer_reading">
              <%= t('static.odometer') %>

            </div>
            <div class="lane_number">
              <%= t('static.lane') %>
              <%= t('static.lane_value') %>
            </div>
            <div class="run_number">
              <%= t('static.run') %>

            </div>
            <div class="vehicle_location">
              <%= t('static.vehicle_location') %>
              <%= t('static.vehicle_location_value') %>
            </div>
          </div>
        </div>
        <div class="quote-l-quote-detail">
          <table>
            <thead>
              <tr>
                <th><%= t('static.buyer_risk') %></th>
                <th><%= t('static.estimated_promise_price') %></th>
                <th><%= t('static.valuation') %></th>
              </tr>
            </thead>
            <tbody><tr>
              <td></td>
              <td>
                <strong><%= t('static.price') %></strong>
              </td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="#" class="price_factors_link"><%= t('static.how_is_price_calculated') %></a>
              </td>
            </tr>
          </tbody></table>
        </div>
        <div clas="quote-l-quote-prices">
          <table>
              <thead>
                <tr>
                  <th><%= t('static.buyer_risk') %></th>
                  <th><%= t('static.estimated_promise_price') %></th>
                  <th><%= t('static.valuation') %></th>
                </tr>
              </thead>
              <tbody><tr>
                <td></td>
                <td>
                  <strong><%= t('static.price') %></strong>
                </td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="#" class="price_factors_link"><%= t('static.how_is_price_calculated') %></a>
                </td>
              </tr>
            </tbody></table>
        </div>
      </div>
      <div class="price_factors">
            <p><%= t('static.below_influence_promise_price') %></p>
            <div class="col">
              <h4><%= t('static.vehicle_factors') %></h4>
              <ul>
                <li>
                  <span><%= t('static.make_model') %></span>
                  <div class="number stars"></div>
                </li>
                <li>
                  <span><%= t('static.autocheck_history') %></span>
                  <div class="number stars"></div>
                </li>
                <li>
                  <span><%= t('static.age') %></span>
                  <div class="number stars"></div>
                </li>
                <li>
                  <span><%= t('static.odometer') %></span>
                  <div class="number stars"></div>
                </li>
              </ul>
            </div>
            <div class="col">
              <h4><%= t('static.other_factors') %></h4>
              <ul>
                <li>
                  <span><%= t('static.seller') %></span>
                  <div class="number stars"></div>
                </li>
              </ul>
            </div>
          </div>
    </li>

  </ul>
</div>
