= button_bar

%h2.left_align= t('admin.navigation.promise_extensions')
%div.well{style: "display: inline-block;"}
  = form_for :import, url: import_admin_promise_extensions_path, method: :post do |f|
    = f.hidden_field :has_file
    = f.label :extensions_file do
      CSV Import:
    = f.file_field :extensions_file, accept: '.csv'

    = f.submit(I18n.t('forms.upload'))
%br
%br

= render partial: 'paginated_data_table', locals: { fields: fields, rows: @promise_extensions }
