%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  %body{:bgcolor => "#fff", :style => "margin: 0; padding:20px; background-color: #fff;"}
    %table{:border => "0", :style => "border-collapse: collapse; margin: 0 auto; font-family: Helvetica, Arial, sans-serif; font-size: 16px;", :width => "600"}
      %tr
        %td
          %img{:alt => "AgreementShield", :src => attachments["email-header.png"].url, :style => "font-size: 24px; font-weight: bold; width: 600px;"}/
      %tr
        %td{:style => "padding: 40px;"}
          - @flat_rate_inquiries.each do |flat_rate_inquiry|
            %ul
              %li= flat_rate_inquiry.user.username
              %li= flat_rate_inquiry.pawn_access_no
              %li= flat_rate_inquiry.agreement_name
              %li= flat_rate_inquiry.agreement_phone
              %li= flat_rate_inquiry.agreement_email
              %li= flat_rate_inquiry.created_at.in_time_zone(Time.zone).to_formatted_s(:dashed_with_tz)
      = render partial: "shared/mail_footer"
