<% @flat_rate_inquiries.each do |flat_rate_inquiry| %>
  <%= flat_rate_inquiry.user.username %>
  <%= flat_rate_inquiry.pawn_access_no %>
  <%= flat_rate_inquiry.agreement_name %>
  <%= flat_rate_inquiry.agreement_phone %>
  <%= flat_rate_inquiry.agreement_email %>
  <%= flat_rate_inquiry.created_at.in_time_zone(Time.zone).to_formatted_s(:dashed_with_tz) %>
<% end %>
