<%= I18n.t('flat_rate_mailer.offer_confirmation.dear') %> <%= @buyer_info.name %>:

<%= I18n.t('flat_rate_mailer.offer_confirmation.note') %>

<%= I18n.t('flat_rate_mailer.offer_confirmation.batch_url_link')%> , <%= @batch_url %>

<%= I18n.t('flat_rate_mailer.offer_confirmation.offer_expiry_note') %>

<%= I18n.t('flat_rate_mailer.offer_confirmation.agreementshield_contact_note') %>
<%= I18n.t('flat_rate_mailer.offer_confirmation.agreementship_contact_details') %>
<%= I18n.t('flat_rate_mailer.offer_confirmation.hours') %> <%= t('help.support_hours') %>

<%= I18n.t('flat_rate_mailer.offer_confirmation.regards') %>
<%= I18n.t('flat_rate_mailer.offer_confirmation.from') %>
