<%= I18n.t('flat_rate_mailer.offer_reset.title') %>

<%= raw "#{I18n.t('flat_rate_mailer.offer_reset.note', link_name: I18n.t('flat_rate_mailer.offer_reset.here_link'), link_url: edit_flat_rate_offer_batch_url(@flat_rate_offer_batch))}"%>

<%= I18n.t('flat_rate_mailer.offer_reset.agreement.name') %> <%= @buyer_info.name %>
<%= I18n.t('flat_rate_mailer.offer_reset.agreement.email') %> <%= @buyer_info.emails %>
<%= I18n.t('flat_rate_mailer.offer_reset.agreement.cell') %> <%= @buyer_info.cell_phone %>

<%= I18n.t('flat_rate_mailer.offer_reset.agreementships_and_offer_amount') %>
<% @offers.each do |offer| %>
  * <%= offer.agreement_no %> : <%= offer.price %>
<% end %>
