<%= I18n.t('flat_rate_mailer.offer_rejection.offer_rejection_note') %> <%= Astro::AUTOMATIC_EMAIL %>.

<%= I18n.t('flat_rate_mailer.offer_rejection.agreement.name') %> <%= @buyer_information.name %>
<%= I18n.t('flat_rate_mailer.offer_rejection.agreement.email') %> <%= @buyer_information.emails %>
<%= I18n.t('flat_rate_mailer.offer_rejection.agreement.cell') %> <%= @buyer_information.cell_phone %>

<%= I18n.t('flat_rate_mailer.offer_rejection.agreementships_and_offer_amount') %>

<% @flat_rate_offer_batch.flat_rate_offers.each do |offer| %>
  <%= offer.agreementship_name %>: <%= offer.price %>
<% end %>

<%= I18n.t('flat_rate_mailer.offer_rejection.date_rejected') %> <%= Date.today.to_formatted_s %>
