= render layout: 'email_layout', locals: { title: I18n.t('flat_rate_mailer.offer_rejection.title') } do
  %p #{I18n.t('flat_rate_mailer.offer_rejection.offer_rejection_note')} #{mail_to Astro::AUTOMATIC_EMAIL}.

  %p
    #{I18n.t('flat_rate_mailer.offer_rejection.agreement.name')} #{@buyer_information.name}
    %br
    #{I18n.t('flat_rate_mailer.offer_rejection.agreement.email')} #{@buyer_information.emails}
    %br
    #{I18n.t('flat_rate_mailer.offer_rejection.agreement.cell')} #{@buyer_information.cell_phone}

  %p
    = I18n.t('flat_rate_mailer.offer_rejection.agreementships_and_offer_amount')
    - @flat_rate_offer_batch.flat_rate_offers.each do |offer|
      %li #{offer.agreementship_name} : #{offer.price}

  %p
    #{I18n.t('flat_rate_mailer.offer_rejection.date_rejected')} #{Date.today.to_formatted_s}
