<%= I18n.t('flat_rate_mailer.offer_accepted.title') %>
<%= I18n.t('flat_rate_mailer.offer_accepted.offer_acceptance_note') %> <%= Astro::AUTOMATIC_EMAIL %>.

<%= I18n.t('flat_rate_mailer.offer_accepted.agreement.name') %> <%= @buyer_info.name %>
<%= I18n.t('flat_rate_mailer.offer_accepted.agreement.email') %> <%= @buyer_info.emails %>
<%= I18n.t('flat_rate_mailer.offer_accepted.agreement.cell')%> <%= @buyer_info.cell_phone %>

<%= I18n.t('flat_rate_mailer.offer_accepted.agreementships_and_offer_amount') %>
<% @offers.each do |offer| %>
  * <%= offer.agreement_no %> - <%= offer.agreementship_name %>: <%= offer.price %>
  * <%= I18n.t('flat_rate_mailer.offer_accepted.product_selected') %> <%= offer.product_selected %>
  * <%= I18n.t('flat_rate_mailer.offer_accepted.country') %> : <%= offer.country %>
  <% if offer.try(:closed_factory_exclusion) %>
  	* <%= I18n.t('flat_rate_mailer.offer_accepted.closed_factory_exclusion') %>
  <% end %>
  <% if offer.try(:palv) %>
  	* <%= I18n.t('flat_rate_mailer.offer_accepted.palv') %> <%= offer.no_fee_returns %>
  <% end %>
<% end %>
<%= I18n.t('flat_rate_mailer.offer_accepted.date_accepted') %> <%= @accept_date.to_formatted_s %>
<%= I18n.t('flat_rate_mailer.offer_accepted.accepted_by') %> <%= @accepting_user.username %>
<%= I18n.t('flat_rate_mailer.offer_accepted.pawn_access_no') %> <%= @accepting_user.pawn_access_number %>
<%= raw "#{I18n.t('flat_rate_mailer.offer_accepted.terms_and_conditions', link_name: I18n.t('flat_rate_mailer.offer_accepted.click_here'), link_url: @batch_url )}" %>

<%= raw "#{I18n.t('flat_rate_mailer.offer_accepted.refund_note', link_name: I18n.t('flat_rate_mailer.offer_accepted.here'), link_url: page_url('ach') )}"  unless @canadian_offer_batch %>

<%= t('flat_rate_mailer.flat_rate_offer_batches.offer_accepted.label.effective_date') %>: <%= @effective_date %>
