= render layout: 'email_layout', locals: { title: I18n.t('flat_rate_mailer.offer_accepted.title') } do
  %p #{I18n.t('flat_rate_mailer.offer_accepted.offer_acceptance_note')} #{mail_to Astro::AUTOMATIC_EMAIL}.
  %p
    #{I18n.t('flat_rate_mailer.offer_accepted.agreement.name')} #{@buyer_info.name}
    %br
    #{I18n.t('flat_rate_mailer.offer_accepted.agreement.email')} #{@buyer_info.emails}
    %br
    #{I18n.t('flat_rate_mailer.offer_accepted.agreement.cell')} #{@buyer_info.cell_phone}

  %p
    = I18n.t('flat_rate_mailer.offer_accepted.agreementships_and_offer_amount')
    - @offers.each do |offer|
      %li #{offer.agreement_no} - #{offer.agreementship_name} : #{offer.price}
      %li #{I18n.t('flat_rate_mailer.offer_accepted.product_selected')} #{offer.product_selected}
      %li #{I18n.t('flat_rate_mailer.offer_accepted.country')} : #{offer.country}

      - if offer.try(:closed_factory_exclusion)
        %p{:style =>"width: 200px; border:5px solid black; padding: 10px; margin: 10px;"}
          = I18n.t('flat_rate_mailer.offer_accepted.closed_factory_exclusion')
      - if offer.try(:palv)
        %li #{I18n.t('flat_rate_mailer.offer_accepted.palv')} : #{offer.no_fee_returns}

  %p
    #{I18n.t('flat_rate_mailer.offer_accepted.date_accepted')} #{@accept_date.to_formatted_s}
    %br
    #{I18n.t('flat_rate_mailer.offer_accepted.accepted_by')} #{@accepting_user.username}
    %br
    #{I18n.t('flat_rate_mailer.offer_accepted.pawn_access_no')} #{@accepting_user.pawn_access_number}
    %br
    = raw "#{I18n.t('flat_rate_mailer.offer_accepted.terms_and_conditions', link_name: I18n.t('flat_rate_mailer.offer_accepted.click_here'), link_url: @batch_url )}"
  %p
    #{t('flat_rate_mailer.flat_rate_offer_batches.offer_accepted.label.effective_date')} : #{@effective_date}
    %br
    - unless @canadian_offer_batch
      = raw "#{I18n.t('flat_rate_mailer.offer_accepted.refund_note', link_name: I18n.t('flat_rate_mailer.offer_accepted.here'), link_url: page_url('ach') )}"
