/* @group Global
----------------------------------------------- */
@mixin clean {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@mixin ir {
  display: inline-block;
  text-align: left;
  text-indent: -999em;
  overflow: hidden;
}
@mixin linear($start, $end, $endpoint) {
  background-image: -moz-linear-gradient(top, $start 0%, $end $endpoint);
  background-image: -webkit-linear-gradient(top, $start 0%, $end $endpoint);
  background-image: -o-linear-gradient(top, $start 0%, $end $endpoint);
  background-image: linear-gradient(to bottom, $start 0%, $end $endpoint);
}



.title ::-webkit-input-placeholder {
  font-size: 0.8em;
  line-height: 1.6em;
}
.title :-moz-placeholder {
  font-size: 0.8em;
  line-height: 1.6em;
}



.wrapper {
  position:relative;
  display: table;
  width: 96%;
  max-width: 960px; //this doesn't seem to work anymore?
  margin: 0 auto;
  height: 100%;
}
.container {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  padding-top: 64px;
}
.purchaseform,
.filter,
.filterform,
.new_return_invoice,
.checkout footer,
.contactInfo,
.page
{
  max-width: 960px;
  margin: 0 auto;
}
.external {
  h2 {
    text-align: left;
    margin: 1.5em 0 0.5em 0;
  }
}
.hidden_swipe {
  display: none;
}
.login {
  max-width: 400px;
  margin: 0 auto;
  width: 96%;
  input {
    width: 100%;
  }
  h2 {
    margin: -1em 0 0 0;
  }
  p {
    line-height: 1.2em;
  }
  .btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.site-footer {
  position: fixed;
  bottom: 20px;
  background: #fff;
  @include linear(#f6f6f6, #fff, 100%);
  border-top: 1px solid #ccc;
  border-bottom: 3px solid #d59d30;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.1),
  0 -2px 8px rgba(0,0,0,0.1),
  inset 0 1px 0 #fff;
  color: #666;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 8px 0;
  height: 56px; //magic number, or doesn't work on promise offers page ?
  width: 100%;
  text-align: center;
  z-index: 100;
  .links {
    display: block;
    margin: 0 10px;
    white-space: nowrap;
  }
}
.contactInfo {
  width: 100%;
  a {
    text-decoration: none;
  }
}
/* @end */



.q {
  text-decoration: none;
  display: inline-block;
  background: #fff;
  @include linear(#fff, #f6f6f6, 70%);
  box-shadow: 0 1px 3px rgba(#000,0.3);
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #003368;
  font-size: 14px;
  line-height: 18px;
  width: 18px;
  text-align: center;
  text-shadow: none;
  &:visited {
    color: #003368;
  }
}
.title {
  background-color: #d59d30;
  @include linear(rgba(255,255,255,0.4),rgba(255,255,255,0), 60%);
  border: 1px solid #d59d30;
  border-radius: 0.25em;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.6),
  inset 0 -1px 4px rgba(255,255,255,0.4),
  0 1px 3px rgba(0,0,0,0.1),
  0 3px 8px rgba(0,0,0,0.1);
  color: #fff;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
  input[type="number"],
  input[type="text"],
  input[type="email"] {
    width: 90%;
    padding: 0.5em 4.5%;
    font-size: 1em;
    text-align: center;
  }
  select {
    width: 100%;
    margin-bottom: 2px;
    height: 2.4em;
    max-height: 54px;
  }
}
.col { //2-col
  width: 48%;
  margin-right: 4%;
  float: left;
  + .col {
    margin-right: 0;
  }
}

.right_align {
  text-align: right;
}
.left_align {
  text-align: left;
}
.well {
  padding: 10px;
  background-color: #FAFAFA;
  border: 1px solid #CCCCCC;
}

.checklist label {
  display: block;
  padding: 0.5em 2%;
  background: #f6f6f6;
  border: 1px solid #ddd;
  + label {
    margin-top: -1px;
  }
  input {
    margin-right: 10px;
  }
  input[type="text"] {
    width: 96%;
    padding: 6px 2%;
    margin-bottom: 0;
  }
  &:first-of-type {
    border-radius: 0.5em 0.5em 0 0;
  }
  &:last-of-type {
    border-radius: 0 0 0.5em 0.5em;
  }
}

.flash_msg {
  position:absolute;
  top: 2em;
  left: 6%;
  z-index:1000;
  width: 92%;
  max-width: 900px;
  padding: 6px 2%;
  margin: 0 auto 0 auto;
  line-height: 1.4em;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  background: #f6f6f6;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2),
  0 1px 3px rgba(0,0,0,0.2);
}
.flash_alert {
  background: #ffc;
  border-color: #d3d35c;
  color: #660;
}
.flash_error {
  background: #fcc;
  border-color: #f00;
  color: #600;
}
.flash_success {
  background: #cfc;
  border-color: #5dd45d;
  color: #060;
}

.centered {
  text-align: center;
}
.images-right { //list
  > li {
    float: left;
    width: 100%;
  }
  img {
    border: 1px solid #ccc;
    float: right;
    margin: 1em 0 1em 30px;
  }
}
/* @end */


/* @group App
----------------------------------------------- */
#logo {
  font-size: 1em;
  margin: 0 auto;
  padding: 2em 0 1em;
  width: 52%;
  min-width: 340px;
  max-width: 520px;
  overflow: hidden;
  position: relative;
  span {
    display: block;
    height: 1px;
    position: absolute;
    left: -999em;
  }
  &.left {
    margin: 0 9% 0 0;
    display: inline-block;
    //float: left;
  }
}
.filter {
  text-align: center;
  width: 100%;
  .btn {
    width: 31.5%;
    margin: 0 0.5% 0.5em 0.5%;
    // padding: 2em 0;
    font-size: 1.33em;
    vertical-align: middle;
  }
  .btn.small {
    width: 20%;
    margin: 0 0.5% 0.5em 0.5%;
    // padding: 2em 0;
    font-size: 1.0em;
    vertical-align: middle;
  }
}
.long-choice {
  .btn {
    width: 54%;
    // padding-top: 1.5em;
    // padding-bottom: 1.5em;
  }
}
.return.btn {
  margin-top: 1em;
}

label.title {
  padding: 1em 0 0 0;
  font-size: 1.33em;
  input {
    border-color: #d59d30;
    margin: 1em auto 1px auto;
    &:focus {
      border-color: #edc554;
    }
  }
  select {
    margin: 1em auto 1px auto;
    font-size: 1em;
  }
}
.filterform {
  width: 90%;
  margin: 3em auto 0 auto;
  #logo {
    width: 40%;
    vertical-align: top;
  }
  fieldset {
    width: 50%;
    min-width: 360px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
  }
  label {
    width: 100%;
    margin-bottom: 10px;
  }
  .btn {
    width: 100%;
    font-size: 1.33em;
  }
}
#logo + .filterform {
  margin-top: 0;
}
.two-forms {
  text-align: center;
  .filterform {
    float: none;
    display: inline-block;
    width: 46%;
    margin: 0 1.8%;
    fieldset {
      width: 100%;
      float: none;
    }
  }
}
.two-col.filterform {
  text-align: center;
  fieldset {
    float: none;
    display: inline-block;
    width: 46%;
    margin: 0 1.8%;
    vertical-align: top;
  }
}

.swipe {
  text-align: center;
  margin: 10px 0 0 0;
  img {
    max-width: 100px;
  }
}

.coupon{
  width: 100%;
  input {
    display: inline-block;
  }
}

.agreementship_filter {
  background: #f6f6f6;
  border-radius: 0.5em;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  label, select {
    display: inline-block;
  }
  label {
    margin-right: 10px;
  }
  select {
    height: 2.4em;
    max-height: 54px;
    margin: 0 10px 0 0;
    vertical-align: middle;
  }
}

.vehicle_list { //ul
  @include clean;
  line-height: 1.2em;
  width: 100%;
  li {
    float: left;
    margin-bottom: 2.5em;
    width: 100%;
    position: relative;
  }
  .disabled_vehicle .content {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    opacity: 0.6;
  }
  .past_cutoff_vehicle .content {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    opacity: 0.6;
  }
  .seller_paid_vehicle .content {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    opacity: 0.6;
  }
  .pending_vehicle .content {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    opacity: 0.6;
  }
}
.offer_group_heading {
  font-weight: bold;
}
.left_lot, .past_cutoff, .seller_paid, .ineligible_by_condition, .pending, .discounted {
  background: #fff;
  border:  1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  padding: 5px 9px;
  font-size: 0.9em;
  line-height: 1.2em;
  font-weight: bold;
  z-index: 100;
}
.left_lot, .past_cutoff, .ineligible_by_condition {
  position:  absolute;
  width: 51%;
  top:  -5px;
  left:  -5px;
}
.seller_paid {
  position: relative;
  bottom: -10px;
}

.vehicle_info {
  float: left;
  width: 45%;
}
.vehicle_description,
.promised_vehicle_description {
  float: left;
  // width: 96%;
  padding: 0.5em 2% 1.5em 2%;
  background: #f6f6f6;
  border-radius: 0.5em 0 0 0.5em;
  border: 1px solid #ddd;
  margin-right: -1px;
  h3 {
    margin-bottom: 0.3em;
    padding-right: 50px;
  }
  > div {
    display: inline-block;
    // min-width: 48%;
    margin: 0.1em 0;
    padding-right: 2%;
    // float: left;
    // white-space: nowrap;
    // &:nth-of-type(odd) {
      // 	min-width: 54%;
    // }
    // &:nth-of-type(even) {
      // 	min-width: 42%;
    // }
  }
  > .ineligibility_reason,
  > .ineligible {
    white-space: normal;
    margin-bottom: 4px;
    margin-top: 0;
  }
}
.badge {
  background-color: gray;
  display: inline-block;
  float: right;
  margin: -6px -40px -6px 0;
  font-size: 0.8em;
  font-weight: bold;
  padding: 4px 7px;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  border-radius: 2em;
  text-align: center;

  &.blue  { background-color: #5a82c7; }
  &.black { background-color: black;   }
}

.price_factors_link {
  clear: left;
  display: inline-block;
  float: left;
  margin-top: 0.3em;
  color: #fff;
  background: #889199;
  background: rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 0.25em;
  padding: 3px 9px;
  margin-bottom: -5px;
  text-decoration: none;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
  }
}
.price_factors {
  display: none;
  clear: left;
  float: left;
  width: 212%;
  padding: 0 2% 1em 2%;
  background: #f6f6f6;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 0.5em 0.5em;
  margin-top: -0.3em;
  > p {
    width: 40%;
    min-height:1em;
    font-weight: bold;
  }
  h4 {
    margin: 1em 0 0.5em 0;
  }
  ul {
    @include clean;
  }
  li {
    margin-bottom: 0.5em;
    span {
      display: inline-block;
      margin-right:2%;
      width: 48%;
      text-align: right;
      vertical-align: middle;
    }
  }
}

.buynet {
  font-size: 18px;
}

.how-paid, .new-product-fee {
  text-align: left;
  .decorate {
    margin-top: 50px;
  }
  .lrg-font{
    font-size: 23px;
  }
  .smll-font {
    font-size: 18px;
  }
  .bold {
    font-weight: bold;
  }
  .right-align {
    text-align: right;
  }
  #how_paid_information_payment_type {
    width: 400px;
  }
  #floor_plan_company {
    width: 400px;
  }
}

.promise_options {
  float: right;
  width: 55%;
  text-align: center;
  .btn {
    margin: -0.25em 0;
    font-size: 0.9em;
  }
  .distance_500_row {
    display: none;
  }
  .distance_selections label {
    display: inline-block;
  }
  .no_promise_options {
    input {
      float: left;
    }
    label {
      text-align: left;
    }
  }
}
.purchased_promise_information table,
.promise_options table,
.sold-vehicles-admin table{
  background: #fff;
  text-align: center;
  width: 100%;
  th {
    background-color: #d59d30;
    border: 1px solid #c89023;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
    line-height: 1.2em;
    padding: 0.5em;
    span {
      font-size: 0.9em;
      line-height: 1.2em;
      display: block;
    }
  }
  thead th {
    @include linear(rgba(255,255,255,0.4),rgba(255,255,255,0), 60%);
    width: 20%;
  }
  td {
    border: 1px solid #ccc;
    vertical-align: middle;
  }
}
.deploy_time {
  bottom: 0px;
}

.pricing_categories {
  text-align: center;
  .btn {
    margin-bottom: 4px;
    padding: 0.5em 0.75em;
  }
}
.pricing_distribution {
  display: none;
  text-align: center;
  h3 {
    display: inline-block;
    width: 30%;
    margin-right: -0.3em;
  }
  .distribution {
    display: inline-block;
    width: 70%;
    .annotations {
      table {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        tr.prices {
          font-size: 1.5em;
          font-weight: bold;
        }
        td {
          width: 33%;
        }
        td.median_price {
          border-color: rgba(78,128,193,1);
          border-width: 2px;
          border-style: solid;
          background-color: rgba(220,230,242,1);
        }
      }
    }
  }
}
.details {
  clear: right;
}
h4.footnote {
  font-size: 13px;
  line-height: 1.2em;
}
.vehicle_information {
  padding: 2px 4px 2px 4px;
  background-color: #cccccc;
  + h2 {
    margin: 1.5em 0 0.5em 0;
  }
}
.run_list_vehicle_information {
  text-align: left;
}

.promise_options table {
  label {
    display: block;
    padding: 1.5em 0;
    position: relative;
    overflow: hidden;
    input {
      position: absolute;
      left: -999em;
    }
  }
  td[rowspan="2"] {
    label {
      padding: 3.7em 0;
    }
  }
}

.distance_selections,
.no_promise_options {
  background: #fff;
  border: 1px solid #ddd;
  text-align: left;
  > label {
    padding: 4px 6px;
  }
}
.distance_selections {
  border-bottom: 0;
  padding: 5px;
  > label {
    color: #777;
  }
  .selected {
    background: none;
    color: #000;
  }
}
.no_promise_options {
  border-width: 0 1px;
  > label {
    padding: 5px;
    position: relative;
    overflow: hidden;
    color: #777;
    border-bottom: 1px solid #ddd;
    input[type="radio"] {
      position: absolute;
      left: -100px;
    }
    span {
      color: #000;
      display: inline-block;
      min-width: 30px;
    }
  }
  .selected label, .selected span {
    color: #fff !important;
  }
  .q {
    margin-left: 10px;
  }
}

.price_matrix {
  th {
    font-size: 0.9em;
    padding: 0.3em 0.5em;
  }
  thead th:first-child {
    width: 25%;
  }
  tbody th {
    text-align: left;
  }
  table label {
    padding: 0.95em 0;
  }
}

.selected,
.seller_paid_vehicle .vehicle_description {
  background: #3a822f;
  color: #fff;
}

.inspection {
  display: none;
}

.estimate {
  table {
    min-height: 118px;
  }
  thead th {
    width: 50%;
    padding: 0.3em;
  }
  td, tbody th {
    padding: 0.3em 10px;
  }
  .vehicle_description {
    margin-top: 0;
    padding: 0 2% 1em 2%;
    > div {
      margin: 0;
    }
  }
  td[colspan="4"] {
    text-align: center;
  }
  .price_factors_link {
    margin: 0.3em;
    float: none;
  }
}
div.pagination {
  font-weight: bold;
  margin: 2em 0;
  text-align: center;
  clear: both;
  nav, li, a {
    display: inline-block;
  }
  nav {
    margin: 0 20px;
  }
  a {
    margin: 0 4px;
  }
}
.select_locale{
  display: inline-block;
  .select{
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    font-weight: normal;
    padding: 0.8em;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    max-height: 150px;
    overflow-y: auto;
  }
}
.checkout_bar {
  position: fixed;
  z-index: 100;
  top: 20px;
  width: 100%;
  left: 0;
  right: 0;
  padding: 8px 0;
  text-align: right;
  background: #fff;
  @include linear(#fff, #f6f6f6, 100%);
  border-top: 3px solid #d59d30;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1),
  0 2px 8px rgba(0,0,0,0.1),
  inset 0 -1px 0 #fff;
  .container {
    display: block;
    padding: 0;
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
  }
  .btn {
    padding: 0.8em;
    + .btn {
      margin-left: 20px;
    }
  }
  .print_btn,
  .cancel_btn,
  .pricing_btn {
    float: left;
  }
}
.step {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0.36em;
  text-align: center;
  opacity: 0.6;
}
form footer,
.checkout footer {
  clear: both;
  text-align: right;
  .btn {
    padding: 0.8em;
  }
}

h2 + .checkout > p:first-child {
  margin-top: -1em;
}
.checkout {
  .content {
    max-width: 600px;
    margin: 0 auto;
  }
  ul {
    @include clean;
    border-bottom: 2px solid #ccc;
    margin: 0 auto 1em auto;
  }
  li {
    float: left;
    width: 100%;
    margin: 0 0 1.5em 0;
    background: none;
    box-shadow: none;
    > div {
      min-width: 23%;
      padding-right: 2%;
      float: left;
    }
    .lane_no, .vehicle_price {
      clear: left;
    }
  }
  h1 {
    margin-bottom: 1em;
  }
  h3 {
    margin: 0;
    float: left;
    width: 100%;
    > div {
      float: left;
      width: 48%;
      padding-right: 2%;
    }
    .type {
      padding: 0 0 0 2%;
      min-width: 160px;
    }
    .price {
      margin-left: 10px;
      float: right;
      text-align: right;
    }
  }
  .if_bid {
    line-height: 1.4em;
    float: none;
    margin-right: 0;
  }
  .terms {
    float: left;
    margin-top: 0;
    li {
      margin-bottom: 0.5em;
    }
  }
  #email {
    width: 340px;
  }
}
.promise_description {
  float: left;
  width: 50%;
}
.total {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
  text-align: right;
}

.stars {
  display: inline-block;
  width: 130px;
  height: 30px;
  line-height: 30px;
  background-image: url('stars.png');
  background-repeat: repeat-x;
  background-size: 260px 25px;
  vertical-align: middle;
  text-indent: -999em;
  overflow: hidden;
  margin: -0.2em 0;
}
.stars.number5 {}
.stars.number4 {
  background-position: -26px center;
}

.stars.number3 {
  background-position: -52px center;
}

.stars.number2 {
  background-position: -78px center;
}

.stars.number1 {
  background-position: -104px center;
}

.stars.number0 {
  background-position: -130px center;
}
.hidden {
  display: none;
}
/* @end */


/* @group Returns
----------------------------------------------- */

.return {
  max-width: 630px;
  margin: 0 auto;
  li {
    position: relative;
  }
  .return_status{
    float: left;
    width: 96%;
    margin-top: 5px;
    font-size: 115%;
    padding: 0.5em 2% 0.5em 2%;
    background: #f6f6f6;
    border-radius: 0.5em;
    border: 1px solid #ddd;
    margin-right: -1px;
  }
  .vehicle_description {
    margin-top: 0;
    border-radius: 0.5em;
    padding-right: 37%;
    width: auto;
  }
  .btns {
    display: inline-block;
    vertical-align: middle;
    .btn {
      margin: 0.25em 0;
    }
  }
  .return_btn {
    width: 34%;
    position: absolute;
    right: 2%;
    top: 10px;
    bottom: 0;
    text-align: right;
    .btn {
      text-align: center;
      vertical-align: middle;
    }
    .invoice_link {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
.new_return_invoice {
  .title {
    display: block;
    margin: 0 auto 0.5em auto;
    padding-top: 0.5em;
    width: 100%;
    input, select {
      margin-top: 0.5em;
    }
  }
  fieldset {
    margin: 0 auto;
    margin-top: 2em;
    width: 50%;
  }
  .btns {
    padding-bottom: 1.5em;
  }
}

.certificate {
  line-height: 1.2em;
  padding: 1.5em 0 0 0;
  h1, h2, .sm, footer {
    color: #99471b;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-weight: normal;
    font-size: 1em;
  }
  .sm, footer {
    font-size: 0.9em;
  }
  header {
    text-align: center;
  }
  section {
    border-top: 1px solid #7187ae;
    padding: 10px 0;
  }
  .sm, .barcode {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
  .barcode {
    text-align: center;
    padding: 10px 0;
    height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .sm {
    margin-right: -4px;
  }
  table {
    width: 100%;
  }
  th {
    text-align: left;
    text-transform: uppercase;
    padding-right: 15px;
    width: 36%;
  }
  footer {
    text-align: center;
    font-weight: bold;
    h2 {
      font-weight: bold;
      margin: 0;
      text-decoration: underline;
    }
    p {
      margin: 0;
    }
  }
  strong {
    text-transform: uppercase;
    margin-right: 15px;
  }
}
.sep {
  th, td {
    padding-bottom: 1em;
  }
}
table.bold {
  background: #f6f6f6;
  border: 2px solid #000;
  th:first-child {
    padding-left: 10px;
  }
  td:last-child {
    padding-right: 10px;
  }
  tr:first-child {
    th, td {
      padding-top: 10px;
    }
  }
  tr:last-child {
    th, td {
      padding-bottom: 10px;
    }
  }
}

.new_buyer_and_agreement_information_form {
  table {
    width: 100%;
  }
  th {
    text-align: left;
    width: 45%;
  }
  .inline {
    width: auto;
    th {
      width: auto;
      padding-right: 10px;
    }
    td {
      padding-right: 30px
    }
  }
  h4 {
    margin-bottom: 0.5em;
    &:first-child {
      margin-top: 0.5em;
    }
  }
  p {
    margin: 0.5em 0;
    + label {
      margin-top: 1.85em;
    }
  }
  .btns {
    text-align: right;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 98%;
  }
}
.search_filters {
  > div {
    display: inline-block;
    min-width: 48%;
    margin: 0.1em 0;
    padding-right: 2%;
    float: left;
    white-space: nowrap;
    &:nth-of-type(odd) {
      min-width: 54%;
    }
    &:nth-of-type(even) {
      min-width: 42%;
    }
  }
}
.disbursement_request {
  min-width: 960px;
  section {
    margin-bottom: 40px;
  }
  fieldset,
  label,
  input,
  textarea,
  .line {
    display: inline-block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  input[type="checkbox"] {
    float: none;
    margin-right: 10px;
  }
  input[type="text"],
  textarea,
  fieldset {
    margin-bottom: 5px;
  }
  form > fieldset {
    float: left;
  }
  fieldset fieldset {
    clear: both;
  }
  legend {
    padding-bottom: 10px;
  }
  label {
    clear: left;
    padding-right: 10px;
  }
  .line {
    clear: both;
    float: left;
    width: 100%;
  }
}
.titlebar {
  text-align: left;
  background: #eee;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.claim_information {
  .l {
    width: 62%;
    label {
      width: 20%;
    }
    input {
      width: 80%;
    }
    .market-channel {
      label {
        width: auto;
      }
      input {
        width: 33%;
      }
    }
  }
  .r {
    width: 35%;
    float: right;
    input[type="text"] {
      float: right;
      width: 60%;
    }
    label {
      clear: both;
    }
  }
  .checks label {
    padding-left: 30px;
  }
}
#claim_information_more_information {
  height: 80px !important;
  width: 100%;
  resize: none;
}
.sig {
  label {
    width: 25%;
  }
  input {
    width: 75%;
  }
}
.payment_information {
  form > fieldset {
    width: 40%;
  }
  .l {
    margin-right: 10%;
  }
  input[type="text"] {
    float: right;
    width: 50%;
  }
  label {
    clear: both;
  }
}
.note {
  label {
    width: 10%;
  }
  input[type="text"] {
    width: 90%;
  }
}
.accounting {
  form > .l {
    input[type="text"] {
      float: right;
      width: 60%;
    }
    label {
      clear: both;
    }
  }
  .checks {
    label {
      float: none;
    }
    .l {
      text-align: center;
    }
  }
  table {
    clear: both;
    float: left;
    margin: 20px 0 0 0;
    width: 100%;
    th, td {
      padding-right: 10px;
    }
    label, input {
      float: none;
    }
    input {
      width: 100%;
    }
    tbody + tbody {
      tr:first-child td {
        padding-top: 20px;
      }
    }
  }
  .account {
    width: 30%;
  }
  .description {
    width: 50%;
  }
  .amount {
    width: 20%;
  }
  .pmt-total {
    .col {
      margin: 0;
      width: 50%;
    }
    .l {
      input {
        width: auto;
      }
    }
    .r {
      text-align: right;
      input {
        width: 38%;
      }
    }
  }
}
.audit_reason {
  margin-botton: 10px;
}
.audit_reason > div {
  width: auto;
  min-width: 48%;
  float: left;
  &:nth-of-type(odd) {
    min-width: 46%;
  }
  &:nth-of-type(even) {
    min-width: 50%;
  }
  textarea{
    height: 120px;
    width: 400px;
  }
}
/* @end */

/* @group Purchased Offers
----------------------------------------------- */
.purchased_promise_information {
  input,
  label,
  select,
  .line {
    display: inline-block;
  }
}
/* @end */

/* @group Payments
----------------------------------------------- */
.single_promise {
  max-width: 600px;
  border-bottom: 2px solid #ccc;
  margin: 0 auto 1.5em auto;
  padding-bottom: 1em;
  width: 100%;
  h3 {
    margin: 0;
    float: left;
    width: 100%;
    > div {
      float: left;
      width: 48%;
      padding-right: 2%;
    }
    .type {
      padding: 0 0 0 2%;
      min-width: 160px;
    }
    .price {
      margin-left: 10px;
      float: right;
      text-align: right;
    }
  }
  > div {
    min-width: 23%;
    padding-right: 2%;
    float: left;
  }
  .lane_no, .vehicle_price {
    clear: left;
  }
  .payment-errors {
    color: red;
    font-weight: bold;
    text-align: center;
  }
  .form-container {
    width: 100%;
    #new_payment_form {
      width: 96%;
      max-width: 600px;
      margin: 0 auto;
      padding: 1.5em 2%;
      background: #f6f6f6;
      border-radius: 0.5em;
      border: 1px solid #ddd;
      input[type="text"] {
        width: 98%;
      }
      label {
        color: #777;
        font-weight: normal;
      }
      select {
        display: inline-block;
        width: 30%;
        color:#777;
      }
      .cvv{
        width:60px;
      }
      .zip{
        width:110px;
      }
      .creditcard{
        width:410px;
      }
      .state{
        width:110px;
      }
      .suite{
        width:110px;
      }
      .street{
        width:285px;
      }
      .mrg-lft-five{
        margin-left:10px;
      }
      .mmyy{
        width:120px;
        height:35px;
      }
      .city{
        width:210px;
      }
      .mrg-top-fv{
        margin-top:10px;
      }
    }
  }
}
/* @end */


/* @group Flat Rates
----------------------------------------------- */
.new_flat_rate_offer_batch { //form
  .btn {
    float: right;
  }
}
.flat-rates { //table
  line-height: 1.2em;
  margin-bottom: 20px;
  width: 100%;
  th, td {
    vertical-align: middle;
  }
  .super-header {
    text-decoration: underline;
    th {
      padding-bottom: 10px;
    }
  }
  .sub-header th {
    border-bottom: 1px solid #000;
  }
  th.note {
    font-weight: normal;
    border-left: 10px solid #fff;
  }
  .information {
    border-right: 10px solid #fff;
    width: 35%;
  }
  .amount {
    width: 20%;
  }
  .days, .miles {
    width: 20%;
  }
  .miles {
    width: 24%
  }
  td {
    padding: 0.5em 10px;
  }
  td:not(:first-child) {
    text-align: center;
  }
  td.note {
    text-align: left;
  }
  th.target span {
    border: 2px solid green;
    background: lighten(green, 70%);
    display: inline-block;
    padding: 0.2em 0.5em;
  }
  td.target {
    color: green;
    font-weight: bold;
  }
  input {
    margin: 0;
    width: 100%;
  }
}
.acceptance-btns {
  .btn {
    margin-right: 20px;
  }
}
.offer-notice {
  font-weight: bold;
  text-align: center;
  padding: 0 20px;
}
.offer-notice.success {
  border-color: green;
  background: lighten(green, 70%);
}
.offer-notice.error {
  border-color: #8a1f11;
}
/* @end */


/* @group FAQ and other Static Pages
----------------------------------------------- */
.faq-page {
  padding-top: 2em;
}
.faq {
  dt {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  dd {
    margin: 0 0 1em 1em;
  }
}
/* @end */


/* @group Dialogs
----------------------------------------------- */
.ui-dialog {
  box-shadow: 0 10px 50px rgba(#000,0.3);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 90% !important;
  max-width: 600px;
  .ui-dialog-title {
    float: none;
  }
}
.ui-widget-header {
  color: #888;
  text-shadow: 0 1px 0 rgba(#fff,0.6);
  text-align: center;
}
.checklist {
  @include clean;
  li {
    padding-left: 25px;
    background: image-url('check.png') no-repeat 0 0.2em;
    margin-bottom: 0.5em;
  }
}
/* @end */


/* @group Print-view pages
----------------------------------------------- */
#promise_estimates_view       {display: block;}
#promise_estimates_print_view {display: none;}
.print_only { display: none; }
.print {
  padding-top: 50px;
  h1, h2 {
    font-size: 1em;
    line-height: 1.2em;
    margin: 0;
  }
  h2 {
    text-align: left;
    font-weight: normal;
  }
  table {
    font-size: 0.8em;
    line-height: 1.4em;
    border-collapse: separate;
    border-spacing: 4px;
    width: 100%;
  }
  thead {
    text-align: left;
  }
  thead tr:first-child {
    line-height: 1.2em;
    text-align: center;
    th {
      border-bottom: 1px solid;
      &:first-child, &:last-child {
        border: 0;
      }
    }
  }
  .ratings-col {
    width: 16%;
  }
  .est-col {
    width: 20%;
  }
  th, td {
    padding: 0;
  }
  th {
    vertical-align: top;
  }
  .legend {
    font-size: 0.8em;
    font-style: italic;
    line-height: 1.2em;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid;
    p {
      margin: 0;
    }
  }
}
.nowrap {
  white-space: nowrap;
  position: absolute;
}
#print_iframe {
  display: none;
}
/* @end */


/* @group Responsive
----------------------------------------------- */
@media screen and (max-width: 1000px) {
  .filterform {
    #logo, fieldset {
      float: none;
      display: block;
      margin: 0 auto 2.5em auto;
    }
  }
}
@media screen and (max-width: 860px) {
  .site-footer {
    height: auto
  }
  .filter .btn {
    width: 54%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .left_lot {
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    margin-bottom: -10px;
  }
  .price_matrix {
    thead th:first-child {
      width: 34%;
    }
  }
  .certificate {
    table {
      width: 100%;
      + table {
        margin-top: 1em;
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .filter .btn {
    width: 97%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .vehicle_info {
    width: 100%;
  }
  .price_factors {
    border-radius: 0;
    width: 96%;
    p {width: 100%;}
  }
  .vehicle_description {
    border-radius: 0.5em 0.5em 0 0;
    margin-top: 0;
  }
  .vehicle_description > div {
    width: auto;
    min-width: 48%;
    &:nth-of-type(odd) {
      min-width: 56%;
    }
    &:nth-of-type(even) {
      min-width: 40%;
    }
  }
  .promise_options {
    width: 100%;
  }
  .two-forms .filterform {
    width: 100%;
    margin: 0;
    fieldset {
      width: 50%;
    }
  }
  .new_buyer_information .col {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 650px) {
  .price_factors li span {
    width: 100%;
    text-align: left;
  }
  .new_return_invoice fieldset {
    width: 100%;
  }
}

@media screen and (max-width: 480px){
  //this breakpoint also affected by layout.js
  body {
    top: 0;
    bottom: 0;
  }
  .site-footer {
    border-bottom: 0;
    position: static;
    font-size: 0.8em;
    line-height: 1.2em;
    em { white-space: nowrap; }
  }
  .container {
    padding-bottom: 1em;
  }
  .checkout_bar {
    top: 0;
    .btn + .btn {
      margin-left: 4px;
    }
  }
  .btn, .step {
    font-size: 0.8em;
  }
  .certificate {
    .sm, .barcode {
      width: 100%;
    }
  }
  .agreementship_filter {
    label {
      width: 90%;
      margin: 0;
    }
  }
}

//landscape mobile
@media screen and (max-device-width: 480px) and (orientation: landscape) {
  #logo {
    min-width: 90px;
    max-width: 120px;
    margin-bottom: 0.8em;
  }
  .filter .btn {
    width: 30%;
  }
  .long-choice .btn {
    width: 96%;
  }
}

//retina
@media screen and (-webkit-min-device-pixel-ratio: 2) {

}

@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

}

.staging-overlay {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  line-height: 110px;
}

#flat_rate_offer_batches_view {
  table {
    border-collapse: separate;
    border-spacing: 10px;
  }
}
// bill_of_sale
.hght-ajdt{
height:30px;}
.rowhdng{
  background-color:#CECECE;
  padding:12px 0;
  width:115px;
  text-align:right;
  padding-right:10px;
}
.form-cont{
  width:960px;
  margin: auto;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.col6{
  width:49.5%;
  float:left;
}
.col7{
  width:65%;
  float:left;
  padding-left:15px;
padding-top: 85px;}
.col6 h1{
font-size:1.3em;}
.col6 .rght{
text-align:right;}
.col6 .rght.clr{
clear:both;}
.col12{
width:100%;}
.clr{
clear:both}
.form{
font-size:.7em;}
.txt-form{
margin-left:10px;}
.title_txt{
  margin-left:27%;
  color: #000000;
}
.col-row{
margin-top:20px;}
.vdner{
width:350px;}
.box-hdr{
  background-color:rgba(136,136,136,1.00);
  width:auto;
  display:inline-block;
  padding:7px 15px;
  border:solid 1px rgba(0,0,0,1.00);
  border-top:none;
  border-left:none;
  color: rgba(255,255,255,1.00);
}
.onerow{
display:inline-block;}
.lft{
  padding-left:350px;
}
// seller box
.seller_wrap{
  width:100%;
margin-left:10px;}
.seller_align_left{
  width:40.5%;
  float:left;
  font-size: .9em;
}
.seller_sub_hr{
  padding-left:5px;
  width:200px;
}
.seller_txt_form{
  margin-left:200px;
  font-size:1em;
width:180px;}
.seller_box{
  border:solid 1px rgba(66,66,66,1.00);
  width:45%;
  float:left;
  min-height: 532px;
}
.seller_box_hdr{
  background-color:rgba(136,136,136,1.00);
  width:auto;
  display:inline-block;
  padding:7px 15px;
  border:solid 1px rgba(0,0,0,1.00);
  border-top:none;
  border-left:none;
  color: rgba(255,255,255,1.00);
}
.seller_sub_mrg{
  margin-top:10px;
  margin-left:1px;
display:inline-block;}
// buyer section
.buyer_wrap{
  width:100%;
margin-left:280px;}
.buyer_align_left{
  width:100.5%;
  float:left;
  font-size: .9em;
}
.buyer_sub_hr{
  padding-left:5px;
  width:150px;
}
.buyer_txt_form{
  margin-left:40%;
  font-size:1em;
  width:70%;
font-weight:bold;}
.buyer_box{
  border:solid 1px rgba(66,66,66,1.00);
  width:45%;
  float:left;
  padding-bottom:16.9%;
}
.buyer_box_hdr{
  background-color:rgba(136,136,136,1.00);
  width:auto;
  display:inline-block;
  padding:7px 15px;
  border:solid 1px rgba(0,0,0,1.00);
  border-top:none;
  border-left:none;
  color: rgba(255,255,255,1.00);
}
.buyer_sub_mrg{
  margin-top:10px;
  margin-left:1px;
display:inline-block;}
// transaction details
.trans_wrap{
  width:100%;
  margin-left:1%;
}
.trans_show_txt_form{
  margin-left:10px;
  font-size:1em;
  width:50%;
  float:right;
  font-weight:bold;
}
.trans_align_left{
  width:100px;
  float:left;
  font-size: .9em;
}
.trans_sub_hr{
  padding-left:5px;
  width:110px;
}
.trans_text{
  padding-left:5px;
  width:260px;
  float:left;
}
.trans_txt_form{
  margin-left:20px;
  font-size:1em;
  width:180px;
font-weight:bold;}
.trans_box{
  border:solid 1px rgba(66,66,66,1.00);
  width:90%;
  float:left;
}
.show_trans_box{
  border:solid 1px rgba(66,66,66,1.00);
  width:930px;
  float:left;
  min-height: 500px;
}
.trans_box_hdr{
  background-color:rgba(136,136,136,1.00);
  width:auto;
  display:inline-block;
  padding:7px 15px;
  border:solid 1px rgba(0,0,0,1.00);
  border-top:none;
  border-left:none;
  color: rgba(255,255,255,1.00);
}
.trans_sub_mrg{
  margin-top:10px;
  margin-left:1px;
display:inline-block;}
.trans_wdth{
  width:600px;
}
.pull-right{
  float: right;
}
.break { page-break-after: always; }
// terms section
.terms_box{
  border:solid 1px rgba(66,66,66,1.00);
  width:96%;
  float:left;
}
.terms_wdth{
  width:700px;
}
//purchasing section
.purchasing_box{
  border:solid 1px rgba(66,66,66,1.00);
  width:45%;
  float:left;
  padding-bottom:4%;
}
.show_purchasing_box{
  border:solid 1px rgba(66,66,66,1.00);
  width:460px;
  float:left;
  min-height: 600px;
}
.show_selling_box{
  border:solid 1px rgba(66,66,66,1.00);
  width:460px;
  float:left;
  min-height: 600px;
}
.purch_txt_form{
  margin-left:10px;
  font-size:1em;
  width:220px;
font-weight:bold;}
// selling section
.selling_box{
  border:solid 1px rgba(66,66,66,1.00);
  width:45%;
  float:left;
  padding-bottom: 4%;
}
.selling_txt_form{
  margin-left:10px;
  font-size:1em;
width:170px;}
.selling_align_left{
  width:70%;
  float:left;
}
.show_seller_txt_form{
  margin-left:40%;
  font-size:1em;
  width:50%;
  font-weight:bold;
padding-bottom:3.8%;}
.show_selling_txt_form{
  margin-left:200px;
  font-size:1em;
  font-weight:bold;
}
.show_seller_box{
  border:solid 1px rgba(66,66,66,1.00);
  width:500px;
  float:left;
  min-height: 547px;
}
.adj_width {
  width: 200px;
}
.flt_rght{
  float: right;
}
/* @end */

.director-name{
  font-size: 16pt;
  font-family: 'Segoe Script','sans-serif';
  font-weight: bold;
}
#decode_vnum{
  .error_message {
    font-size: 10pt;
    padding: 2px 5px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 1px solid;
  }
}

#new_product_fees_table{
  width: 80%;
}

#user_versions_table{
  width: 100%;
}

.version_table_th{
  align: left;
  padding: 5px;
  background-color: #F5CC4D;
}

.return_buttons{
  margin-top: 40px;
  float: right
}

.return_button{
  float: right;
  margin-top: 10px;
}

.informal_message{
  text-align: center;
  font-size: 20px;
}

#flat_rates_limited_volume{
  width: 60px;
  display: inline;
  margin-left: 20px;
  display: none;
}

.sold_vehicles_entry_table th{
  font-size:11px;
  color:#fff;
  background:#4a4a4a;
}

.sold_vehicles_entry_table select, .decode_vnum, .save_row_button, .approve_button, .reject_button{
  height: 31px !important;
}

.display_inline{
  display: inline !important;
}

.sold_vehicles_entry_table input[type="text"], .sold_vehicles_entry_table input[type="number"],
.sold_vehicles_entry_table select, .sold_vehicles_entry_table input[type="email"]{
  margin-bottom: 0px !important;
  margin-left: -2px !important;
}

.sold_vehicles_approver_table input[type="text"], .sold_vehicles_approver_table input[type="number"],
.sold_vehicles_approver_table select, .sold_vehicles_approver_table input[type="email"]{
  margin-bottom: -12px !important;
}
.sold_vehicles_entry_table .vnum{
  width: 165px !important;
}

.sold_vehicles_entry_table .modal_year_select, .sold_vehicles_entry_table .sale_no, .sold_vehicles_entry_table .lane_no{
  width: 60px !important;
}

.sold_vehicles_entry_table .vehicle_total{
  width: 85px !important;
}

 .sold_vehicles_entry_table .odometer_reading , .sold_vehicles_entry_table .agreement_no, .sold_vehicles_entry_table .vehicle_purchase_price, .sold_vehicles_entry_table .buy_fee, .sold_vehicles_entry_table .run_no{
  width: 120px !important;
}

.sold_vehicles_approver_table .vnum{
  width: 180px !important;
}

.sold_vehicles_entry_table .make, .sold_vehicles_approver_table .make{
  width: 100px !important;
}

.sold_vehicles_entry_table .seller_name{
  width: 133px !important;
}

.sold_vehicles_approver_table .modal_year_select, .sold_vehicles_approver_table .sale_no, .sold_vehicles_approver_table .lane_no{
  width: 60px !important;
}

 .sold_vehicles_approver_table .pawn_access_no, .sold_vehicles_approver_table .vehicle_total{
  width: 90px !important;
}

.sold_vehicles_approver_table .purchased_at, .sold_vehicles_entry_table .purchased_at{
  width: 115px !important;
}

.sold_vehicles_entry_table .model, .sold_vehicles_approver_table .model{
  width: 130px !important;
}

.sold_vehicles_entry_table .automatic_purchase_email, .sold_vehicles_approver_table .automatic_purchase_email{
  width: 250px !important;
}

.sold_vehicles_entry_table .agreement_name, .sold_vehicles_approver_table .agreement_name{
  width: 210px !important;
}

.sold_vehicles_approver_table .seller_name{
   width: 165px !important;
}

 .sold_vehicles_approver_table .odometer_reading , .sold_vehicles_approver_table .agreement_no, .sold_vehicles_approver_table .vehicle_purchase_price, .sold_vehicles_approver_table .buy_fee, .sold_vehicles_approver_table .run_no{
  width: 80px !important;
}

.sold_vehicles_approver_table select{
  height: 31px !important;
}

#table-wrapper, #vehicles_approver_wrapper{
 overflow-x: scroll;
}
.save_row_button{
  width: 80px !important;
}

.approve_button, .reject_button{
  width: 78px;
}

DIV.table
{
  display:table;
}
FORM.tr, DIV.tr
{
  display:table-row;
}
SPAN.td
{
  display:table-cell;
}


DIV#label > .td
{
  font-size:11px;
  color:#fff;
  background:#4a4a4a;
  font-weight: bold;
  text-align: center;
  display: table-cell;
  vertical-align: middle
}

.email_address_div{
  display: none;
}

#searchKey{
  display: inline !important;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.xlsx_import_div{
  height: 80px;
  padding-top: 27px;
}

.doc_upload_div{
  padding-bottom: 40px;
}

.xlsx_import_div .rcol{
  float: right !important;
  width: 70%;
}

.xlsx_import_div .lcol{
  width:60%;
  margin-right: 0px;
}

.doc_upload_div .rcol{
  width:28%;
}

.doc_upload_div #document{
  width: 230px;
}

#batch_teplate{
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

#xlf{
  float:right;
  width: 230px;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  #table-wrapper{
    width: 1000px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  #table-wrapper, #vehicles_approver_wrapper{
    width: 1000px;
  }
}

@media only screen
and (min-width : 1224px) {
  #table-wrapper, #vehicles_approver_wrapper{
    width: 1260px;
  }

  .doc_upload_div .lcol{
    width:64%;
    margin-right: 10px;
  }
}

@media only screen
and (min-width : 1360px) {
  #table-wrapper, #vehicles_approver_wrapper{
    width: 1410px;
  }

  .doc_upload_div .lcol {
    width: 67%;
    margin-right: 10px;
  }
  .doc_upload_div .rcol {
    width: 24%;
  }
}

@media only screen
and (min-width : 1600px) {
  #table-wrapper, #vehicles_approver_wrapper{
    width: 1690px;
  }

  .doc_upload_div .lcol {
    width: 72%;
  }
  .doc_upload_div .rcol {
    width: 24%;
  }
}

@media only screen
and (min-width : 1824px) {
  #table-wrapper{
    width: 1910px;
  }

  #vehicles_approver_wrapper{
    width: 1910px;
  }

  .doc_upload_div .lcol {
    width: 75%;
  }
  .doc_upload_div .rcol {
    width: 24%;
  }
}

.select2-selection {
  height: 33px !important;
  font-weight: normal;
}

.select2-container{
  width: 250px !important;
}
.warning-text{
  background-color: maroon;
  color: #FFFFFF;
  padding: 5px 10px;
  font-weight: bold;
}
