p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Helvetica; min-height: 16.0px}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; font: 15.0px Times}
p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 15.0px Times; min-height: 13.0px}
p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 14.0px Times}
p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 14.0px Times; min-height: 13.0px}
p.p6 {margin: 0.0px 0.0px 0.0px 36.0px; text-align: justify; font: 14.0px Times}
p.p7 {margin: 0.0px 0.0px 0.0px 72.0px; text-align: justify; font: 14.0px Times}
p.p8 {margin: 0.0px 0.0px 0.0px 0.0px; font: 14.0px Times; min-height: 17.0px}
li.li4 {margin: 0.0px 0.0px 1.0em 36.0px; text-align: justify; font: 14.0px Times}
span.s1 {text-decoration: underline}
span.Apple-tab-span {white-space:pre}
.terms {
  ul {
    list-style-type: decimal;
    ul {
      list-style-type: lower-alpha;
      ul {
        list-style-type: disc;
      }
    }
  }
}

