// -------------------------------------
// - Buttons
// -------------------------------------
// ----- Styles for Buttons
// -------------------------------------

// -------------------------------------
//   Layout
// -------------------------------------

@mixin buttons-l-base-btn ($color) {
  background-color: $color;
  border: 1px solid $color-lighter-gray;
  border-radius: 5px;
  // box-shadow: inset 0 1px 2px rgba(255,255,255,0.6),
  //   inset 0 -1px 4px rgba(255,255,255,0.4),
  //   0 1px 3px rgba(0,0,0,0.1),
  //   0 3px 8px rgba(0,0,0,0.1);
  color: $color-gray;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  font-weight: normal;
  padding: 1em 1.5em;
  text-decoration: none;
  // text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
  -webkit-font-smoothing: antialiased;
  &:visited {
    color: $color-gray;
  }
  &:hover {
    color: $color-gray;
  }
  &:active {
    background-image:none;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  }
}
.btn-l {
  @include buttons-l-base-btn($color-light-yellow);
}
.btn {
  // background-color: #d59d30;
  @include buttons-l-base-btn($color-light-yellow);
}
.btn-l-full {
 @include buttons-l-base-btn($color-light-yellow);
 @include span-columns(12);
}
.btn.big {
  font-size: 1.5em;
}
.btn.sm {
  padding: 6px 10px 7px 10px;
}
.btn.green {
  color: $color-white;
  background-color: #3a822f;
  border-color: #3a822f;
}
.btn.red {
  color: $color-white;
  background-color: #cc3a32;
  border-color: #cc3a32;
}
.btn.wh {
  background-color: #f4f4f4;
  color: #555;
  text-shadow: 0 1px 0 #fff;
  border-color: #ddd;
}
.btn.disabled,
.btn[disabled="disabled"] {
  background-color: #ddd;
  background-image: none;
  border-color: #ddd;
  box-shadow: none;
  color: #999;
  text-shadow: none;
  cursor: default;
}
.btn.gray{
  background-color: $color-light-gray;
}
.return.btn{
  background-color: $color-light-gray;
}
.btn.blue {
  background-color: #7187ae;
  border-color: #7187ae;
}
.btn + .btn.spaced {
  margin-top: 1em;
}

.btn-t-full {
 text-align: center;
}
.btn-s-gray {
 background-color: $color-light-gray;
}
