// -------------------------------------
// - Forms
// -------------------------------------
// ----- Styles for Forms
// -------------------------------------

// -------------------------------------
//   Layout
// -------------------------------------

.form-l-group {
  @include span-columns(12);
  @include omega();
  &.checkbox-spacing {
    padding: 5px 0;
  }
}
.form-l-prefix,
.form-l-prefix {
  @include span-columns(3 of 12);
  text-align: center;
  @include omega();
  height: 40px;
  padding: 9px 0;
}


.form-l-input-prefix,
.form-l-input-postfix {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="number"] {
    @include span-columns(9 of 12);
    @include omega();
    height: 40px;
  }
}
.form-l-full-width {
  label {
    @include span-columns(12);
    @include omega();
    margin-bottom: 5px;
  }
}
.form-l-full-width {
  select {
    @include span-columns(12);
    @include omega();
    margin-bottom: 10px;
  }
}

.form-l-full-width {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="number"] {
    @include span-columns(12);
    @include omega();
    margin-bottom: 5px;
    padding-bottom: 3px;
  }
}

.form-l-full-width {
  button {
    @include span-columns(12);
    @include omega();
    margin-bottom: 0px;
  }
}
.form-l-el-full{
  width:100%;
}

.form-l-select-btn-height {
  height: 50px;
}
// -------------------------------------
//   Skin
// -------------------------------------
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"] {
  &.form-s-input {
    border-color: $color-base-yellow;
    border-style: solid;
    border-width: 1px;
    color: $color-gray;
  }
}
.form-s-prefix-yellow {
  background: $color-yellow;
  border-color: $color-base-yellow;
  border-style: solid;
  border-width: 1px;
  border-right: none;
  color: $color-gray;
}
.form-s-postfix-yellow {
  background: $color-yellow;
  border-color: $color-base-yellow;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  color: $color-gray;
}
// -------------------------------------
//   Typography
// -------------------------------------
.form-t-prefix,
.form-t-prefix {
  text-align:center;
  font-size:$font-size-16;
  font-weight:bold;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"] {
  &.form-t-input-prefix,
  &.form-t-input-postfix {
    font-size:$font-size-16;
    font-weight:normal;
  }
}


// -------------------------------------
//   States
// -------------------------------------



