// -------------------------------------
// - Help Panel Module
// -------------------------------------
// ----- Styles for the Help Panel Module
// -------------------------------------

// -------------------------------------
//   Layout
// -------------------------------------
.help-panel-l-bg {
  display:none;
  position: absolute;
  top: 0;
  bottom:0px;
  right: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
}
.help-panel-l-main {
  position: fixed;
  top: 20px;
  bottom:20px;
  right: 0;
  z-index: 100;
  @include transform(translateX(100%));
  @include transform-origin(right top);
  @include transition (all 0.5s ease-in-out);
}
.help-panel-l-nav {
  position: absolute;
  top: 15px;
  left: -60px;
  width: 60px;
  height: 80px;
  cursor: pointer;
}
.help-panel-l-panel-container {
  height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
}
.help-panel-l-sm-width {
  width: 300px;
}
.help-panel-l-lg-width {
  width: 600px;
}
.help-panel-l-panel {
  padding: 20px 19px 50px;
}

.help-panel-l-sm-panel {
  width: 300px;
}
.help-panel-l-lg-panel {
  width: 600px;
}
.help-panel-l-nav-icon {
  padding-top:5px;
}
.help-panel-l-nav-text {
  position: absolute;
  bottom:0;
  width: 100%;
}
.help-panel-l-section {
  @include clearfix();
  padding-bottom:10px;
}
// -------------------------------------
//   Skin
// -------------------------------------
.help-panel-s-main,
.help-panel-s-nav {
  border: 1px solid #000;
  background-color: $color-white;

}
.help-panel-s-main {
  border-right: none;
}

// -------------------------------------
//   Typography
// -------------------------------------
.help-panel-t-nav-icon,
.help-panel-t-nav-text {
  text-align:center;
}
.help-panel-t-nav-text {
  line-height: 18px;
}

.help-panel-t-title {
  font-size: $font-size-30;
  // text-align: left;
  font-weight: bold;
  line-height: $font-size-30;
}
.help-panel-t-title-sm {
  font-size: $font-size-16;
  // text-align: left;
  font-weight: bold;
  line-height: $font-size-16;
}

// -------------------------------------
//   States
// -------------------------------------
.help-panel-is-open {
  visibility: visible;
  @include transform(translateY(0%));
}

