// -------------------------------------
// - List
// -------------------------------------
// ----- Styles for List
// -------------------------------------

// -------------------------------------
//   Layout
// -------------------------------------
.lists-l-unformated {
  list-style:none;
  padding:10px 0 0;
  margin:0;
  li {
    padding: 5px 0;
  }
}

// -------------------------------------
//   Skin
// -------------------------------------

// -------------------------------------
//   Typography
// -------------------------------------


// -------------------------------------
//   States
// -------------------------------------
