/**
 * (C)Leanest CSS spinner ever
    author: http://lea.verou.me/2018/11/cleanest-css-spinner-ever/
    converted for SCSS and Bourbon mixins
 */

@keyframes spin {
  to { @include transform(rotate(1turn));}
}

.progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  @include animation(spin 1s infinite steps(8));
}

.small.progress {
  font-size: 6px;
}

.large.progress {
  font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em; /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  @include box-shadow(0 3.5em #eee); /* container height - part height */
  @include transform-origin(50% 2.5em); /* container height / 2 */
}

.progress:before {
  background: #555;
}

.progress:after {
  @include transform(rotate(-45deg));
  background: #777;
}

.progress > div:before {
  @include transform(rotate(-90deg));
  background: #999;
}

.progress > div:after {
  @include transform(rotate(-135deg));
  background: #bbb;
}


.loader-l-container {
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  text-align: center;
  padding-top: 70px;
}
.loader-s-container {
  background-color: $color-yellow;
  background-color: $color-yellow-trans-rgba;
}
