// -------------------------------------
// - Quote Module
// -------------------------------------
// ----- Styles for the Quote Module
// -------------------------------------

// -------------------------------------
//   Layout
// -------------------------------------
.quote-l-container {
  @include span-columns(12);
  @include omega();
  margin-bottom: 10px;
}
.l-row {
  @include row();
}
.quote-l-car-detail {
  @include span-columns(12);
  @include breakpoint(768px) {
    @include span-columns(4);
  }
  padding: 12px 4px;
}
.quote-l-quote-detail {
  @include span-columns(12);
  @include breakpoint(768px) {
    @include span-columns(4);
  }
  padding: 12px 0 0;
}
.quote-l-quote-prices {
  position:relative;
  @include span-columns(12);
  @include breakpoint(768px) {
    @include span-columns(4);
  }
  padding: 12px 4px;
}
.quote-l-box-item {
  @include span-columns(4 of 12);
  @include omega();
  padding: 11px 0px;
}
.quote-l-box-input {
  @include span-columns(8 of 12);
  @include omega();
}
.quote-l-quote-box-item {
  @include span-columns(3 of 12);
  padding: 11px 0;
}
.quote-l-price-factors {
  @include span-columns(12);
  padding: 11px 12px;
}
.quote-l-action-text {
  display:block;
}
// -------------------------------------
//   Skin
// -------------------------------------
.quote-s-quote-box-row {
  border-bottom: 1px solid $color-border-gray;
}
.quote-s-quote-box-header {
  border-bottom: 2px solid $color-border-gray;
}
.quote-s-price-box {
  color: $color-base-yellow;
  border-top: 1px solid $color-base-yellow;
  border-bottom: 1px solid $color-base-yellow;
  border-right: 1px solid $color-base-yellow;
  &:active,
  &:hover,
  &.active {
    background-color: $color-base-yellow;
    color: $color-white;
  }
  &:first-child{
    border-left: 1px  solid $color-base-yellow;
  }
}
// -------------------------------------
//   Typography
// -------------------------------------
.quote-t-item-title-large,
 .quote-t-item-title-med,
 .quote-t-item-title-small,
 .quote-t-item-label,
 .quote-t-price-label{
  font-weight: bold;
}
.quote-t-item-title-large{
  font-size:$font-size-18;
}
.quote-t-item-title-med{
  font-size:$font-size-16;
}
.quote-t-table-title-med{
  font-size:$font-size-11;
}
.quote-t-item-text-med{
  font-size:$font-size-16;
}
.quote-t-item-title-small{
  font-size:$font-size-12;
  font-weight: normal;
}
.quote-t-price-label {
  font-size:$font-size-14;
  text-align:center;
  text-decoration: none;
}
.quote-t-item-label {
  font-size: $font-size-14;
  text-align:center;
}
.quote-t-item-input-label {
  font-weight:bold;
  font-size: $font-size-14;
  text-align:left;
}
.quote-t-item-input {
  font-weight:normal;
  font-size: $font-size-16;
  text-align:right;
}
.quote-t-action-text {
  display:block;
  text-decoration: underline;
  text-align: center;
  font-size: $font-size-14;
}
// -------------------------------------
//   States
// -------------------------------------
.animated_icon {
  @include transition (all 1.0s linear);
}
.is_rotated {
  @include transform(rotate(-45deg));
}


