= button_bar
%br/
%br/
= form_tag(external_vehicles_load_index_path , method: 'post', multipart:  true, class: 'external_vehicles_load_form') do
  .xlsx_import_div
    .col.lcol

    .col.rcol
      = link_to 'Batch Template', asset_path('/templates/template.xlsx'), id: 'batch_teplate'
      = link_to 'Batch Upload', '#', id: 'upload_data', class: 'button', style: 'float:right;'
      = file_field_tag :xlfile, id: 'xlf'
      = label_tag 'upload_files','Import Data: (XLSX,XLS,CSV)', style: 'float:right;margin-right: 10px;'
  .doc_upload_div
    .col.lcol
      = label_tag 'upload_files','Upload Documentation', style: 'float:right;'
    .col.rcol
      .upload_docs
        = file_field_tag :document, name: "external_vehicles_documents[]"
        = link_to '-', '#', id: 'remove_doc', class: 'button'
        = link_to '+','#', id: 'add_more_docs', class: 'button'
  #table-wrapper{style: "height: 500px;border:1px solid;"}
    %table.sold_vehicles_entry_table{style:  "table-layout: fixed; auto 0px auto;"}
      %tr#labels
        %th
          =t('external_vehicles_load.form.labels.vnum')
          = link_to image_tag('clippy.ico', width: '25', title:'Click to copy all VNUM'),'#', id: 'clipboard', 'data-clipboard-action'=>'copy'
          %br/
          %span.clipboard_message{style:'display:none;'}
        %th
          =t('external_vehicles_load.form.labels.model_year')
        %th
          =t('external_vehicles_load.form.labels.make')
        %th
          =t('external_vehicles_load.form.labels.model')
        %th
          =t('external_vehicles_load.form.labels.odometer_reading')
        %th
          =t('external_vehicles_load.form.labels.agreement_no')
        %th
          =t('external_vehicles_load.form.labels.agreement_name')
        %th
          =t('external_vehicles_load.form.labels.vehicle_purchase_price')
        %th
          =t('external_vehicles_load.form.labels.buy_fee')
        %th
          =t('external_vehicles_load.form.labels.vehicle_total')
        %th
          =t('external_vehicles_load.form.labels.location_initials')
        %th
          =t('external_vehicles_load.form.labels.automatic_purchase_email')
        %th
          = t('external_vehicles_load.form.labels.purchased_at')
        %th
          = t('external_vehicles_load.form.labels.seller_name')
        %th
        %th

  = submit_tag "Submit", id: 'external_vehicles_load_new',style: "margin-top: 25px;"
