.checkout_bar
  .container.cf
    = render partial: "layouts/locales"

.l-top-adjustment
  = render partial: "shared/logo"
  - if Rails.env.staging?
    .staging-overlay
      = t('devise.sessions.looking_for_agreementshield')
      %br/
      =link_to t('devise.sessions.click_here'), "https://promise.#{Astro::DOMAIN}"

  - if Settings.learn_about_agreementshield_enabled
    .l-row.l-row-space-bottom
      .l-offset-3.l-col-6
        = link_to t('navigation.layout.static_links.learn_about_agreementshield'), page_path(:learn_about_agreementshield), class: 'btn-l-full btn-t-full'

  - if (Time.zone.parse('2018-04-02 00:00:00 EDT') < Time.now.localtime) and (Time.now.localtime < Time.zone.parse('2018-04-02 18:00:00 EDT'))
    .l-row
      .l-offset-2.l-col-8.form-l-full-width
        %p.warning-text Due to Astroheim system maintenance, you may experience intermittent login issues on Sunday, 4/2, between 12:00am - 6:00pm ET.

  .l-row
    .l-offset-3.l-col-6.form-l-full-width
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %p
          = raw "#{t('devise.sessions.login_in_note', link_name: t('devise.sessions.link_to_astroheim'))}"

        %div
          = f.label :username, t('devise.sessions.username')
          = f.text_field :username, autofocus: true, autocorrect: "off", autocapitalize: "none"

        %div
          = f.label :password, t('devise.sessions.password')
          = f.password_field :password

        %div
          = f.submit t('devise.sessions.sign_in'), class: 'btn-l-full'
