= button_bar
%h1 Updating promise for VNUM #{@promise_offer.vnum}

= form_for [:admin, @promise_offer] do |f|
  = f.label :days_selected, 'Days'
  = f.select :days_selected, Promise::LENGTHS.map { |len| [len+7, len+7] }, include_blank: true

  = f.label :miles_selected, "#{@promise_offer.decorate.distance_units}"
  = f.select :miles_selected, Promise::DISTANCES.map { |distance| [distance, distance] }, include_blank: true

  = f.label :promise_price, 'Price'
  = f.number_field :promise_price, step: :any

  = f.fields_for :vehicle_information do |vehicle_information_fields|
    = vehicle_information_fields.label :odometer_reading, "Odometer (#{@promise_offer.decorate.distance_units})"
    = vehicle_information_fields.number_field :odometer_reading
    = vehicle_information_fields.label :make, 'Make'
    = vehicle_information_fields.text_field :make
    = vehicle_information_fields.label :model, 'Model'
    = vehicle_information_fields.text_field :model
    = vehicle_information_fields.label :year, 'Year'
    = vehicle_information_fields.number_field :year

  = f.fields_for :pawn_information do |pawn_information_fields|
    = pawn_information_fields.label :vehicle_purchase_price, 'Vehicle Purchase Price'
    = pawn_information_fields.number_field :vehicle_purchase_price

  = f.label :emails, 'Email'
  = f.email_field :emails

  = f.label :transport_reimbursement, I18n.t('promise_offers.transportation_coverage')
  = f.text_field :transport_reimbursement

  = f.label :must_be_promised_at, 'Must be purchased by'
  = f.datetime_select :must_be_promised_at

  = label_tag :update_confirmation do
    = check_box_tag :update_confirmation
    Update Confirmation

  %h3 Charges

  = label_tag :bypass_charge do
    = f.check_box :bypass_charge
    Bypass Charge

  = label_tag :charge_as400 do
    = radio_button_tag :charge, :as400, false, disabled: @promise_offer.left_lot? || @promise_offer.pending?
    AS/400

  = label_tag :charge_manual do
    = radio_button_tag :charge, nil, true
    No charge (Manual)

  = f.submit 'Apply Updates'
