#promise_offers_view
  = button_bar
  %br/
  = form_for :filters, url: admin_promise_offers_path, method: :get do |f|
    = f.label :vnum do
      VNUM:
      = f.text_field :vnum, class: 'vnum'
    = f.label :agreement_no do
      Agreement#:
      = f.text_field :agreement_no
    = f.label :date_from do
      Date From:
      = f.text_field :date_from, value: date_from, class: 'js-datetimepicker'
    = f.label :date_to do
      Date To:
      = f.text_field :date_to, value: date_to, class: 'js-datetimepicker'
    = f.submit(I18n.t('forms.filter'))
  %br/

  = render partial: 'paginated_data_table', locals: { fields: fields, rows: @promise_offers }
