=button_bar back: {path: root_path }

= form_for @cancellation, url: form_path do |f|
  - if current_user.admin?
    = select_tag "cancellation_reasons", options_for_select(I18n.t('return_invoice.cancellation.cancellation_reasons').values), class: 'return_cancellation_reasons', prompt: I18n.t('return_invoice.cancellation.cancellation_reason_prompt'), style: 'width:530px'
    = f.label I18n.t('return_invoice.cancellation.reason_text')
    = f.text_field :reason, rel: "admin_reason", style: 'width:530px'
    %label{:id => "cancellation_note"}
    %br
    %br
    %label.checkbox{ :for => "send_email" }
      = I18n.t('return_invoice.cancellation.email_on_cancellation')
      = f.check_box :send_email, checked: true
      = f.text_field :user_email, value: return_invoice.user_email
  - else
    = f.label I18n.t('return_invoice.cancellation.reason_text')
    = f.select :reason, options_for_select(I18n.t('return_invoice.cancellation.cancellation_reasons').values), prompt: I18n.t('return_invoice.cancellation.cancellation_reason_prompt')
  = f.submit 'Submit', disabled: current_user.admin?

