= button_bar(back: {path: admin_payments_path})

= form_tag admin_payment_receipt_email_path do
  = label_tag :email, t('payments.email.email_address_label')
  = email_field_tag :emails, '', multiple: true
  = hidden_field_tag :payment_id, params[:payment_id]
  = submit_tag t('payments.email.send_label')
