= button_bar back: { path: root_path }

- if session[:return_fee].present? && @payment_type != "promise" && decorated_promise_purchase.pplv?
  %h2= t('payments.new.prompt_return_fee')
- else
  %h2= t('payments.new.prompt_promise')

.single_promise.cf
  = render 'promise_purchases/purchase_description', promise_purchase: decorated_promise_purchase, price_method: :credit_card_payment_price, country: @country, payment_type: @payment_type
  .form-container
    %span.payment-errors
    = form_for payment_form, url: payment_form_path do |f|
      .row-mrg-top-fv
        .alignleft
          = f.check_box :send_receipt_confirmation
          %label #{I18n.t('forms.payment.email_receipt')}
          %input{ name: 'email', value: decorated_promise_purchase.emails, required: true, :type => "text"}
      .centered
        = hidden_field_tag :payment_type, @payment_type
        %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js", data: { |
          token: 'stripeCheckoutResponseHandler', |
          description: 'Be Assured.', 'zip-code': true, amount: payment_form.amount_charged_in_cents, |
          name: 'AgreementShield', key: ENV['STRIPE_API_KEY_PUBLIC'], "billing-address": true, |
          image: "https://s3.amazonaws.com/stripe-uploads/acct_193T9tJtqDKP4E8nmerchant-icon-1479241747089-AgreementShield-App-Icon_3c_rgb.png" } }

