%p A g2g2s charge (Orders API 2.0) failed for a promise purchased on Astro (in #{Rails.env}).

%p Charge info:

%ul
  %li VNUM: #{@offer.vnum}
  %li SBLU: #{@offer.pawn_information.sblu}
  - @offer.attributes.each do |name, value|
    %li #{name}: #{value}

%p The system reported the following error:

%blockquote= @error_message


%p
  The last attempt to process this charge has failed. It will not be attempted
  again. Please address this issue manually.
