$ ->
  lv_checkbox = $(".flat_rates_lv_checkbox")[0]
  $(".js-flat-rate-offer-include-agreementship").change ->
    targetPrice = $(this).next(".js-flat-rate-offer-target-price")
    if $(this).is(":checked")
      targetPrice.removeAttr("disabled")
    else
      targetPrice.attr("disabled", true)

  $(".flat_rates_lv_checkbox").change ->
    if( lv_checkbox.checked && $("#flat_rates_psi")[0].checked)
      alert("<%= I18n.t('flat_rates.index.lv_psi_validation') %>")
      lv_checkbox.checked = false
    else if ( lv_checkbox.checked && $("#flat_rates_miles_500")[0].checked)
      $("#flat_rates_miles_500")[0].checked = false
      $("#flat_rates_miles_500")[0].disabled = true
      $("#flat_rates_miles_360")[0].checked = true
      $('#flat_rates_limited_volume').toggleClass('display_inline')
    else
      $('#flat_rates_limited_volume').toggleClass('display_inline')
      $("#flat_rates_miles_500")[0].disabled = !$("#flat_rates_miles_500")[0].disabled

  $("#flat_rates_psi").change ->
    if(lv_checkbox.checked && $("#flat_rates_psi")[0].checked)
      alert("<%= I18n.t('flat_rates.index.lv_psi_validation') %>")
      $("#flat_rates_psi")[0].checked = false
