$(document).ready(function(){
  var heightvalue = $(".seller_box").outerHeight();
  $(".buyer_box").outerHeight(heightvalue);
  var trans_width = $(".trans_box").width();
  $(".terms_box").width(trans_width);

  $(".new_buyer_and_agreement_information_form").submit(function(e){
    var left_lot_in_ods = $('#return_invoice_left_lot').val();
    if(left_lot_in_ods == 'false'){
      if(!confirm("<%= I18n.t('return_invoice.left_lot_prompt') %>")){
        e.preventDefault();
        window.location = window.location.origin
      }
    }
  });
})

