jQuery ->
  success = ->
    alert("Vehicle created successfully!")
    $('.js-clear-after-submission').val('')
    $('#sale_no').val("<%= Date.current.cweek %>")
    $('.js-uncheck-after-submission').prop('checked', false)

  error = (event, xhr) ->
    errors = xhr.responseJSON.errors
    alert("Error creating vehicle: #{errors}")
    $(".js-loader").addClass('l-hidden');

  $('.js-sold-vehicle-form')
    .on("ajax:success", success)
    .on("ajax:error", error)

  create_default_tiers_dropwdown = () ->
    if $('#sold_vehicle_preselected_promise_kind').val() == "purchase_protect"
      $(".limited_volume").append("<label id='tier_label'><%= I18n.t('sold_vehicles.form.labels.limited_volume') %></label>")
      select_tier = $("<select></select>").attr("id", "limited_volume").attr("name", "sold_vehicle[limited_volume]")
      $('.limited_volume').append(select_tier)
      select_tier.append($("<option></option>"))
      default_tiers = <%= NewProductKind::DEFAULT_VOLUME_TIERS.keys %>
      $.each default_tiers, (_, value) ->
        select_tier.append($("<option>" + value + "</option>"))

  create_default_tiers_dropwdown()

  $('#sold_vehicle_preselected_promise_kind').change ->
    selected_kind = this.value
    presl_days = $("select#sold_vehicle_preselected_promise_days")
    if selected_kind != "purchase_protect"
      $("#limited_volume").remove();
      $("#tier_label").remove();
      $('#sold_vehicle_preselected_promise_days').find("option[value='7']").remove();
      $('#sold_vehicle_preselected_promise_days').find("option[value='14']").remove();
    else
      presl_days.prepend("<option value='14'>14</option>");
      presl_days.prepend("<option value='7'>7</option>");
      create_default_tiers_dropwdown();

  $("#decode_vnum .trigger").click (e) ->
    e.preventDefault()
    vnum = $("input[name='sold_vehicle[vnum]']").val()
    $.ajax(
      url: '/sold_vehicles/' + vnum + '/decode'
      dataType: "json"
      cache: false
      beforeSend: ->
        $('#decode_vnum .loader').show()
        return
    ).complete (data, status) ->
      if status == 'success'
        response = data.responseJSON
        if response['errors'] == undefined or response['errors'] == ''
          $("select[name='sold_vehicle[year]']").val(response['year'])
          $("input[name='sold_vehicle[make]']").val(response['make'])
          $("input[name='sold_vehicle[model]']").val(response['model'])
          $("input[name='sold_vehicle[mid]']").val(response['mid'])
        else
          $('#decode_vnum .error_message').html('Error fetching info').show().delay(2500).fadeOut 'slow'
      else
        $('#decode_vnum .error_message').html('Error fetching info').show().delay(2500).fadeOut 'slow'

      $('#decode_vnum .loader').hide()
      return
