= button_bar
%h1 New Coupon Batch
= form_for :batch, url: admin_coupons_batch_index_path do |f|
  %fieldset
    = f.label :name, 'Batch Name'
    = f.text_field :name

    = label_tag :count, 'Number of Coupons *'
    = number_field_tag :count, min: 1, required: true

    = fields_for :coupon do |fields|
      = fields.label :amount, 'Coupon Amount *'
      = fields.number_field :amount, :step => "any", required: true

      = fields.label :expiration_date, 'Expiration Date *'
      = fields.text_field :expiration_date, class: 'js-datetimepicker', required: true

      = fields.label :country, 'Country *'
      = fields.select :country, SupportedCountry::NAMES, include_blank: true

  = f.submit class: 'green btn'

* Required
