Astroheim Support Team,

An Automated Purchase for the sold vehicle with VNUM #{@vehicle.vnum} and Universal Number #{@vehicle.universal_no} has failed.

This should be investigated and rectified.

\-- The Astro Application
