Hello Developer:

A "Bad" PromiseOffer was just created on Astro (in #{Rails.env}).

Promise offer Info:

* Agreement #: #{@promise_offer.agreement_no}
* Badge #: #{@promise_offer.badge_no}
* Pawn Access #: #{@promise_offer.universal_no}
* VNUM: #{@promise_offer.vnum}
* Promise offer id: #{@promise_offer.id}

The problem(s) with the offer are:
- if @promise_offer.promised? && @promise_offer.promised_at.nil?
  * The offer is marked as "promised" but has no promise timestamp
- if @promise_offer.promised? && @promise_offer.promise_purchase.nil?
  * The offer is marked as "promised" but has no promise purchase record
  - unless @promise_purchase.nil?
    * The promise purchase object provided _does_ seem to exist though.

Coarse Diagnostics:

Promise offer id: #{@promise_offer.id}

Promise Purchase id:  #{@promise_purchase.id}

Sold Vehicle id: #{@promise_offer.sold_vehicle.id}
