Hello Developer:

A "Bad" Promise Purchase was just created on Astro (in production).

The Promise Purchase is associated with the following PromiseOffer
  Information:

* Agreement #: #{@promise_offer.agreement_no}
* Badge #: #{@promise_offer.badge_no}
* Pawn Access #: #{@promise_offer.universal_no}
* VNUM: #{@promise_offer.vnum}
* Promise offer id: #{@promise_offer.id}

The problem(s) with the purchase are:
- if @promise_purchase.promise_offer.nil?
  * The promise purchase does not appear to associated with a promise offer.

Coarse Diagnostics:

Promise offer: #{@promise_offer}

Promise Purchase:  #{@promise_purchase}

Vehicle: #{@promise_offer.vehicle}
