<%= I18n.t('network_plus_offer_mailer.offer_confirmation.dear') %> <%= @agreement_info.name %>:

<%= I18n.t('network_plus_offer_mailer.offer_confirmation.note') %>

<%= I18n.t('network_plus_offer_mailer.offer_confirmation.network_plus_offer_approval_link')%> <%= @network_plus_offer_approval_url %>

<%= I18n.t('network_plus_offer_mailer.offer_confirmation.offer_expiry_note', days_from_expiry: @days_from_expiry) %>

<%= I18n.t('network_plus_offer_mailer.offer_confirmation.agreementshield_contact_note') %>
<%= I18n.t('network_plus_offer_mailer.offer_confirmation.agreementship_contact_details') %>
<%= I18n.t('network_plus_offer_mailer.offer_confirmation.hours') %> <%= t('help.support_hours') %>

<%= I18n.t('network_plus_offer_mailer.offer_confirmation.regards') %>
<%= I18n.t('network_plus_offer_mailer.offer_confirmation.from') %>
