<%= I18n.t('network_plus_offer_mailer.offer_accepted.title') %>
<%= I18n.t('network_plus_offer_mailer.offer_accepted.offer_acceptance_note') %> <%= Astro::AUTOMATIC_EMAIL %>.

<%= I18n.t('network_plus_offer_mailer.offer_accepted.agreement.name') %> <%= @agreement_info.agreementship_name %>
<%= I18n.t('network_plus_offer_mailer.offer_accepted.agreement.cell')%> <%= @agreement_info.phone %>
<%= I18n.t('network_plus_offer_mailer.offer_accepted.agreementships_and_offer_amount')%>
<%= @agreement_info.agreementship_name %> : <%= number_to_currency(@network_plus_offer.price) %>
<%= I18n.t('network_plus_offer_mailer.offer_accepted.date_accepted') %> <%= @accept_date.to_formatted_s %>
<%= I18n.t('network_plus_offer_mailer.offer_accepted.accepted_by') %> <%= @accepting_user.username %>
<%= raw "#{I18n.t('network_plus_offer_mailer.offer_accepted.terms_and_conditions', link_name: I18n.t('network_plus_offer_mailer.offer_accepted.click_here'), link_url: @network_plus_offer_approval_url )}" %>

<%= raw "#{I18n.t('network_plus_offer_mailer.offer_accepted.refund_note', link_name: I18n.t('network_plus_offer_mailer.offer_accepted.here'), link_url: page_url('ach') )}" %>

<%= t('network_plus_offer_mailer.offer_accepted.label.effective_date') %>: <%= @effective_date %>
