%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  %body{:bgcolor => "#fff", :style => "margin: 0; padding:20px; background-color: #fff;"}
    %table{:border => "0", :style => "border-collapse: collapse; margin: 0 auto; font-family: Helvetica, Arial, sans-serif; font-size: 16px;", :width => "600"}
      %tr
        %td
          %img{:alt => "AgreementShield", :src => attachments["email-header.png"].url, :style => "font-size: 24px; font-weight: bold; width: 600px;"}/
      %tr
        %td{:style => "padding: 40px;"}
          %p #{I18n.t('network_plus_offer_mailer.offer_confirmation.dear')} #{@agreement_info.name}:

          %p= I18n.t('network_plus_offer_mailer.offer_confirmation.note')

          %p= link_to I18n.t('network_plus_offer_mailer.offer_confirmation.network_plus_offer_approval_link'), @network_plus_offer_approval_url

          %p= I18n.t('network_plus_offer_mailer.offer_confirmation.offer_expiry_note', days_from_expiry: @days_from_expiry)

          %p
            = I18n.t('network_plus_offer_mailer.offer_confirmation.agreementshield_contact_note')
            %br
            = I18n.t('network_plus_offer_mailer.offer_confirmation.agreementship_contact_details')
            %br
            = I18n.t('network_plus_offer_mailer.offer_confirmation.hours')
            = t('help.support_hours')

          %p
            = I18n.t('network_plus_offer_mailer.offer_confirmation.regards')
          %img{:alt => "", :src => attachments["email-signature.png"].url}/
      %tr
        %td
          %img{:alt => "", :src => attachments["email-footer.png"].url}/
