<%= I18n.t('network_plus_offer_mailer.offer_rejection.offer_rejection_note') %> <%= Astro::AUTOMATIC_EMAIL %>.

<%= I18n.t('network_plus_offer_mailer.offer_rejection.agreement.name') %> <%= @agreement_info.name %>
<%= I18n.t('network_plus_offer_mailer.offer_rejection.agreement.cell') %> <%= @agreement_info.phone %>

<%= I18n.t('network_plus_offer_mailer.offer_rejection.agreementships_and_offer_amount') %>

<%= @agreement_info.agreementship_name %>: <%= number_to_currency(@network_plus_offer.price) %>

<%= I18n.t('network_plus_offer_mailer.offer_rejection.date_rejected') %> <%= Date.today.to_formatted_s %>
