= render layout: 'email_layout', locals: { title: I18n.t('network_plus_offer_mailer.offer_rejection.title') } do
  %p #{I18n.t('network_plus_offer_mailer.offer_rejection.offer_rejection_note')} #{mail_to Astro::AUTOMATIC_EMAIL}.

  %p
    #{I18n.t('network_plus_offer_mailer.offer_rejection.agreement.name')} #{@agreement_info.agreementship_name}
    %br
    #{I18n.t('network_plus_offer_mailer.offer_rejection.agreement.cell')} #{@agreement_info.phone}

  %p
    = I18n.t('network_plus_offer_mailer.offer_rejection.agreementships_and_offer_amount')
    %li #{@agreement_info.agreementship_name} : #{number_to_currency(@network_plus_offer.price)}

  %p
    #{I18n.t('network_plus_offer_mailer.offer_rejection.date_rejected')} #{Date.today.to_formatted_s}
