= button_bar
%br/

= form_for :filters, url: admin_cancelled_returns_path, method: :get do |f|
  = f.label :vnum do
    VNUM:
    = f.text_field :vnum, value: vnum_filter
  = f.label :vra do
    VRA#:
    = f.text_field :return_invoice_id, value: vra_filter
  = f.submit(I18n.t('forms.filter'))
%br/

= render partial: 'paginated_data_table', locals: { fields: fields, rows: @cancelled_returns }
