= button_bar(back: {skip: true}, home: {path: root_path})
%p
%br
%br
  = t('admin.rate_change.client_comm.para_1', return_rate: @rate_change.return_rate)
%p
  = t('admin.rate_change.client_comm.para_2', {name: @rate_change.name, email: @rate_change.email})
%p
  = t('admin.rate_change.client_comm.para_3')
%br
%p
  = t('admin.rate_change.client_comm.sincerely')
%p
  = t('admin.rate_change.client_comm.agreementshield_team')
