#sales_dashboard_view
  = button_bar
  %br/

  = form_for :filters, url: admin_sales_dashboard_index_path, method: :get do |f|
    .search_filters
      .date_from
        = f.label :date_from do
          Date From:
          = f.text_field :date_from, value: date_from, class: 'js-datetimepicker'
      .date_to
        = f.label :date_to do
          Date To:
          = f.text_field :date_to, value: date_to, class: 'js-datetimepicker'
      .is_auto_purchased
        = f.label "Auto Purchased" do
          Auto Purchased:
          = f.select :automatic_purchase, [['Yes', true], ['No',false]], include_blank: 'All'
      .is_seller_paid
        = f.label :seller_paid do
          Seller Paid:
          = f.select :seller_paid, [['Yes', true], ['No',false]], include_blank: 'All'
      .location
        = f.label "Location" do
          Location:
          = f.select :location_initials, PawnLocationDecorator.select_options(filters.location_initials || ''), include_blank: 'All'
    .clear
    .action_buttons
      = f.submit(I18n.t('forms.generic_submission'))
      = link_to 'Reset', admin_sales_dashboard_index_path

  %br/

  %table.data-table
    %thead
      %tr
        %th Location
        %th DS Sales
        %th % Walk Up
        %th % Sell Side
        %th Average DS Price
        %th Unique Agreements
        %th 360 Agreements
        %th Walkup Agreements
        %th Sell Side Agreements
    %tbody
      - @location_sales.each do |location, sales_data|
        %tr
          %td= location.name
          %td.right_align= sales_data.count
          %td.right_align= number_to_percentage(sales_data.walkup_ratio, precision: 2)
          %td.right_align= number_to_percentage(sales_data.sellerside_ratio, precision: 2)
          %td.right_align= number_to_currency  sales_data.ds_price, precision: 2
          %td.right_align= sales_data.agreement_count
          %td.right_align= sales_data.agreement_360_count
          %td.right_align= sales_data.walkup_agreements_count
          %td.right_align= sales_data.seller_paid_agreement_count

      - unless @total_sales.blank?
        %tr
          %td TOTAL
          %td.right_align= @total_sales.count
          %td.right_align= number_to_percentage @total_sales.walkup_ratio
          %td.right_align= number_to_percentage @total_sales.sellerside_ratio
          %td.right_align= number_to_currency @total_sales.ds_price
          %td.right_align= @total_sales.agreement_count
          %td.right_align= @total_sales.agreement_360_count
          %td.right_align= @total_sales.walkup_agreements_count
          %td.right_align= @total_sales.seller_paid_agreement_count
