<div class="quote-t-item-title-med txt-center">Quote</div>
<div class="quote-l-quote-box">
  <div class="l-row quote-s-quote-box-header">
    <div class="quote-l-quote-box-item l-offset-3">
      <div class="quote-t-item-title-med txt-center">7 Days</div>
    </div>
    <div class="quote-l-quote-box-item">
      <div class="quote-t-item-title-med txt-center">14 Days</div>
    </div>
    <div class="quote-l-quote-box-item">
      <div class="quote-t-item-title-med txt-center">21 Days</div>
    </div>
  </div>
  <div class="l-row quote-s-quote-box-row">
    <div class="quote-l-quote-box-item">
      <div class="quote-t-item-title-med">250 mi</div>
    </div>
    <div class="quote-l-quote-box-item">
      <div class="quote-t-item-text-med txt-center">${{ quotes.[250].[7]}}</div>
    </div>
    <div class="quote-l-quote-box-item">
      <div class="quote-t-item-text-med txt-center">${{ quotes.[250].[14]}}</div>
    </div>
    <div class="quote-l-quote-box-item">
      <div class="quote-t-item-text-med txt-center">${{ quotes.[250].[21]}}</div>
    </div>
  </div>
  <div class="l-row">
    <div class="quote-l-quote-box-item">
      <div class="quote-t-item-title-med">500 mi</div>
    </div>
    <div class="quote-l-quote-box-item">
      <div class="quote-t-item-text-med txt-center">${{ quotes.[500].[7] }}</div>
    </div>
    <div class="quote-l-quote-box-item">
      <div class="quote-t-item-text-med txt-center">${{ quotes.[500].[14] }}</div>
    </div>
    <div class="quote-l-quote-box-item">
      <div class="quote-t-item-text-med txt-center">${{ quotes.[500].[21] }}</div>
    </div>
  </div>
  <a class="js-toggle-accordion quote-t-action-text">How is the price calculated?
  <i class="fa fa-plus animated_icon"></i></a>
</div>
