- if @return_invoice.errors.present?
  %p= t('return_funnel.verifications.form.errors.return_invoice')
  %ul
    - @return_invoice.errors.to_a.each do |error|
      %li #{error}
  %p= t('return_funnel.verifications.form.errors.support')
