- button_copy ||= t('forms.done')
=button_bar back: { label: button_copy, path: root_path }

%h1 Your return could not be initiated

%p The following error prevented your return from completing: #{@return_invoice.errors.to_a.to_sentence}.

%footer
  = link_to button_copy, root_path, class: "green btn continue_btn"
