= form_tag return_funnel_filtered_purchases_path, method: :get, class: 'filterform' do
  = render partial: 'shared/logo', locals: {logo_class: 'left'}
  %fieldset
    %label.title
      = t('return_funnel.filters.agreement_number.input_label')
      = number_field_tag :agreement_number, nil, placeholder: t('return_funnel.filters.agreement_number.manual_entry'), autocomplete: 'off', autofocus: true
    = hidden_field_tag :filter_type, filter_type
    = submit_tag t('forms.enter'), class: 'green btn'
