= button_bar back: { path: root_path }

.filter
  = link_to t('forms.vnum_number.input_label'),     return_funnel_filter_path(:vnum_number_filter),            class: :btn
  = link_to t('forms.pawn_access.input_label'), return_funnel_filter_path(:pawn_access_number_filter), class: :btn
  = link_to t('forms.agreement_number.input_label'),  return_funnel_filter_path(:agreement_number_filter),         class: :btn
