/* @group Print
----------------------------------------------- */
@media print {
	.print_only 										{display: block;}
	.screen_only										{display: none;}
  #dev-badge                      {display: none;}
  .agreementship_filter              {display: none;}
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  input, textarea { page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm auto; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

	html {
		overflow: auto;
	}
	body {
		font-size: 10pt;
		position: static;
		border: 0;
	}
	#logo {
		min-width: 1.5in;
		max-width: 1.5in !important;
		width: 1.5in;
	}
	.container {
		vertical-align: top;
		padding: 0;
	}
	.btn,
	.flash_msg,
	body > footer {
		display: none;
	}
	.print_only footer {
		border-top: 1px solid #ccc;
		font-size: 0.8em;
		line-height: 1.2em;
		padding-top: 1em;
		text-align: center;
		.links {
			display: none;
		}
	}
	.vnum {
		white-space: nowrap;
	}
	.checkout {
		width: 80%;
		input[type="submit"] {
			display: none;
		}
	}
	.checkout_bar {
		display: none;
	}

	.vehicle_list {
		font-size: 8pt;
		th, td {
			border-color: #ccc;
		}
		th, td, label {
			font-size: 8pt;
			padding: 0 !important;
		}
		> li {
			page-break-inside: avoid;
		}
		.vehicle_description {
			margin-top: 0;
			border: 0;
			h3 {
				margin-top: 0;
			}
		}
		.price_factors_link,
		.q,
		.no_promise_options {
			display: none;
		}
		.price_factors {
			display: block;
			border: 0;
			> p {
				min-height: 0;
				margin: 0 0 0.5em 0;
			}
			h4, li {
				margin-bottom: 0;
			}
			li span {
				width: auto;
				text-align: left;
			}
		}
		.stars {
			text-indent: 0;
			line-height: 1em;
			height: auto;
			width: auto;
		}
	}

	.distance_selections {
		> label:not(.selected) {
			display: none;
		}
	}

	.left_lot, .past_cutoff {
		background: #fff !important;
		width: auto;
		box-shadow: none;
		top: -2.6em;
	}

	.page_break {
		page-break-after: always;
		&:last-child {
			page-break-after: avoid;
		}
	}

	.print {
		font-size: 7.8pt;
		padding-top: 0;
	}

	.certificate {
		font-size: 1.4em;
		padding: 1px 0 0 0;
		margin: 0 auto;
		width: 100%;
		max-width: auto;
		
		header {
			display: inline-block;
			width: 59%;
			text-align: left;
			vertical-align: top;
			line-height: 1.2em;
			h2 {
				text-align: left;
				font-size: 0.9em;
				margin: 0 0 5px 0;
			}
		}
		h1 {
			margin: 0;
			line-height: 1em;
		}
		.sm { display: none;}
		.barcode {
			margin-bottom: 0;
			padding: 1.3em 0 0 0;
			width: 40%;
		}
		section {
			border-color: #000;
		}
		th {
			width: 42%;
		}
		.sep th, .sep td {
			padding-bottom: 5px;
		}
		p {
			margin: 5px 0 0 0;
		}
		
	}

	.disbursement_request {
		min-width: 0;
		line-height: 1.2em;
		h1, h2, h3, legend {
			font-size: 1em;
		}
		section {
			page-break-inside: avoid;
		}
		.titlebar {
			padding: 0;
		}
		label, input {
			font-size: 0.8em !important;
			padding: 2px 5px;
		}
		input[type="text"], textarea {
			border: 1px solid #ccc;
			background: #fff;
			box-shadow: none;
		}
	}
}
footer {
			font-size:16px;
			line-height: 1.2em;
			margin-left: 15%;
		}
.bill_of_sale {
	.title_txt{
		padding-top: 20%;
	}
	.show_selling_box{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.show_purchasing_box{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-left: 1.3%;
		width: 50%;
	}
	.buyer_box{
		padding-bottom: 21%;
	}
	.show_seller_box{
		width: 350px;
		font-size:16px;
		line-height: 1.2em;
		min-height: 600px;
	}
	.buyer_box{
		width: 290px;
		font-size:16px;
		line-height: 1.2em;
		min-height: 600px;

	}
	.seller_sub_hr{

		width: 40%;
	}
	.buyer_sub_hr{
		width: 50%;

	}
	.show_seller_txt_form{
		word-break: keep-all;
		margin-left: 50%;
		width: 48%;

	}
	.buyer_txt_form{

		word-break: keep-all;
		margin-left: 50%;
		width: 48%;

	}
	.show_selling_txt_form{

		word-break: keep-all;
	}
	.show_seller_txt_form{
		word-break: keep-all;
	}
	.buyer_txt_form{
		word-break: keep-all;
	}
	.show_selling_txt_form{
		width: 150px;
		margin-left: 150px;
		word-break: keep-all;
	}
	.trans_show_txt_form{
		word-break: keep-all;
	}
	.show_trans_box{
		margin-top: 8%;
		min-height: 600px;
		width: 640px;
		font-size: 16px;
		line-height: 120%;
	}

	.show_selling_box{
		width: 320px;
		margin-top: 8%;
		line-height: 120%;
		min-height: 500px;
	}
	.show_purchasing_box{
		margin-top: 8%;
		width: 320px;
		line-height: 120%;
		min-height: 500px;
	}
	.adj_width{
		width:100px;
	}
	.terms_box{
		margin-top:0.8%;
		width:640px;
		font-size: 16px;
		line-height: 120%;
	}
	.terms_wdth{
		width: 500px;
	}
}
/* @end */

