= button_bar

%h1.centered Edit Market Index

.market_index
  = form_for [:admin, @market_index] do |f|

    %div
      = f.label :value
      = f.number_field :value
    %div
      = f.label :notes
      = f.text_area :notes, rows: 10, class: 'half-width'

    = f.submit 'Submit'
