#market_index_view
  = button_bar
  %h1 Market Index
  - if @market_index
    %table
      %tr
        %td.header{width: '100px'} Value :
        %td= @market_index.value
      %tr
        %td.header{width: '100px'} Notes :
        %td= @market_index.notes
    %br
    =link_to 'Edit Market Index', edit_admin_market_index_path
    %br
    %hr
    %h3 Market Factors
    =link_to 'New Market Factor', new_admin_market_index_market_factor_path
    %br
    %br
    .market_factors
      %table.data-table{width: '100%'}
        %thead
          %th{width: '50px'} ID
          %th{width: '200px'} Title
          %th Description
          %th{width: '150px'} Color
          %th{width: '200px'} Actions

        - @market_index.market_factors.ordered.each do |factor|
          .factor
            %tr
              %td= factor.id
              %td= factor.title
              %td= factor.description
              %td.centered
                %span.factor_color{style: "background-color: #{factor.color}"}
              %td.centered
                =link_to 'Edit', edit_admin_market_index_market_factor_path(factor)
                =link_to 'Delete', admin_market_index_market_factor_path(factor), method: :delete,  data: { confirm: 'Are you sure?' }
  - else
    %p Market Index details not found.
