%p Hello #{@resource.username}!

%p Someone has created a new SuperUser account for you in Astro.  You can set your password through the link below.

- if @resource.super_user?
  %p= link_to 'Set my password', edit_user_password_url(@resource, :reset_password_token => @token)
