= form_tag dashboard_filter_path, class: "filterform", method: :put do
  = render partial: "shared/logo", locals: {logo_class: "left"}
  %fieldset
    = hidden_field_tag :next, navigate_to
    %label.title
      = t('forms.labels.pawn_access_number')
      = number_field_tag :pawn_access_number, nil, placeholder: t('forms.pawn_access.manual_entry'), autocomplete: "off"
    = submit_tag t('forms.enter'), class: "green btn"
