=button_bar back: { path: root_path }
- if current_user.kiosk_user?
  =render partial: "shared/pawn_access_swipe_form", locals: {form_path: dashboard_filter_path, method: :put}
-else
  =render partial: "shared/logo"

  .filter
    = link_to t('forms.pawn_access.input_label'), edit_dashboard_filter_path(filter_type: :pawn_access_number, next: navigate_to), class: :btn
    = link_to t('forms.agreement_number.input_label'), edit_dashboard_filter_path(filter_type: :agreement_number, next: navigate_to), class: :btn

