= content_for :page_title, I18n.t('return_invoice.page_title', vra: return_invoice.id, vnum: return_invoice.vnum)

= form_for return_invoice do |f|
  = f.label I18n.t('return_invoice.pawn_location_text')
  = f.select :pawn_location_id, return_invoice.location_options

  = f.label I18n.t('return_invoice.title_status_text')
  = f.select :title_status, I18n.t('return_invoice.title_statuses').map(&:reverse)
  = label_tag :send_return_confirmation do
    = check_box_tag :send_return_confirmation
  = I18n.t('return_invoice.send_updated_vra')
  %br
  %br
  = f.submit t('forms.update')
