Filter Users By Role:
= form_for :filters, method: :get do |f|
  = f.select :roles, options_for_select(User::ROLES), {}, multiple: true
  = f.submit "Search"
  %br
  = link_to "Clear Filter", admin_users_path
