= form_for [:admin, @user] do |f|
  %fieldset
    = f.label :username, 'Username *'
    = f.text_field :username

    = f.label :email, 'Email *'
    = f.email_field :email

    = f.label :location_initials, 'Location Initials'
    = f.text_field :location_initials

    = f.label :active do
      = f.check_box :active
      Active?

    = render 'user_roles', roles: user_roles, form: f
  = f.submit class: 'green btn'

* Required
