- roles.each do |role, dependent_roles|
  = form.label role do
    .roles
      = form.check_box role, class: 'toggle-dependent-roles'
      = role
    .dependent_roles
      = render 'user_roles', roles: dependent_roles, form: form
