= button_bar
%h1 Edit User
Current auth token:
= @user.authentication_token
= button_to t('admin.users.edit.reset_token'), admin_api_user_token_path(id: @user)
= render 'form'
- if @user.super_user?
  = link_to t('devise.passwords.reset_link_copy'), new_admin_user_password_path(user_id: @user.id)
