#admin_users
= button_bar(back: {path: admin_index_path})
%br/
%h1= t('admin.users.index.header_copy')
%ul
  %li= link_to t('admin.users.create.link_copy'), new_admin_user_path
%br
= render 'search_form'

= paginate @users
- if @users
  %table#user_table
    %thead
      %tr
        %th Name
        %th Location Initials
        %th Active?
        %th Email (for Super Users only)
        %th Authentication Token
        %th Roles
        %th
    %tbody
      -@users.each do |user|
        %tr
          %td= link_to user.username, edit_admin_user_path(user)
          %td= user.location_initials
          %td= user.active?
          %td= user.email
          %td= user.authentication_token
          %td= user.roles
          %td= link_to t('admin.users.index.history'), admin_user_versions_path(user_id: user.id)

= paginate @users

= link_to t('admin.users.index.export_csv_link_copy'), admin_users_path(format: :csv)

