= button_bar
%h1
  = @user.username
  - unless @user.active?
    (INACTIVE)

= link_to t('admin.users.show.edit'), edit_admin_user_path(@user)
|
= link_to t('admin.users.show.back_to_search'), admin_users_path

%ul
  %li
    %strong Email:
    = @user.email
  %li
    %strong Auth Token:
    = @user.authentication_token
  %li
    %strong Location Initials:
    = @user.location_initials
  %li
    %strong Roles:
    = @user.roles.join(', ')
