= render partial: "shared/logo"

#promise_confirmation_view

.checkout
  .content
    %h1.centered= t('transactions.purchase_confirmation')

    - if Settings.inspections_enabled
      = render partial: 'promise_purchases/bundled_promises_purchase_list'

    - unless @promise_purchases.empty?
      %ul.cf
        - @promise_purchases.each do |promise_purchase|
          %li
            = render 'promise_purchases/purchase_description', promise_purchase: promise_purchase, price_method: :price
            - if promise_purchase.updated_before_save?
              .promise_status
                = t('transactions.promise_status_updated')

      - if Settings.inspections_enabled
        = render partial: 'promise_purchases/inspection_only_purchase_list'

    - unless @pending_purchases.empty?
      %h1.centered= t('transactions.purchase_pending')
      = render partial: "promise_purchases/pending_purchase_list", locals: { check_updated_after: false }

  = button_bar back: { skip: true }, home: { label: t('forms.done') } do
    = link_to t('forms.print'), "#", {class: "print_btn btn"}
  %footer
    = link_to t('forms.done'), root_path, {class: "green btn continue_btn"}

  .content
    %p
      %strong= t('transactions.customer_service')
      %br
      = t('transactions.phone_number')
      %br
      = t('transactions.email')
      = mail_to("support@agreementshield.com", t('transactions.mail_to'))
