%h3= t('pawn_locations.index.where_to_find_agreementshield')

%h4= t('pawn_locations.index.purchase_coverage')

%table#pawn_locations_table.data-table
  %thead
    %tr
      %th= t('pawn_locations.index.name')
      %th= t('pawn_locations.index.initials')
  %tbody
    -@pawn_locations.each do |pawn_location|
      %tr
        %td= pawn_location.name
        %td= pawn_location.initials


