= button_bar(back: {path: admin_index_path})
%br/

%h1 Flat Rate Offers
= paginate @flat_rate_offers
%table.data-table
  %thead
    %th Agreement 100m#
    %th Agreement 5m#
    %th Price
    - if admin_policy.authorized_to_edit_flat_rate_admin_section?
      %th
  %tbody
    - @flat_rate_offers.each do |flat_rate_offer|
      %tr.flat-rate-offer
        %td= flat_rate_offer.pawn_access_no
        %td= flat_rate_offer.agreement_no
        %td= flat_rate_offer.price
        - if admin_policy.authorized_to_edit_flat_rate_admin_section?
          %td= link_to I18n.t('forms.delete'), admin_flat_rate_offer_path(flat_rate_offer), method: :delete, data: { confirm: "Are you sure?" }
