= form_for [:admin, @flat_rate_offer], url: admin_flat_rate_offer_batch_flat_rate_offers_path(flat_rate_offer_batch) do |f|
  = f.label :flat_rate_id, 'Agreement Number:'
  = f.select :flat_rate_id, flat_rates.map { |rate| [rate.agreement_no, rate.id] }

  = f.label :price, 'Price:'
  = f.text_field :price

  = f.label :miles_selected do
    = f.radio_button :miles_selected, '360', checked: true
    360
  = f.label :miles_selected do
    = f.radio_button :miles_selected, '500'
    500
  %br/

  = f.submit t('forms.finish')
