%div
  %h3 Details

  %table.display.attribute_table
    - @sold_vehicle.fields.each do |name, attribute|
      %tr
        %td= name
        %td= @sold_vehicle.public_send(attribute)

  = form_for @sold_vehicle, url: admin_sold_vehicle_path(@sold_vehicle) do |f|

    %div
      = f.label 'Processed'
      = f.check_box :automatic_purchase_processed

    %div
      = f.label 'Ineligibility'
      = select_ineligibility_condition(f, :ineligibility_condition, selected: @sold_vehicle.ineligibility_condition, include_blank: true)

    = f.submit class: 'green btn'
