#admin_sold_vehicles
= button_bar
%br/

= form_for :filters, url: admin_sold_vehicles_path, method: :get do |f|
  = f.label :agreement_number do
    Agreement#:
  = f.text_field :agreement_number, value: agreement_number_filter
  = f.label :vnum do
    VNUM:
  = f.text_field :vnum, value: vnum_filter
  = f.submit(I18n.t('forms.filter'))
  %br

= render partial: 'paginated_data_table', locals: { rows: @sold_vehicles, fields: @sold_vehicles.fields }
