= form_for [:admin, @coupon] do |f|
  %fieldset
    = f.label :amount, 'Coupon Amount *'
    = f.number_field :amount, :step => "any"

    = f.label :expiration_date, 'Expiration Date *'
    = f.text_field :expiration_date, class: 'js-datetimepicker'

    = f.label :country
    = f.select :country, SupportedCountry::NAMES, selected: @coupon.country

    - if @coupon.persisted?
      Coupon Code: #{@coupon.code}

  = f.submit class: 'green btn'

* Required
