= button_bar(back: {path: admin_index_path})

= form_for :filters, url: admin_coupons_path, method: :get do |f|
  = f.label :name do
    Batch Name:
    = f.select :name, CouponBatch.batch_names, selected: name_filter, include_blank: true
  = f.label :status do
    Consumed Status:
    = f.select :status, Coupon::STATUSES, selected: status_filter, include_blank: true
  = f.submit(I18n.t('forms.filter'))

%br/

%h1= t('admin.coupons.index.header_copy')
%ul
  %li= link_to t('admin.coupons.create.link_copy'), new_admin_coupon_path
  %li= link_to "Create Coupon Batch", new_admin_coupons_batch_path
  %li= link_to 'Download CSV', admin_coupons_path(params.merge(format: :csv))

= render partial: 'paginated_data_table', locals: { fields: fields, rows: @coupons }
