= button_bar(home: {path: admin_coupons_path})

%h1 Coupon
%table
  %tr
    %th Coupon ID :
    %td= @coupon.id
  %tr
    %th Coupon Code :
    %td= @coupon.code
  %tr
    %th Amount :
    %td= @coupon.amount
  %tr
    %th Country :
    %td= @coupon.country
  %tr
  %tr
    %th Expiration Date :
    %td= @coupon.expiration_date
- if @coupon.consumed?
  %h2= t('admin.coupons.display.used_message')
%br
%br
%h2 Coupon History
%table.data-table
  %thead
    %th Code
    %th Amount
    %th Expiration Date

  %tbody
    - @coupon.versions.map(&:reify).compact.each do |previous_coupon|
      %tr
        %td= previous_coupon.code
        %td= previous_coupon.amount
        %td= previous_coupon.expiration_date

%p.centered= link_to t('admin.coupons.list.header_copy'), admin_coupons_path, class: 'red btn'
