= button_bar
%br/

= form_tag admin_span_payment_report_index_path do
  .search_filters
    .date_from
      = label_tag :date_from do
        Date From:
        = text_field_tag :date_from, '', class: 'js-datetimepicker'
    .date_to
      = label_tag :date_to do
        Date To:
        = text_field_tag :date_to, '', class: 'js-datetimepicker'
    = label_tag :email, t('payments.email.email_address_label')
    = email_field_tag :emails, '', multiple: true
  .clear
  .action_buttons
    = submit_tag(I18n.t('span_payment_report.admin.email.send_label'))
