= button_bar

%h1.centered Update Purchased Promise

.purchased_promise_information
  %table
    %tr
      %td VNUM#: #{@promise_purchase.vnum}
      %td Pawn Initials: #{@promise_purchase.location_initials}
      %td
        Sale#: #{@promise_purchase.sale_no},
        Lane#: #{@promise_purchase.lane_no},
        Run#: #{@promise_purchase.run_no},
        Universal#: #{@promise_purchase.universal_no}
  %br/

  = form_for @promise_purchase, url: admin_promise_purchase_path do |f|

    - if @promise_purchase.return_initiated? && ReturnInvoicePolicy.new(current_user, @promise_purchase.return_invoice).update?
      %div.centered
        %label Click
        = link_to 'here', edit_return_invoice_path(@promise_purchase.return_invoice)
        %label to Edit Return
    %div
      = f.label :promised_at
      = f.text_field :promised_at, value: @promise_purchase.promised_at, class: 'js-datetimepicker', required: true
    %div
      = f.label :expiration_date
      = f.text_field :max_return_time, readonly: true

    -if @promise_purchase.return_initiated?
      %div
        %label Must be received by date:
        = f.text_field :return_invoice_receive_by_date, readonly: true
      %div
        %label Return Expiration Date:
        = f.text_field :return_invoice_expiration_date, readonly: true

    %div
      %label Agreementship
      = f.text_field :agreement_no
    %div
      %label Agreement
      = f.text_field :pawn_access_no

    %div
      %label Year:
      = f.text_field :year
      %label Make:
      = f.text_field :make
      %label Model
      = f.text_field :model
    %div
      %label Odometer Reading:
      = f.text_field :odometer_reading, class: 'js-odometer-reading'
      %b #{@promise_purchase.distance_units}
      - if @promise_purchase.return_initiated?
        %label Odometer Limit:
        = f.text_field :odometer_limit, readonly: true, class: 'js-odometer-limit'

    %div
      %label Buy Fee
      = f.text_field :buy_fee
      %label Vehicle Purchase Price
      = f.text_field :vehicle_purchase_price

    %div
      %label Promise Kind
      = f.select :kind, PromisePurchase::KINDS, selected: @promise_purchase.kind

    %div
      %label Partner
      = f.text_field :partner, size: 255, maxlength: "255"

    %div
      = f.select :days_selected, Promise::LENGTHS.map { |len| len+7 }
      %label days

    %div
      = f.select :miles_selected, Promise::DISTANCES, {}, { class: 'js-miles-selected' }
      %label #{@promise_purchase.distance_units}

    %div
      = f.text_field :transport_reimbursement
      %label transportation reimbursement

    %div
      %label Confirmation Email Address(es)
      %input{ id: "purchased_promise_form_emails", name: "purchased_promise_form[emails]", size: 30, type: "email", multiple: true, value: @promise_purchase.emails, required: true }

    = f.submit 'Submit'
