= button_bar
%br/

= form_for :filters, url: admin_promise_purchases_path, method: :get do |f|
  = f.label :vnum do
    Vin:
    = f.text_field :vnum, value: vnum_filter
  = f.submit

= paginate @active_purchases

%table.data-table
  %thead
    %tr
      %th
      - fields.keys.each do |field_name|
        %th= field_name
      %th Cancel Promise Purchase
      %th
  %tbody
    - @promise_offers.each do |row|
      %tr
        %td
          = link_to t('forms.edit'), edit_admin_promise_purchase_path(row.promise_purchase)
        - fields.values.each do |field|
          %td
            = row.send(field)
        %td
          = if CancellationPolicy.new(current_user,row.promise_purchase).create?
            - link_to t('cancellation.cancel_link_copy'), new_promise_purchase_cancellation_path(promise_purchase_id: row.promise_purchase), data: { confirm: "Are you sure?" }, rel: :cancel_purchase
        %td
          = link_to 'Audit', admin_promise_purchase_versions_path(promise_purchase_id:  row.promise_purchase)
