<% url = Rails.application.routes.url_helpers %>

$(document).ready(function(){
  $('select#agreement_floor_plan_branch_lock_company_code').change('change', function(event) {
      if($(this).val() == '')
      {
        $('#agreement_floor_plan_branch_lock_site_no, .floor_plan_address_div').empty();
      }
      else
      {
        var floor_plan_company_id = $(this).val().split('-')[0]
        floorPlanBranchURI = "<%= url.floor_plan_company_floor_plan_branches_path('floor_plan_company_id')%>"
        floorPlanBranchURI = floorPlanBranchURI.replace("floor_plan_company_id", floor_plan_company_id);
        populate_floor_plan_branch_select(floorPlanBranchURI);
      }
    });

  $('select#agreement_floor_plan_branch_lock_site_no').change('change', function() {
    id = $(this).val();
      show_address(id);
      $('.email_address_div').show();
  });
})

populate_floor_plan_branch_select = function(floorPlanBranchURI){
    $.ajax({
      url: floorPlanBranchURI
    }).done(function(response) {
      floor_plan_branches = response.floor_plan_branches
      $("#agreement_floor_plan_branch_lock_site_no, #floor_plan_branch_id_label").removeClass('hidden')
      $("#agreement_floor_plan_branch_lock_site_no, #floor_plan_branch_id_label").show()
      $('#agreement_floor_plan_branch_lock_site_no').html("<option value=''>Please make a selection</option>");
      $('.floor_plan_address_div').empty();
      $.each(floor_plan_branches, function(index, floor_plan_branch) {
        $('#agreement_floor_plan_branch_lock_site_no').append("<option value=" + floor_plan_branch.site_no + ">" + floor_plan_branch.site_no +'-' + floor_plan_branch.name + "</option>");
        $('.floor_plan_address_div').append("<div class='floor_plan_address' data-branch-id='"+floor_plan_branch.site_no+"' style='display: none;'><p>"+floor_plan_branch.address_street+' Ste. #'+floor_plan_branch.address_suite+"</p>"+floor_plan_branch.address_city+','+floor_plan_branch.address_state+','+floor_plan_branch.address_zipcode+"<p></p></div>")
      });
    });
  }

show_address = function(id) {
    $('.floor_plan_address').hide();
    if (id !== void 0 && id !== '') {
      return $(".floor_plan_address[data-branch-id~=" + id + "]").show();
    }
  };
