<% url = Rails.application.routes.url_helpers %>
<% environment.context_class.instance_eval { include DateHelper } %>

$(document).ready(function(){
  $('.select2').select2();
  $(document.body).on('change', '#vehicle_batch_filters_status', function(e){
    $('form#new_vehicle_batch_filters').submit();
  });
  $(document.body).on('change', '#vehicle_batch_filters_user_id', function(e){
    $('form#new_vehicle_batch_filters').submit();
  });
});

$(document).ready(function(){
  rejected_vnum = $("#rejected_vnum_id").val();
  external_vehicle_creator = $("#external_vehicle_creator").val();
  external_vehicle_approver = $("#external_vehicle_approver").val();
  vehicle_noneditable = $("#vehicle_noneditable").val();
  rejected_entry_id = "#edit_external_vehicles_load_" + rejected_vnum;
  rejected_input_entry = $(rejected_entry_id +" :input");
  rejection_comment_id = $("#rejection_comment_" + rejected_vnum);
  approve_button = $(".approve_button")
  reject_button = $(".reject_button")

  $("#vehicles_approver_wrapper :input").attr("disabled", true).css("background-color", "#cccccc");
  if (rejected_vnum != null){
    if (external_vehicle_approver == "true"){
      if (vehicle_noneditable != "true"){
        $("#approve_"+rejected_vnum).attr("disabled", false);
        $("#reject_"+rejected_vnum).replaceWith( '<label>Rejected</label' );
        rejected_input_entry.css("background-color", "#ffffff");
        if (external_vehicle_creator == "true"){
          rejected_input_entry.attr("disabled", false)
        }
      }
    } else if (external_vehicle_approver == "false"){
      if (vehicle_noneditable != "true"){
        if (external_vehicle_creator == "true"){
          rejected_input_entry.attr("disabled", false).css("background-color", "#ffffff");
          rejection_comment_id.attr("disabled", true).css("background-color", "#cccccc");
        }
      }else if (vehicle_noneditable == "true"){
        $('.del_doc').css("background-color", "#cccccc").click(function () { return false;});
        $("#save_doc").css("background-color", "#cccccc").click(function () { return false;});
      }
    }
  } else {
    if (external_vehicle_approver == "true"){
      approve_button.attr("disabled", false).css("background-color", "#f2f2f2");
      reject_button.attr("disabled", false).css("background-color", "#f2f2f2");
    }
    if (external_vehicle_creator == "true"){
      $("#vehicles_approver_wrapper :input").attr("disabled", false).css("background-color", "#ffffff");
    }
  }

  $(document.body).on('ajax:success', '.external_vehicles_form' , function(e, data, status, xhr){
    $('.external_vehicles_row_'+data.id).effect("highlight", {}, 3000);
    $(".js-loader").addClass('l-hidden');
  }).on('ajax:error', function(e, data, status, xhr){
    fail(handleError)
  });

  $(document.body).on('click', '.approve_button' ,function(e){
    e.preventDefault();
    external_vehicle_id =  $(this).closest('form').find('.external_vehicle_id').val();
    $that = this;
    url = "<%= url.external_vehicles_load_approve_path('external_vehicle_id')%>"
    url = url.replace("external_vehicle_id", external_vehicle_id);

    $.ajax({
        url: url,
        type: "POST"
      }).done(function(response) {
        $($that).closest('form').css("background-color", "#00d800");
        $($that).val('Approved');
        $($that).closest('form').find('.reject_button').val('Reject')
        $(".js-loader").addClass('l-hidden');
      }).fail(handleError);
  });

  $(document.body).on('click', '.reject_button' ,function(e){
    e.preventDefault();
    var rejection_comment = prompt("Please specify reason for rejection!", "");
    if (rejection_comment != null) {
      external_vehicle_id = $(this).closest('form').find('.external_vehicle_id').val();
      $that = this;
      url = "<%= url.external_vehicles_load_reject_path('external_vehicle_id')%>"
      url = url.replace("external_vehicle_id", external_vehicle_id);

      $.ajax({
          url: url,
          data: {rejection_comment: rejection_comment},
          type: "POST"
        }).done(function(response) {
          $($that).closest('form').css("background-color", "#dc0000");
          $($that).val('Rejected');
          $(".js-loader").addClass('l-hidden');
      }).fail(handleError);
    }
  });

  $(document.body).on('click', '#delete_doc' ,function(e){
    e.preventDefault();
    if(confirm("Are you sure?") == true) {
      external_vehicle_doc_id = this.dataset.id
      $that = this;
      url = "<%= url.external_vehicles_document_path('id')%>"
      url = url.replace("id", external_vehicle_doc_id);

      $.ajax({
          url: url,
          type: "DELETE"
        }).done(function(response) {
          $($that).closest('.document_row').remove();
          $(".js-loader").addClass('l-hidden');
      }).fail(handleError);
    }
  });

  copy_data_to_clipboard_text($('.sold_vehicles_approver_table .vnum'));
  $(document.body).on('change', '.sold_vehicles_approver_table .vnum', function(e){
    copy_data_to_clipboard_text($('.vnum'))
  });
});

var handleError = function(xhr) {
  var response = $.parseJSON(xhr.responseText);
  alert(response.errors);
};

copy_data_to_clipboard_text = function(elements){
  var text = ''
  elements.each(function() {
    text = text + $(this).val() + '\n'
  });
  $('#clipboard').attr("data-clipboard-text", text)
}

show_warnings_before_submit = function(e){
  if($('.sold_vehicles_entry_table .no_agreement').length >0){
    e.preventDefault();
    alert('Please correct agreement details');
    return false;
  }

  var message = is_obsolete_or_future_date_exist();
  if(message.length >0){
    if(confirm(message) != true) {
      e.preventDefault();
      return false;
    }
  }

  if($('.sold_vehicles_entry_table').length !=0 && $('.file-loaded').length ==0){
    if(confirm("No documentation attached to batch, would you like to proceed?") != true) {
      e.preventDefault();
      return false;
    }
  }
  return false;
}

is_obsolete_or_future_date_exist = function(){
  var future_dates= $.unique($(".future_date").map(function() {
    return $(this).val().split(" ")[0];
  }).get());

  var obsolete_dates = $.unique($(".obsolete").map(function() {
    return $(this).val().split(" ")[0];
  }).get());

  var message = ''

  if (future_dates.length > 0 && obsolete_dates.length > 0){
    message = "Future purchase date(s) entered: "+ future_dates.join(', ') +"\nDate(s) older than 19 days entered: "+ obsolete_dates.join(', ') +"\nWould you like to Proceed?"
  }else if($('.future_date').length > 0){
    message = "Future purchase date(s) entered: "+ future_dates.join(', ') +"\nWould you like to Proceed?"
  }else if($('.obsolete').length > 0){
    message = "Date(s) older than 19 days entered: "+ obsolete_dates.join(', ') +"\nWould you like to Proceed?"
  }
  return message;
}


