jQuery ->
  $("#return_invoice_pawn_location_id").change ->
    $("#send_return_confirmation").prop "checked", true

  $("#floor_plan_company_id").change ->
    floorPlanBranchURI = '/floor_plan_companies/' + $(this).val() + '/floor_plan_branches.json';
    return $.ajax({url: floorPlanBranchURI}).done (response) ->
      floor_plan_branches = response.floor_plan_branches
      $('#floor_plan_branch_id').html("<option value=''>Select One</option>")
      $.each floor_plan_branches, (index, floor_plan_branch) ->
        $('#floor_plan_branch_id').append("<option value=" + floor_plan_branch.id + ">" + floor_plan_branch.name + "</option>")

  $("#verify").bind("change",
    if($("#verify").val()) == "true"
      if confirm("<%= I18n.t('return_invoice.address.easy_post_verification_prompt') %>")
        $('<input>').attr('type','hidden').attr('name','enable_verification').attr('value',false).appendTo('form');
        $("#verify").parents('form').submit();
      else
        $('<input>').attr('type','hidden').attr('name','enable_verification').attr('value',true).appendTo('form');
    )


  $("#total").attr("disabled", true);

  $('#return_invoice_bill_of_sale_attributes_price').change ->
    vehicle_price = $(this).val()
    tax_rate = $('#tax_rate').val()
    if($.isNumeric(tax_rate) && $.isNumeric(vehicle_price))
      calculated_tax = parseFloat((vehicle_price * tax_rate)/100).toFixed(2)
      $('#return_invoice_bill_of_sale_attributes_tax').val(calculated_tax)
    else
      $('#return_invoice_bill_of_sale_attributes_tax').val('')

