%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
- if @network_plus_offer.approved?
  .offer-notice.success
    %p= raw "#{t('admin.network_plus_offer.approvals.show.accepted_care_prompt', email: Astro::AUTOMATIC_EMAIL)}"

- if @network_plus_offer.rejected?
  .offer-notice.error
    %p= raw "#{t('admin.network_plus_offer.approvals.show.rejected_care_prompt', email: Astro::AUTOMATIC_EMAIL)}"

- current_date = Date.current
= l(current_date, format: "%B #{current_date.day.ordinalize}, %Y")

%p= raw t('admin.network_plus_offer.approvals.show.paragraphs.content', link: link_to(t('admin.network_plus_offer.approvals.show.view_guide'), 'http://www.agreementshield.com/how-to-return/'))

%table.flat-rates
%thead
  %tr.super-header
    %th{colspan:"2"}= t('admin.network_plus_offer.approvals.show.headings.protection')
%tbody
  %tr
    %td.information
      %b= t('admin.network_plus_offer.approvals.show.headings.agreement_information')
    %td #{@network_plus_offer.agreement_no} - #{@network_plus_offer.agreement_info.agreementship_name}
  %tr
    %td
      %b= t('admin.network_plus_offer.approvals.show.headings.rate')
    %td= number_to_currency(@network_plus_offer.price)
  %tr
    %td.days
      %b= t('admin.network_plus_offer.approvals.show.headings.days_from_purchase')
    %td 21
  %tr
    %td.miles
      %b= t('admin.network_plus_offer.approvals.show.headings.additional', { units: @network_plus_offer.units })
    %td= @network_plus_offer.miles_selected
  %tr
    %td
      %b= t('admin.network_plus_offer.approvals.show.effective_date.label')
    %td
      = @effective_date

%p= t('admin.network_plus_offer.approvals.show.guidelines_heading')

%p= raw t('admin.network_plus_offer.approvals.show.guidelines.content', {max_odometer_limit: @network_plus_offer.limits[:max_odometer_limit], max_vehicle_value: @network_plus_offer.limits[:max_vehicle_value], link: 'http://www.agreementshield.com/how-to-return/', max_model_year: @network_plus_offer.max_model_year})

%p= raw t('admin.network_plus_offer.approvals.show.paragraphs.last_thing')

%p
  = t('admin.network_plus_offer.approvals.show.welcome')
%p
  = t('admin.network_plus_offer.approvals.show.regards')

  %br
  %br
  %span.director-name= t('admin.network_plus_offer.approvals.show.agreementshield_team')
%p
  = t('admin.network_plus_offer.approvals.show.agreementshield_customer_service')
  %br
  = raw t('admin.network_plus_offer.approvals.show.info', email: link_to("Members@agreementshield.com", "members@agreementshield.com"))
  %br
  = t('admin.network_plus_offer.approvals.show.hours', hours: t('help.support_hours'))
