= button_bar(back: {path: admin_dashboard_scores_path})
= @network_plus_offer.status_message unless @network_plus_offer.eligible_for_acceptance?

- current_date = Date.current
= l(current_date, format: "%B #{current_date.day.ordinalize}, %Y")

%p= raw t('admin.network_plus_offer.approvals.show.dear', agreementship_name: @network_plus_offer.agreement_info.agreementship_name)

%p= raw t('admin.network_plus_offer.approvals.show.paragraphs.content', link: link_to(t('admin.network_plus_offer.approvals.show.view_guide'), 'http://www.agreementshield.com/how-to-return/'))
%br
  %table.flat-rates
    %thead
      %tr.super-header
        %th
        %th{colspan:"3"}= t('admin.network_plus_offer.approvals.show.headings.protection')
      %tr.sub-header
        %th.information= t('admin.network_plus_offer.approvals.show.headings.agreement_information')
        %th= t('admin.network_plus_offer.approvals.show.headings.rate')
        %th.days= t('admin.network_plus_offer.approvals.show.headings.days_from_purchase')
        %th.miles= t('admin.network_plus_offer.approvals.show.headings.additional', units: @network_plus_offer.units)
    %tbody
      %tr
        %td #{@network_plus_offer.agreement_no} - #{@network_plus_offer.agreement_info.agreementship_name}
        %td= currency(@network_plus_offer.price, SupportedCountry::DEFAULT)
        %td 21
        %td= @network_plus_offer.miles_selected
%br
  %p= raw t('admin.network_plus_offer.approvals.show.guidelines_heading')
  %p= raw t('admin.network_plus_offer.approvals.show.guidelines.content', {max_odometer_limit: @network_plus_offer.limits[:max_odometer_limit], max_vehicle_value: @network_plus_offer.limits[:max_vehicle_value], link: 'http://www.agreementshield.com/how-to-return/', max_model_year: @network_plus_offer.max_model_year})

%p= raw t('admin.network_plus_offer.approvals.show.paragraphs.last_thing')

%p
  = t('admin.network_plus_offer.approvals.show.welcome')
%p
  = t('admin.network_plus_offer.approvals.show.regards')

  %br
  %br
  %span.director-name= t('admin.network_plus_offer.approvals.show.agreementshield_team')
%p
  = t('admin.network_plus_offer.approvals.show.agreementshield_customer_service')
  %br
  = raw t('admin.network_plus_offer.approvals.show.info', email: link_to("Members@agreementshield.com", "members@agreementshield.com"))
  %br
  = t('admin.network_plus_offer.approvals.show.hours', hours: t('help.support_hours'))

- if @network_plus_offer.eligible_for_acceptance?
  .acceptance-btns
    = form_for @network_plus_offer, url: admin_network_plus_offer_approval_path(@network_plus_offer), method: 'post' do |f|
      = f.submit t('admin.network_plus_offer.approvals.show.accept'), class: 'green btn'
      = link_to t('admin.network_plus_offer.approvals.show.reject'), admin_network_plus_offer_approval_path(network_plus_offer_id: @network_plus_offer.id), method: :delete, class: 'red btn'
      %br
        %b
          = t('admin.network_plus_offer.approvals.show.begin_immediately')


