%footer.site-footer
  .contactInfo
    = t('layouts.footer.contact_html')
    %strong= mail_to "support@agreementshield.com"
    %span.links
      =link_to t('navigation.layout.static_links.terms_and_conditions'), page_path(:terms)
      |
      = link_to t('navigation.layout.static_links.faq'), page_path(:faq)
      |
      = link_to t('navigation.layout.static_links.privacy_policy'), page_path(:privacy_policy)
      |
      = link_to t('navigation.layout.static_links.visitor_agreement'), page_path(:visitor_agreement)
  = render partial: "layouts/google_analytics"
  = render partial: "layouts/full_story"
