%meta{"HTTP-EQUIV"=>"Content-type", "content"=>"text/html; charset=UTF-8"}
%link{"rel"=>"apple-touch-icon-precomposed", "href"=>"/assets/web-app-icon.png"}
%link{"rel"=>"shortcut icon", "href"=>"/assets/favicon.ico"}
%meta{"name"=>"viewport", "content"=>"width=device-width, initial-scale=1.0"}
%meta{"name"=>"apple-mobile-web-app-capable", "content"=>"yes"}
