!!!
%html
  %head
    %title
      Astro Admin
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "admin"
    = javascript_include_tag "//js.pusher.com/1.12/pusher.min.js"
    = csrf_meta_tags
    = render partial: "layouts/header_info"

  %body
    = render partial: "shared/dev_badge" unless Rails.env.production?
    .wrapper
      = render partial: "layouts/messages"
      .container.cf
        = yield
        .deploy_time
          = last_deploy_time
