!!!
%html
  %head
    %title= yield(:page_title).presence || "AgreementShield"
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "print", :media => "print"
    = yield :stylesheets

    = javascript_include_tag "application"
    = yield :scripts
    = csrf_meta_tags
    = render partial: "layouts/header_info"

  %body
    / loader
    .js-loader.l-hidden.loader-l-container.loader-s-container
      .progress
    = render partial: "shared/dev_badge" unless Rails.env.production?
    = render "help_panels/panel"
    .wrapper
      = render partial: "layouts/messages"
      .l-top-adjustment.cf
        - if current_user
          = button_bar back: { skip: true }, home: { skip: true } do
            = link_to t('forms.logout'), destroy_user_session_path, {method: :delete, class: "btn cancel_btn"} if current_user.can_logout?
        = yield
    = render partial: "layouts/footer"
