#admin_users
= button_bar
%br/
%h1= t('admin.user_versions.index.header_copy')

= form_for :filters, url: admin_user_versions_path, method: :get do |f|
  .search_filters
    .date_from
      = f.label :date_from do
        Date From:
        = f.text_field :date_from, value: date_from, class: 'js-datetimepicker'
    .date_to
      = f.label :date_to do
        Date To:
        = f.text_field :date_to, value: date_to, class: 'js-datetimepicker'
      = f.hidden_field :user_id, value: user_id
    .clear
      .action_buttons{:style => "margin-bottom: 30px;"}
        = f.submit(I18n.t('forms.generic_submission'))
        = link_to 'Reset', admin_user_versions_path(user_id: user_id)


%table#user_versions_table
  - @versions.each do |version|
    %thead
      - if version.event == 'update'
        %tr
          %th.version_table_th{:align => "left"}
            = version_heading(version)
          %td.version_table_th{:align => "right"}
            = time_stamp(version)
          %tr
            %td
              - version.changeset.each do |change|
                %tr
                  - if change[0] != 'updated_at'
                    %td
                      = change_set(change)
      - elsif version.event == 'create'
        %tr
          %th.version_table_th{:align => "left"}
            = create_version_heading(version)
          %td.version_table_th{:align => "right"}
            = time_stamp(version)
          %tr
            %td
%br
= paginate @versions
