%p
  #{I18n.t('external_vehicles_load.email.sentence_1', batch_id: @batch_id)}
  #{I18n.t('external_vehicles_load.email.phrase_1')}
  = link_to I18n.t('external_vehicles_load.email.phrase_2'), @external_vehicles_approval_url
  #{I18n.t('external_vehicles_load.email.phrase_3')}
%p
  %table{border: 1}
    %tbody
      %tr
        %td ID
        %td VNUM:
        %td RejectionReason:
      %tr
        %td= @id
        %td= @vnum
        %td= @rejection_comment
