

<%= I18n.t('external_vehicles_load.email.sentence_1', batch_id: @batch_id) %>
<%= I18n.t('external_vehicles_load.email.phrase_1') %><%= I18n.t('external_vehicles_load.email.phrase_2') %> <%= @external_vehicles_approval_url %><%= I18n.t('external_vehicles_load.email.phrase_3') %>

  ID      VNUM                     REJECTION REASON
  <%= @id %>    <%= @vnum %>      <%= @rejection_comment %>
